Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

fix(ci): fixed missing token and quotes (#1201)
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fixed missing token and quotes (#1201)
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(release): fix missing array rebuilt (#1200)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(release): fix missing array rebuilt (#1200)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(ci): fixed missing token and quotes (#1201)
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(release): fix missing array rebuilt (#1200)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(ci): fixed missing token and quotes (#1201)
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

chore(release): add missing .version file for gorgone
  gorgone/.version
Owners: @centreon/owners-cpp

chore(release): add missing .version file for gorgone
  gorgone/.version
Owners: @centreon/owners-cpp

chore(release): fix .version file for gorgone
  gorgone/.version
Owners: @centreon/owners-cpp

chore(release): add missing .version file for gorgone
  gorgone/.version
Owners: @centreon/owners-cpp

enh(release): add missing version files
  .version
Owners: @centreon/owners-cpp

enh(release): add missing version files
  .version
Owners: @centreon/owners-cpp

enh(release): add missing version files
  .version
Owners: @centreon/owners-cpp

workflow: need artifacts for map testing
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3559)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3559)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

restore bbdo v2 instance_configuration and (pb_)instance_configuration is sent on neb reload
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/events.hh
  broker/neb/inc/com/centreon/broker/neb/instance_configuration.hh
  broker/neb/src/broker.cc
  broker/neb/src/initial.cc
  broker/neb/src/instance_configuration.cc
  broker/neb/src/neb.cc
  tests/broker-engine/bbdo-protobuf.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

restore bbdo v2 instance_configuration and (pb_)instance_configuration is sent on neb reload (#1207)
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/events.hh
  broker/neb/inc/com/centreon/broker/neb/instance_configuration.hh
  broker/neb/src/broker.cc
  broker/neb/src/initial.cc
  broker/neb/src/instance_configuration.cc
  broker/neb/src/neb.cc
  tests/broker-engine/bbdo-protobuf.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

workflow: generate collect artifact for map
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

enh(tests): new tests on BA to attempt to reproduce an issue
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
  tests/resources/db_variables.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(collect): init.sh added to simplify compilation
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  init.sh
Owners: @centreon/owners-cpp

cleanup(collect): comments added
  init.sh
Owners: @centreon/owners-cpp

fix(init.sh): exit forgotten
  init.sh
Owners: @centreon/owners-cpp

fuck
  tests/resources/db_variables.resource
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on BA to attempt to reproduce an issue
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(tests): new tests on BA to attempt to reproduce an issue
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): a keyword forgotten
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests): another missing keyword
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(tests): missing keyword
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on BA to attempt to reproduce an issue (#1210)
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(bam): sometimes kpi creation may break BA's consistency
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/db_conf.py
  tests/resources/resources.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(bam): sometimes kpi creation may break BA's consistency
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  init.sh
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): host_dependency and service_dependency are not used on broker side. They are removed.
  bbdo/events.hh
  broker/bam/inc/com/centreon/broker/bam/internal.hh
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/callbacks.hh
  broker/neb/inc/com/centreon/broker/neb/events.hh
  broker/neb/inc/com/centreon/broker/neb/host_dependency.hh
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/inc/com/centreon/broker/neb/service_dependency.hh
  broker/neb/src/broker.cc
  broker/neb/src/callbacks.cc
  broker/neb/src/host_dependency.cc
  broker/neb/src/initial.cc
  broker/neb/src/service_dependency.cc
  broker/neb/test/host_dependency.cc
  broker/neb/test/randomize.cc
  broker/neb/test/service_dependency.cc
  broker/storage/inc/com/centreon/broker/storage/conflict_manager.hh
  broker/storage/src/conflict_manager.cc
  broker/storage/src/conflict_manager_sql.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  broker/unified_sql/src/stream_storage.cc
  engine/inc/com/centreon/engine/servicedependency.hh
  engine/src/configuration/applier/servicedependency.cc
Owners: @centreon/owners-cpp

enh(cmake): init.sh added to simplify the compilation
  init.sh
Owners: @centreon/owners-cpp

fix(collect/vcpkg): missing dependency added
  vcpkg.json
Owners: @centreon/owners-cpp

chore(release): bump collect version to 23.10.5
  .version
  CMakeLists.txt
Owners: @centreon/owners-cpp

chore(release): bump collect version to 23.04.10
  .version
  CMakeLists.txt
Owners: @centreon/owners-cpp

enh(bam): sometimes kpi creation may break BA's consistency
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/db_conf.py
  tests/resources/resources.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(tests): new tests on BA to attempt to reproduce an issue (#1210)
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/kpi.cc
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e
