Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-perl, @centreon/owners-doc

fix(broker/sql): two issues in the mysql object
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
Owners: @centreon/owners-cpp

enh(tests): new test to check an issue with the database connection
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(broker): stats_exporter disabled
  broker/CMakeLists.txt
Owners: @centreon/owners-cpp

cleanup(broker): stats-exporter does not exist anymore
  packaging/centreon-broker-stats-exporter-debuginfo.yaml
  packaging/centreon-broker-stats-exporter.yaml
Owners: @centreon/owners-pipelines

fix(engine): grpc api evolution and new inheritance tests (#1878)
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/serviceescalation_helper.cc
  engine/enginerpc/engine.proto
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/engine_impl.hh
  tests/engine/command_inheritance.robot
  tests/engine/connector_inheritance.robot
  tests/engine/escalation_inheritance.robot
  tests/engine/multiple_template_inheritance.robot
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

wip(ci): to remove, just to get artifacts
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(tests): bad backport
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(broker/mysql): mysql_connection had an issue with last mariadb server
  broker/core/src/mysql_connection.cc
Owners: @centreon/owners-cpp

fix(broker/sql): two issues in the mysql object
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
Owners: @centreon/owners-cpp

enh(tests): new tests on database connection
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new test that can lead to a segfault with the mysql object
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(common/perfdata): Fix parsing labels with brackets in their names (but not data source types)
  common/src/perfdata.cc
  engine/tests/string/string.cc
Owners: @centreon/owners-cpp

enh(common/tests): new test on perfdata parsing
  common/tests/perfdata_test.cc
Owners: @centreon/owners-cpp

fix typo on hosts_hostgroups
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker/unified_sql): typo on hosts_hostgroups (#1881)
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(common/perfdata): Fix parsing labels with brackets in their names (but not data source types)
  common/src/perfdata.cc
  engine/tests/string/string.cc
Owners: @centreon/owners-cpp

enh(common/tests): new test on perfdata parsing
  common/tests/perfdata_test.cc
Owners: @centreon/owners-cpp

fix(broker/unified_sql): typo on hosts_hostgroups (#1871)
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker/unified_sql): typo on hosts_hostgroups (#1871) (#1883)
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker): perfdata parsing (#1882)
  common/src/perfdata.cc
  common/tests/perfdata_test.cc
  engine/tests/string/string.cc
Owners: @centreon/owners-cpp

fix(broker): perfdata parsing (#1880)
  common/src/perfdata.cc
  common/tests/perfdata_test.cc
  engine/tests/string/string.cc
Owners: @centreon/owners-cpp

Mon 147936 native windows drivesize (#1866)
  .github/scripts/agent_installer_test.ps1
  .github/scripts/agent_robot_test.ps1
  .github/scripts/wsl-collect-test-robot.sh
  .github/workflows/windows-agent-robot-test.yml
  agent/CMakeLists.txt
  agent/doc/agent-doc.md
  agent/inc/com/centreon/agent/drive_size.hh
  agent/native_windows/src/check_cpu.cc
  agent/native_windows/src/check_drive_size.cc
  agent/native_windows/src/check_uptime.cc
  agent/precomp_inc/precomp.hh
  agent/src/check.cc
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/drive_size.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_linux_cpu_test.cc
  agent/test/check_uptime_test.cc
  agent/test/check_windows_cpu_test.cc
  agent/test/drive_size_test.cc
  broker/CMakeLists.txt
  common/inc/com/centreon/common/perfdata.hh
  common/inc/com/centreon/common/rapidjson_helper.hh
  common/src/perfdata.cc
  common/src/rapidjson_helper.cc
  tests/broker-engine/cma.robot
  tests/resources/Agent.py
  tests/resources/Common.py
Owners: @centreon/owners-pipelines, @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker/sql): two issues in the mysql object
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
Owners: @centreon/owners-cpp

enh(tests): new tests on database connection
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new test that can lead to a segfault with the mysql object
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(broker): if errno==0, we considerer the error as a server error
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): when the test is finished, we must restore data_bin
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(cmake): missing dependency on pb_neb_lib
  broker/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(broker): if errno==0, we considerer the error as a server error
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(github): add packages in artifacts
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

enh(tests): new test that can lead to a segfault with the mysql object
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(broker): if errno==0, we considerer the error as a server error
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): regression due to backport
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(tests): bad condition fixed
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tests): when the test is finished, we must restore data_bin
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tests): bad condition fixed
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(broker and tests): fixes after review
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

Mon 153321 mariadb connection with errno0 24.10 (#1884)
  broker/CMakeLists.txt
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

Mon 153321 mariadb connection with errno0 24.10 (#1884)
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(gh): packaging disabled by default
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

.github/CODEOWNERS:

*                              @centreon/owners-cpp

.github/**                     @centreon/owners-pipelines
packaging/**                   @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e

gorgone/                       @centreon/owners-perl
gorgone/docs/                  @centreon/owners-doc
perl-libs/**                   @centreon/owners-perl

*.pm                           @centreon/owners-perl
*.pl                           @centreon/owners-perl
