Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

cleanup(broker/bam): unused headers removed
  broker/bam/inc/com/centreon/broker/bam/availability_thread.hh
  broker/bam/inc/com/centreon/broker/bam/ba.hh
  broker/bam/inc/com/centreon/broker/bam/bool_binary_operator.hh
  broker/bam/inc/com/centreon/broker/bam/bool_more_than.hh
  broker/bam/inc/com/centreon/broker/bam/bool_not.hh
  broker/bam/inc/com/centreon/broker/bam/bool_or.hh
  broker/bam/inc/com/centreon/broker/bam/computable.hh
  broker/bam/inc/com/centreon/broker/bam/configuration/applier/ba.hh
  broker/bam/inc/com/centreon/broker/bam/configuration/applier/state.hh
  broker/bam/inc/com/centreon/broker/bam/configuration/state.hh
  broker/bam/inc/com/centreon/broker/bam/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_ba.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_boolexp.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_service.hh
  broker/bam/inc/com/centreon/broker/bam/service_listener.hh
  broker/bam/src/ba.cc
  broker/bam/src/ba_best.cc
  broker/bam/src/ba_impact.cc
  broker/bam/src/ba_ratio_number.cc
  broker/bam/src/ba_ratio_percent.cc
  broker/bam/src/ba_worst.cc
  broker/bam/src/bool_service.cc
  broker/bam/src/configuration/applier/ba.cc
  broker/bam/src/configuration/applier/bool_expression.cc
  broker/bam/src/configuration/reader_v2.cc
  broker/bam/src/connector.cc
  broker/bam/src/event_cache_visitor.cc
  broker/bam/src/exp_builder.cc
  broker/bam/src/factory.cc
  broker/bam/src/kpi_service.cc
  broker/bam/src/main.cc
  broker/bam/src/monitoring_stream.cc
  broker/bam/src/reporting_stream.cc
  broker/core/inc/com/centreon/broker/io/stream.hh
  broker/neb/inc/com/centreon/broker/neb/acknowledgement.hh
Owners: @centreon/owners-cpp

enh(bbdo): new message services_book_state to store BAs in cache
  .gitignore
  bbdo/CMakeLists.txt
  bbdo/bam.proto
  bbdo/events.hh
Owners: @centreon/owners-cpp

MON-35517 Centreon next 24.04 (Jira release #19702#) (#3356)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

MON-35517 Centreon next 24.04 (Jira release #19702#) (#3356)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(tests): Update Common.py to add compare_dot_file() keyword
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(ci): restore default web run on alma9 (#3271)
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

add feedback
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

chore(ci): correct gha version (#3419)
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

cleanup(broker/bam): coding style better
  bbdo/bam_state.proto
  broker/bam/inc/com/centreon/broker/bam/service_state.hh
  broker/bam/src/bool_and.cc
  broker/bam/src/bool_call.cc
  broker/bam/src/bool_constant.cc
  broker/bam/src/bool_equal.cc
  broker/bam/src/bool_expression.cc
  broker/bam/src/bool_less_than.cc
  broker/bam/src/bool_more_than.cc
  broker/bam/src/bool_not.cc
  broker/bam/src/bool_not_equal.cc
  broker/bam/src/bool_operation.cc
  broker/bam/src/bool_or.cc
  broker/bam/src/bool_service.cc
  broker/bam/src/configuration/applier/bool_expression.cc
  broker/bam/src/configuration/applier/kpi.cc
  broker/bam/src/configuration/state.cc
  broker/bam/src/event_cache_visitor.cc
  broker/bam/src/exp_builder.cc
  broker/bam/src/exp_parser.cc
  broker/bam/src/exp_tokenizer.cc
  broker/bam/src/factory.cc
  broker/bam/src/hst_svc_mapping.cc
  broker/bam/src/impact_values.cc
  broker/bam/src/kpi.cc
  broker/bam/src/monitoring_stream.cc
  broker/bam/src/reporting_stream.cc
  broker/bam/src/service_listener.cc
Owners: @centreon/owners-cpp

fix(tests): oups, missing keyword
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(tests): oups, missing keyword
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(tests): regression with backport
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

test key
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

wip
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(packaging)
  packaging/centreon-connector-ssh.yaml
Owners: @centreon/owners-pipelines

fix(broker): issue with fmt and timestamp fixed
  broker/bam/src/kpi_service.cc
  broker/bam/src/reporting_stream.cc
  broker/core/inc/com/centreon/broker/timestamp.hh
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
Owners: @centreon/owners-cpp

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

fix(cmake)
  CMakeLists.txt
Owners: @centreon/owners-cpp

wip
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
Owners: @centreon/owners-pipelines

fix(gha): unit tests improved
  .github/scripts/collect-unit-tests.sh
Owners: @centreon/owners-pipelines

fix(cmake): alma9 compiles
  CMakeLists.txt
  broker/core/multiplexing/CMakeLists.txt
  broker/grpc/generate_proto.py
  broker/http_tsdb/CMakeLists.txt
  broker/lua/CMakeLists.txt
  broker/neb/CMakeLists.txt
  broker/simu/CMakeLists.txt
  broker/sql/CMakeLists.txt
  broker/storage/CMakeLists.txt
  common/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(broker/tests): debug log level replaced by info
  broker/core/test/cache/global_cache_test.cc
  broker/core/test/processing/acceptor.cc
  broker/http_client/test/http_client_test.cc
  broker/http_client/test/http_connection_test.cc
  broker/http_tsdb/test/stream_test.cc
  broker/tcp/test/acceptor.cc
Owners: @centreon/owners-cpp

fix(packaging): dependencies added
  cmake-vcpkg.sh
  conanfile.txt
  packaging/centreon-broker-core.yaml
  packaging/centreon-broker-stats-exporter-debuginfo.yaml
  packaging/centreon-connector-ssh.yaml
Owners: @centreon/owners-cpp, @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-alma9
Owners: @centreon/owners-pipelines

fix(gha): conan is dead
  .github/scripts/collect-unit-tests.sh
Owners: @centreon/owners-pipelines

fix(gha): bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  packaging/centreon-collect-client-debuginfo.yaml
Owners: @centreon/owners-pipelines

wip
  .github/workflows/docker-builder.yml
Owners: @centreon/owners-pipelines

fix(cmake): debian build improved
  cmake-vcpkg.sh
Owners: @centreon/owners-cpp

enh(cmake): vcpkg forgotten files
  cmake-vcpkg.sh
  overlays/curl/portfile.cmake
  overlays/curl/vcpkg.json
  overlays/libssh2/portfile.cmake
  overlays/libssh2/vcpkg.json
  overlays/openssl/portfile.cmake
  overlays/openssl/vcpkg.json
  overlays/zlib/portfile.cmake
  overlays/zlib/vcpkg.json
  vcpkg.json
Owners: @centreon/owners-cpp

fix(tests): test on downtime improved
  tests/broker-engine/downtimes.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

wip(broker/tests): a test seems to block
  broker/core/test/processing/acceptor.cc
Owners: @centreon/owners-cpp

wip
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

wip
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

fix(gha): always debian
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(gha): multiple build-args
  .github/workflows/docker-builder.yml
Owners: @centreon/owners-pipelines

wip
  .github/workflows/package-collect.yml
  packaging/centreon-broker-cbd.yaml
  packaging/centreon-broker-cbmod-debuginfo.yaml
  packaging/centreon-broker-cbmod.yaml
  packaging/centreon-broker-core-debuginfo.yaml
  packaging/centreon-broker-core.yaml
  packaging/centreon-broker-graphite-debuginfo.yaml
  packaging/centreon-broker-graphite.yaml
  packaging/centreon-broker-influxdb-debuginfo.yaml
  packaging/centreon-broker-influxdb.yaml
  packaging/centreon-broker-selinux.yaml
  packaging/centreon-broker-stats-exporter-debuginfo.yaml
  packaging/centreon-broker-stats-exporter.yaml
  packaging/centreon-broker-victoria-metrics-debuginfo.yaml
  packaging/centreon-broker-victoria-metrics.yaml
  packaging/centreon-clib-debuginfo.yaml
  packaging/centreon-clib.yaml
  packaging/centreon-collect-client-debuginfo.yaml
  packaging/centreon-collect-client.yaml
  packaging/centreon-connector-perl-debuginfo.yaml
  packaging/centreon-connector-perl.yaml
  packaging/centreon-connector-ssh-debuginfo.yaml
  packaging/centreon-connector-ssh.yaml
  packaging/centreon-engine-bench-debuginfo.yaml
  packaging/centreon-engine-bench.yaml
  packaging/centreon-engine-daemon-debuginfo.yaml
  packaging/centreon-engine-daemon.yaml
  packaging/centreon-engine-selinux.yaml
Owners: @centreon/owners-pipelines
