Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

add feedbacks
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

enh(broker): all bbdo events are translated to protobuf
  broker/neb/src/callbacks.cc
  broker/neb/src/initial.cc
Owners: @centreon/owners-cpp

fix (gorgone): add cmd to whitelist, to fix inability to link Remote Server to Central (#3473)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/client_server_zmq.md
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix (gorgone): add cmd to whitelist, to fix inability to link Remote Server to Central (#3473)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/client_server_zmq.md
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

enh(tests): Config BBDO3 keyword changed into Ctn Config BBDO3
  tests/bam/bam_pb.robot
  tests/bam/boolean_rules.robot
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/acknowledgement.robot
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/bench.robot
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/downtimes.robot
  tests/broker-engine/external-commands.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/hostgroups.robot
  tests/broker-engine/hosts-with-notes-and-actions.robot
  tests/broker-engine/log-v2_engine.robot
  tests/broker-engine/muxer_filter.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/reverse-connection.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/servicegroups.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services-with-notes-and-actions.robot
  tests/broker-engine/services.robot
  tests/broker-engine/tags.robot
  tests/broker-engine/victoria.robot
  tests/broker/start-stop.robot
  tests/ccc/ccc.robot
  tests/engine/forced_checks.robot
  tests/migration/migration.robot
  tests/resources/resources.resource
  tests/severities/hosts.robot
  tests/severities/severities.robot
Owners: @centreon/owners-robot-e2e

enh(tests): Save Logs If Failed keyword changed into Ctn Save Logs If Failed
  tests/bam/bam_pb.robot
  tests/bam/boolean_rules.robot
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/acknowledgement.robot
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/compression.robot
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/downtimes.robot
  tests/broker-engine/external-commands.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/hosts-with-notes-and-actions.robot
  tests/broker-engine/log-v2_engine.robot
  tests/broker-engine/muxer_filter.robot
  tests/broker-engine/notification-unstable.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/reverse-connection.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/rrdcached.robot
  tests/broker-engine/scheduler.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services-with-notes-and-actions.robot
  tests/broker-engine/services.robot
  tests/broker-engine/tls.robot
  tests/broker-engine/victoria.robot
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/grpc-stream.robot
  tests/resources/resources.resource
  tests/severities/severities.robot
Owners: @centreon/owners-robot-e2e

chore(release): bump collect 22.10.9
  CMakeLists.txt
Owners: @centreon/owners-cpp

enh(tests): Kindly Stop Broker keyword changed into Ctn Kindly Stop Broker
  tests/bam/bam_pb.robot
  tests/bam/boolean_rules.robot
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
  tests/broker-database/networkFailure.robot
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/compression.robot
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/downtimes.robot
  tests/broker-engine/external-commands.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/hosts-with-notes-and-actions.robot
  tests/broker-engine/log-v2_engine.robot
  tests/broker-engine/muxer_filter.robot
  tests/broker-engine/notification-unstable.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/reverse-connection.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services-with-notes-and-actions.robot
  tests/broker-engine/services.robot
  tests/broker-engine/start-stop.robot
  tests/broker-engine/tls.robot
  tests/broker-engine/victoria.robot
  tests/broker/bbdo-server-client-ko.robot
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/bbdo-server-client.robot
  tests/broker/filters.robot
  tests/broker/grpc-stream.robot
  tests/broker/log.robot
  tests/broker/sql.robot
  tests/ccc/ccc.robot
  tests/engine/forced_checks.robot
  tests/migration/migration.robot
  tests/severities/hosts.robot
  tests/severities/severities.robot
Owners: @centreon/owners-robot-e2e

enh(tests): Stop Engine keyword changed into Ctn Stop Engine
  tests/bam/bam_pb.robot
  tests/bam/boolean_rules.robot
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
  tests/broker-database/networkFailure.robot
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/compression.robot
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/downtimes.robot
  tests/broker-engine/external-commands.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/hosts-with-notes-and-actions.robot
  tests/broker-engine/log-v2_engine.robot
  tests/broker-engine/muxer_filter.robot
  tests/broker-engine/notification-unstable.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/reverse-connection.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services-with-notes-and-actions.robot
  tests/broker-engine/services.robot
  tests/broker-engine/start-stop.robot
  tests/broker-engine/tags.robot
  tests/broker-engine/tls.robot
  tests/broker-engine/victoria.robot
  tests/broker/sql.robot
  tests/broker/start-stop.robot
  tests/ccc/ccc.robot
  tests/connector_ssh/connector_ssh.robot
  tests/engine/forced_checks.robot
  tests/engine/perl-connectors.robot
  tests/engine/start-stop.robot
  tests/migration/migration.robot
  tests/resources/resources.resource
  tests/severities/hosts.robot
  tests/severities/severities.robot
Owners: @centreon/owners-robot-e2e

fix (gorgone): Gorgone fix backport (#3473) (#3483)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/client_server_zmq.md
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix (gorgone): Gorgone fix backport (#3473) (#3484)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/client_server_zmq.md
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

enh(tests): Enable Host Notifications
  tests/broker-engine/external-commands2.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

enh(tests): work on Broker.py
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/rrdcached.robot
  tests/broker-engine/start-stop.robot
  tests/broker-engine/tls.robot
  tests/broker/grpc-stream.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

enh(tests): Add Broker... keywords
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Add Host... keywords
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Remove Host From Broker... keyword
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Broker.py
  tests/bam/bam_pb.robot
  tests/broker-engine/bench.robot
  tests/broker/log.robot
  tests/broker/sql.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Broker.py
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Broker.py
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/rrdcached.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

fix (gorgone): Gorgone fix backport (#3473) (#3485)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/client_server_zmq.md
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 22.10.5
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

chore(release): bump collect to 23.04.9
  CMakeLists.txt
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 23.04.11
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 23.10.4
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

chore(release): bump collect to 23.10.4
  CMakeLists.txt
Owners: @centreon/owners-cpp

Update .github/workflows/release.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

Remove unused arrays
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

enh(tests):
  tests/bam/bam_pb.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/reverse-connection.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/tags.robot
  tests/broker-engine/victoria.robot
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/filters.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

enh(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(ci): replace job conditional by dedicated step (#1169)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(ci): replace job conditional by dedicated step (#1169)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix: Dump Process fixed
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

Stop Engine Broker And Save Logs
  tests/broker-database/dedicated-connection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/bench.robot
  tests/broker-engine/hostgroups.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/scheduler.robot
  tests/broker-engine/servicegroups.robot
  tests/broker-engine/start-stop.robot
  tests/broker-engine/tags.robot
  tests/broker-engine/whitelist.robot
  tests/migration/migration.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-database/networkFailure.robot
  tests/broker-engine/acknowledgement.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/acknowledgement.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/anomaly-detection.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/external-commands.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/services-increased.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/bam/boolean_rules.robot
  tests/broker-engine/bench.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-database/networkFailure.robot
  tests/broker-engine/compression.robot
  tests/broker-engine/log-v2_engine.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/rrdcached.robot
  tests/broker-engine/scheduler.robot
  tests/broker-engine/start-stop.robot
  tests/broker-engine/tls.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-database/networkFailure.robot
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/muxer_filter.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/rrd.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e
