Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-perl, @centreon/owners-doc

.github/CODEOWNERS:

*                              @centreon/owners-cpp

.github/**                     @centreon/owners-pipelines
packaging/**                   @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e

gorgone/                       @centreon/owners-perl
gorgone/docs/                  @centreon/owners-doc
perl-libs/**                   @centreon/owners-perl

*.pm                           @centreon/owners-perl
*.pl                           @centreon/owners-perl

fix(broker): log message changed
  broker/core/sql/src/mysql_connection.cc
Owners: @centreon/owners-cpp

fix(tests): disconnection from database added in tests
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tests): tag updated
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(broker & tests): changes after review
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker & tests): fixes after review
  broker/core/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): a compilation dependency added
  engine/modules/opentelemetry/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(tests): missing keywords are added
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

fix(broker/sql): two issues in the mysql object
  .github/workflows/package-collect.yml
  broker/CMakeLists.txt
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  packaging/centreon-broker-stats-exporter-debuginfo.yaml
  packaging/centreon-broker-stats-exporter.yaml
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
  tests/resources/resources.robot
Owners: @centreon/owners-pipelines, @centreon/owners-cpp, @centreon/owners-robot-e2e

chore(packaging): package centreon-common in a dedicated workflow
  .github/workflows/centreon-common.yml
  .github/workflows/get-environment.yml
  packaging/centreon-collect/centreon-broker-cbd-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-cbd.yaml
  packaging/centreon-collect/centreon-broker-cbmod-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-cbmod.yaml
  packaging/centreon-collect/centreon-broker-core-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-core.yaml
  packaging/centreon-collect/centreon-broker-graphite-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-graphite.yaml
  packaging/centreon-collect/centreon-broker-influxdb-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-influxdb.yaml
  packaging/centreon-collect/centreon-broker-selinux.yaml
  packaging/centreon-collect/centreon-broker-victoria-metrics-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-victoria-metrics.yaml
  packaging/centreon-collect/centreon-clib-debuginfo.yaml
  packaging/centreon-collect/centreon-clib.yaml
  packaging/centreon-collect/centreon-collect-client-debuginfo.yaml
  packaging/centreon-collect/centreon-collect-client.yaml
  packaging/centreon-collect/centreon-connector-perl-debuginfo.yaml
  packaging/centreon-collect/centreon-connector-perl.yaml
  packaging/centreon-collect/centreon-connector-ssh-debuginfo.yaml
  packaging/centreon-collect/centreon-connector-ssh.yaml
  packaging/centreon-collect/centreon-engine-bench-debuginfo.yaml
  packaging/centreon-collect/centreon-engine-bench.yaml
  packaging/centreon-collect/centreon-engine-daemon-debuginfo.yaml
  packaging/centreon-collect/centreon-engine-daemon.yaml
  packaging/centreon-collect/centreon-engine-opentelemetry-debuginfo.yaml
  packaging/centreon-collect/centreon-engine-opentelemetry.yaml
  packaging/centreon-collect/centreon-engine-selinux.yaml
  packaging/centreon-collect/centreon-monitoring-agent-debuginfo.yaml
  packaging/centreon-collect/centreon-monitoring-agent-selinux.yaml
  packaging/centreon-collect/centreon-monitoring-agent.yaml
Owners: @centreon/owners-pipelines

chore(packaging): package centreon-common in a dedicated workflow
  .github/workflows/get-environment.yml
  packaging/centreon-collect/centreon-engine-daemon-debuginfo.yaml
Owners: @centreon/owners-pipelines

fix(broker): mariadb connection with errno0 (#1888)
  broker/core/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

chore(packaging): package centreon-common in a dedicated workflow
  .github/workflows/centreon-common.yml
Owners: @centreon/owners-pipelines

chore(packaging): package centreon-common in a dedicated workflow
  .github/workflows/centreon-common.yml
Owners: @centreon/owners-pipelines

chore(packaging): package centreon-common in a dedicated workflow
  packaging/centreon-common/centreon-common.yaml
  packaging/centreon-common/src/config.yaml
Owners: @centreon/owners-pipelines

fix(broker): mariadb connection with errno0 (#1888)
  broker/core/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

chore(packaging): package centreon-common in a dedicated workflow
  packaging/centreon-common/src/centreon.systemd
Owners: @centreon/owners-pipelines

fix(broker/sql): two issues in the mysql object
  .github/workflows/package-collect.yml
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
  tests/resources/resources.robot
Owners: @centreon/owners-pipelines, @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker/sql): two issues in the mysql object
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  engine/modules/opentelemetry/CMakeLists.txt
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

chore(packaging): package centreon-common in a dedicated workflow
  packaging/centreon-common/centreon-common.yaml
Owners: @centreon/owners-pipelines

fix(broker/unified_sql): typo on hosts_hostgroups (#1881)
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  broker/unified_sql/src/stream_sql.cc
  common/src/perfdata.cc
  common/tests/perfdata_test.cc
  engine/modules/opentelemetry/CMakeLists.txt
  engine/tests/string/string.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

chore(packaging): package centreon-common in a dedicated workflow
  .github/workflows/centreon-common.yml
Owners: @centreon/owners-pipelines

fix(broker/sql): two issues in the mysql object
  broker/CMakeLists.txt
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  broker/unified_sql/src/stream_sql.cc
  common/src/perfdata.cc
  common/tests/perfdata_test.cc
  engine/tests/string/string.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(ci): jammy is no more used
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

fix(engine): rrd duplicate fixed
  broker/neb/src/callbacks.cc
  engine/src/downtimes/service_downtime.cc
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): when the test is finished, we must restore data_bin
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tests): condition fixed
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(broker & tests): fixes after review
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

cleanup(ci): no more need of this feature
  vcpkg.json
Owners: @centreon/owners-cpp

fix(tests): some code was commented, the code is alive again
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on database connection
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
Owners: @centreon/owners-robot-e2e

wip(broker): a patch to help debugging
  broker/neb/src/callbacks.cc
  vcpkg.json
Owners: @centreon/owners-cpp

enh(tests): new test that can lead to a segfault with the mysql object
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(tests): we don't have to check rrd duplicates with bbdo2
  tests/bam/inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

fix(tests): Two new methods to know if we are in bbdo2
  tests/bam/inherited_downtime.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(broker/sql): two issues in the mysql object
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
Owners: @centreon/owners-cpp

fix(broker): if errno==0, we considerer the error as a server error
  broker/core/sql/src/mysql_connection.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

wip(broker): work on duplicate data in rrd
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

wip(tests):issues with rrd duplicates
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/big-metrics.robot
Owners: @centreon/owners-robot-e2e

fix(broker/sql): two issues in the mysql object
  .github/workflows/centreon-collect.yml
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_multi_insert.cc
  broker/neb/src/callbacks.cc
  engine/src/downtimes/service_downtime.cc
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/big-metrics.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Broker.py
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-pipelines, @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(log_v2): -fPIC is needed to use log_v2 on various libraries
  common/log_v2/CMakeLists.txt
Owners: @centreon/owners-cpp
