Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

fix(broker/unified_sql): forgot to check pointers in previous patch
  broker/unified_sql/src/stream.cc
Owners: @centreon/owners-cpp

cleanup(engine): broker.cc unused functions removed
  engine/src/broker.cc
  tests/robot.sh
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(engine): broker_external_command does not need the timestamp argument as it was always null
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/commands/commands.cc
  engine/src/commands/processing.cc
  engine/src/events/loop.cc
  engine/src/events/timed_event.cc
  engine/src/sehandlers.cc
  engine/src/service.cc
Owners: @centreon/owners-cpp

wip(broker/unified_sql): sql log at debug level for BEBAMIDTU2
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

enh(tests): tests on inherited downtimes updated with new docs and new logs
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

fix(broker/neb): a little fix in cbmod
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

fix(broker/neb): cbmod must send an event when the downtime is just added
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

fix(broker/unified_sql): adaptive host works better with resources or hosts
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

enh(broker/unified_sql): new log to better understand downtime processing
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker): disable sending custom variables list in initial configuration , already sent in (applier)
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): new log to understand the issue with BEUTAG11
  engine/src/broker.cc
Owners: @centreon/owners-cpp

fix(engine): avoid to send a service_status already sent
  engine/src/service.cc
  tests/broker-engine/services-increased.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): the ceip patch was missing on this branch
  engine/src/broker.cc
  tests/broker-engine/cma.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(broker): new logs in mysql_connection during the database connection
  broker/core/sql/src/mysql_connection.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(tests): Fixes on EBMSSMPART test
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tcp): shared_from_this not needed since we have a static instance
  broker/tcp/inc/com/centreon/broker/tcp/tcp_async.hh
  broker/tcp/src/tcp_async.cc
Owners: @centreon/owners-cpp

enh(tests): change doc in gherkin
  tests/broker-engine/retention-duplicates.robot
Owners: @centreon/owners-robot-e2e

fix(test): by default, the legacy log is disabled.
  engine/tests/configuration/applier/applier-pblog.cc
Owners: @centreon/owners-cpp

fix(engine): issue with acknowledgement fixed
  engine/src/broker.cc
Owners: @centreon/owners-cpp

fix(notifications): correct formatting in notification log message and adjust logging levels in tests
  engine/src/host.cc
  engine/tests/helper.cc
  engine/tests/notifications/host_normal_notification.cc
Owners: @centreon/owners-cpp

fix(ci): Use the same version of mariadb than Centreon
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/docker/Dockerfile.packaging-centreon-collect-alma9
  .github/workflows/centreon-collect.yml
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(engine/tests): attempt to better stop tests
  engine/tests/main.cc
Owners: @centreon/owners-cpp

fix(broker/tests): regression on unit tests in broker fixed
  broker/core/test/rpc/brokerrpc.cc
  broker/stats/test/stats.cc
Owners: @centreon/owners-cpp

fix(tests): not12 test fixed
  tests/broker-engine/notifications.robot
Owners: @centreon/owners-robot-e2e

fix(tests): after cleaning the metrics, the connection is correctly closed
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

wip(tests): services-and-bulk-stmt
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(broker/stats): the center is no more a unique instance
  broker/core/inc/com/centreon/broker/broker_impl.hh
  broker/core/inc/com/centreon/broker/brokerrpc.hh
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/inc/com/centreon/broker/stats/center.hh
  broker/core/multiplexing/src/engine.cc
  broker/core/multiplexing/src/muxer.cc
  broker/core/multiplexing/test/muxer/read.cc
  broker/core/sql/src/mysql_manager.cc
  broker/core/src/broker_impl.cc
  broker/core/src/brokerrpc.cc
  broker/core/src/config/applier/init.cc
  broker/core/src/config/applier/state.cc
  broker/core/src/file/stream.cc
  broker/core/src/persistent_file.cc
  broker/core/src/stats/center.cc
  broker/core/test/processing/feeder.cc
  broker/core/test/rpc/brokerrpc.cc
  broker/stats/test/stats.cc
  broker/storage/src/conflict_manager.cc
  broker/unified_sql/src/stream.cc
Owners: @centreon/owners-cpp

enh(tests): New keyword to dump the database
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

wip(tests): work on database
  tests/resources/db_variables.resource
Owners: @centreon/owners-robot-e2e

enh(tests): new keywords to make a tcpdump and to save mariadb logs
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bookworm-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mariadb-jammy-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/resources/resources.resource
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

feat(tests): add time travel with clock_gettime override for spdlog, update tests for compatibility
  engine/tests/CMakeLists.txt
  engine/tests/notifications/service_downtime_notification_test.cc
  engine/tests/timeperiod/utils.cc
  engine/tests/timeperiod/utils.hh
Owners: @centreon/owners-cpp

fix(tests): work on the issue with BEUTAG11
  tests/broker-engine/tags.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(broker/sql): Issues raised by clang fixed
  broker/core/sql/src/mysql_connection.cc
  broker/unified_sql/src/main.cc
Owners: @centreon/owners-cpp

fix(common/pool): concurrent access fixed if cbd exits too early
  common/inc/com/centreon/common/pool.hh
  common/src/pool.cc
Owners: @centreon/owners-cpp

fix(broker/watchdog): header added to compile with clang
  broker/watchdog/inc/com/centreon/broker/watchdog/instance_configuration.hh
Owners: @centreon/owners-cpp

fix(jwt): correct expiration date handling in JWT constructor and update token creation in tests
  common/crypto/jwt.cc
  tests/resources/Common.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

feat(crypto): add JWT class for token handling and update CMake configuration
  common/crypto/CMakeLists.txt
  common/crypto/jwt.cc
  common/crypto/jwt.hh
  common/tests/jwt_test.cc
Owners: @centreon/owners-cpp

fix(install): centengine scripts were parametrized in old mode (#2200)
  agent/bench/centreon_conf/centreon-engine/centengine.cfg
  engine/conf/centengine.cfg.in
  engine/scripts/centengine.service.in
  engine/tests/cfg_files/conf1/centengine.cfg
  tests/engine/start-stop.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): warring regex patterns for python
  broker/core/sql/src/table_max_size.py
Owners: @centreon/owners-cpp

fix(cmake): detection of libstdc++ is made only on linux
  agent/CMakeLists.txt
Owners: @centreon/owners-cpp

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security
