Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

18
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(ci): set major and minor versions in workflows
  .github/actions/package/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/lua-cffi.yml
  .github/workflows/lua-curl.yml
  .github/workflows/lua-tz.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/stream-connectors-lib.yml
  .github/workflows/stream-connectors.yml
  stream-connectors/packaging/connectors-lib/centreon-stream-connectors-lib.yaml
  stream-connectors/packaging/connectors/centreon-stream-connectors.yaml
Owners: @centreon/owners-pipelines, @centreon/owners-lua

fix(ci): set major and minor versions in workflows
  stream-connectors/packaging/connectors/centreon-stream-connectors.yaml
Owners: @centreon/owners-lua

19
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(promote): add missing el7 distrib in promote
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

fix(promote): add missing el7 distrib in promote (#1139)
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

fix(packaging): update lua-curl and connectors versioning
  .github/workflows/lua-curl.yml
  .github/workflows/stream-connectors.yml
  stream-connectors/packaging/connectors-lib/centreon-stream-connectors-lib.yaml
Owners: @centreon/owners-pipelines, @centreon/owners-lua

test(ci): release bookworm unstable for testing purpose
  .github/actions/delivery/action.yml
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(ci): fix delivery action name for stream connectors
  .github/workflows/lua-cffi.yml
  .github/workflows/lua-curl.yml
  .github/workflows/lua-tz.yml
  .github/workflows/stream-connectors-lib.yml
  .github/workflows/stream-connectors.yml
Owners: @centreon/owners-pipelines

fix(packaging): update libffi dependency
  stream-connectors/dependencies/lua-cffi/packaging/env/.env.bookworm
  stream-connectors/dependencies/lua-cffi/packaging/env/.env.bullseye
  stream-connectors/dependencies/lua-cffi/packaging/env/.env.jammy
  stream-connectors/dependencies/lua-cffi/packaging/lua-cffi.yaml
Owners: @centreon/owners-lua

fix(packaging): do not add epoch for stream connectors lib
  stream-connectors/packaging/connectors-lib/centreon-stream-connectors-lib.yaml
Owners: @centreon/owners-lua

fix(packaging): export all variables in env file
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

19
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

enh(packaging): increase version number of lua-tz and lua-cffi
  .github/workflows/lua-cffi.yml
  .github/workflows/lua-tz.yml
  .github/workflows/stream-connectors.yml
Owners: @centreon/owners-pipelines

20
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

fix(packaging): do not escape $ in stream connectors packaging
  .github/workflows/stream-connectors.yml
Owners: @centreon/owners-pipelines

fix(packaging): missing double quote in stream connectors packaging
  .github/workflows/stream-connectors.yml
Owners: @centreon/owners-pipelines

fix(ci): trigger lua-tz build
  .github/workflows/lua-tz.yml
  .github/workflows/stream-connectors.yml
Owners: @centreon/owners-pipelines

test(ci): deliver el9 unstable
  .github/actions/delivery/action.yml
Owners: @centreon/owners-pipelines

fix(ci): unique yum dir for each stream connector
  .github/workflows/stream-connectors.yml
Owners: @centreon/owners-pipelines

20
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(ci): restore delivery changes
  .github/actions/delivery/action.yml
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

21
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

chore(release): bump gorgone to 22.10.4
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

21
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-nightly.yml
  tests/output.xml
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

22
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

23
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

update release workflow
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

24
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

25
  .github/workflows/robot-test.yml
  tests/output.xml
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

26
  tests/broker-engine/services.robot
  tests/output.xml
Owners: @centreon/owners-robot-e2e

26
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

27
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

28
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

Update .github/actions/release/action.yml
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

Update .github/actions/release/action.yml
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix feedbacks round 1
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines
