Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

wip
  .github/workflows/docker-builder.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

wip
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

fix(gha): bad path in debian to find a good version of cmake
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

enh(tests)
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

fix(ci): debian interactive mode removed
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-alma9-test
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
Owners: @centreon/owners-pipelines

fix(ci/arm)
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

wip
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

wip
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): lets reuse the compiled dependencies
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/scripts/collect-unit-tests.sh
  .github/workflows/package-collect.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

fix(ci): cmake missing
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

fix(cmake): triplet must be variabilized because of the two architectures
  .github/workflows/package-collect.yml
  cmake-vcpkg.sh
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

wip
  broker/neb/inc/com/centreon/broker/neb/dependency.hh
  broker/neb/inc/com/centreon/broker/neb/host_dependency.hh
Owners: @centreon/owners-cpp

wip
  engine/src/configuration/hostdependency.cc
Owners: @centreon/owners-cpp

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(cmake): grpc_cpp_plugin should be found each time
  CMakeLists.txt
  broker/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  common/CMakeLists.txt
  engine/enginerpc/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(cmake)
  .github/scripts/collect-unit-tests.sh
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

wip
  cmake-vcpkg.sh
Owners: @centreon/owners-cpp

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  custom-triplets/arm64-linux.cmake
  custom-triplets/x64-linux.cmake
Owners: @centreon/owners-cpp

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(ci): build homogenized - dependencies installed in /vcpkg_installed
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

ci
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(ci/release)
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

fix(cmake): no more need to build in /build
  .github/scripts/collect-unit-tests.sh
  .github/workflows/package-collect.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip
  broker/stats/test/stats.cc
Owners: @centreon/owners-cpp

fix(engine): a bug in dependency is fixed
  engine/src/configuration/hostdependency.cc
  tests/broker-engine/bbdo-protobuf.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

test exec key
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(tests)
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

wip
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): rpm-build no more needed in docker files
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines
