Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

fix(engine): whitelist directory renamed in usr/share
  broker/bam/CMakeLists.txt
  broker/doc/broker-doc.md
  engine/doc/engine-doc.md
  engine/src/configuration/whitelist.cc
Owners: @centreon/owners-cpp

cleanup(tests): rewording of tests
  tests/resources/Broker.py
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(tests): bad attribute in Engine class
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

test
  tests/broker-engine/services.robot
Owners: @centreon/owners-robot-e2e

tset
  output.xml
  tests/output.xml
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

tset
  tests/broker-engine/services.robot
Owners: @centreon/owners-robot-e2e

test
  tests/testIssueFields.json
Owners: @centreon/owners-robot-e2e

fix(tests): Coding style of Engine improved
  tests/resources/Broker.py
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(tests): regression
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Broker comments improved and uniformed
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

fix(tests): comments always better in broker.py
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

enh(tests): Broker.py fully documented
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

fix(tests): Comments added to Engine.py
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(packaging): add missing debian lib dependency to gorgone (#3459)
  gorgone/packaging/debian/control
Owners: @centreon/owners-cpp

fix(tests): new comments
  tests/bam/boolean_rules.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(packaging): add missing debian lib dependency to gorgone (#3460)
  gorgone/packaging/centreon-gorgone.yaml
Owners: @centreon/owners-cpp

fix(packaging): add missing debian lib dependency to gorgone (#3460)
  gorgone/packaging/centreon-gorgone.yaml
Owners: @centreon/owners-cpp

fix(broker/unified_sql): host dependencies where badly inserted.
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker/unified_sql): issue with host dependencies fixed
  broker/unified_sql/src/stream.cc
  tests/broker-engine/bbdo-protobuf.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): new comments again
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

feat(ci): rework release workflow and communications (#1096)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

test
  tests/broker-engine/services.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

wip
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

udpate release workflow
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

udpate release action
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

Mon-32851 [gorgone] service auto-discovery only the services associated to one host are created (#3160)
  gorgone/docs/modules.md
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/docs/modules/centreon/centreon-gorgone-autodiscovery-archi.png
  gorgone/gorgone/class/module.pm
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/tests/gorgone-api.py
  gorgone/tests/gorgone-auto-discovery.robot
Owners: @centreon/owners-cpp

Mon-32851 [gorgone] service auto-discovery only the services associated to one host are created (#3160)
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

Mon-32851 [gorgone] service auto-discovery only the services associated to one host are created (#3160)
  gorgone/docs/modules.md
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/docs/modules/centreon/centreon-gorgone-autodiscovery-archi.png
  gorgone/gorgone/class/module.pm
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/tests/gorgone-api.py
  gorgone/tests/gorgone-auto-discovery.robot
Owners: @centreon/owners-cpp

wip
  tests/broker/log.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

enh(tests): functions better commented
  tests/bam/boolean_rules.robot
  tests/broker/log.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

enh(tests): functions are well commented
  tests/resources/Broker.py
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

enh(tests): function headers are uniformized.
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  tests/bam/boolean_rules.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker/log.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): a test on tag fails sometimes.
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

enh(tests): functions better commented (#1171)
  tests/bam/boolean_rules.robot
  tests/broker/log.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

enh(tests): functions are well commented (#1170)
  tests/resources/Broker.py
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

enh(broker): new event parent_host
  bbdo/events.hh
  bbdo/neb.proto
  broker/neb/inc/com/centreon/broker/neb/callbacks.hh
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/broker.cc
  broker/neb/src/callbacks.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

enh(tests): new test to check host_parent
  tests/broker-engine/bbdo-protobuf.robot
  tests/resources/Engine.py
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

enh(broker/neb): instance_configuration not used
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/events.hh
  broker/neb/inc/com/centreon/broker/neb/instance_configuration.hh
  broker/neb/src/broker.cc
  broker/neb/src/initial.cc
  broker/neb/src/instance_configuration.cc
  broker/neb/src/neb.cc
  broker/storage/src/conflict_manager.cc
  broker/storage/src/conflict_manager_sql.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker/neb): bad initializations fixed
  broker/neb/src/callbacks.cc
  broker/neb/src/initial.cc
Owners: @centreon/owners-cpp
