Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-robot-e2e, @centreon/owners-bash, @centreon/owners-lua, @centreon/owners-pipelines, @centreon/owners-doc

ci: force pull of signing container (#950)
  .github/actions/package-sign/action.yml
Owners: @centreon/owners-pipelines

fix(ci): bad version
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

fix(ci): bad version (#951)
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

fix(ci): update curl to use 22.10 in the url
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

fix(tests): reschedule test splitted in two parts
  tests/broker-engine/scheduler.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(tests): rescheduler
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(tests): delete poller fixed
  tests/broker-engine/delete-poller.robot
Owners: @centreon/owners-robot-e2e

fix(tests): missing keyword
  tests/resources/Common.py
Owners: none

fix(tests): unstable tests disabled
  .github/scripts/collect-test-robot.sh
  tests/broker-engine/notification-unstable.robot
Owners: @centreon/owners-bash, @centreon/owners-robot-e2e

release23.04 fix tests
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker/start-stop.robot
  tests/engine/forced_checks.robot
  tests/resources/Engine.py
  tests/resources/specific-duplication.py
Owners: @centreon/owners-robot-e2e

fix(ci)
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix_ci_release_23.10_jcr
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

fix(tests): issues with tests fixed (first part)
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

fix(tests): Robot tests fixed
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker/start-stop.robot
  tests/engine/forced_checks.robot
  tests/resources/Engine.py
  tests/resources/specific-duplication.py
Owners: @centreon/owners-robot-e2e

fix(tests): Tests fixed (reschedule, delete-poller and notifications)
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-test.yml
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/notification-unstable.robot
  tests/broker-engine/scheduler.robot
  tests/resources/Common.py
  tests/resources/resources.robot
Owners: @centreon/owners-bash, @centreon/owners-pipelines, @centreon/owners-robot-e2e

fix(ci): another regression with github actions
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(ci): another regression with github actions (#955)
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(ci): user proper path to collet packages in get-packages
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

force unstable stability
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

force unstable stability on delivery
  .github/actions/delivery/action.yml
Owners: @centreon/owners-pipelines

force get package branchname
  .github/actions/get-packages/action.yml
Owners: @centreon/owners-pipelines

fix(ci): python3-devel needed by pip3
  ci/scripts/collect-test-robot.sh
Owners: @centreon/owners-bash

fix(ci)
  ci/scripts/collect-test-robot.sh
Owners: @centreon/owners-bash

fix(tests): with centos7
  tests/init-proto.sh
Owners: @centreon/owners-bash

fix(test): EBBPS
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Update tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tests): suggestions applied on robot test
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Update tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Update tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Apply suggestions from code review
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(test): EBBPS
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Update tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Update tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Apply suggestions from code review
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

Update tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

fix(tests): suggestions applied on robot test
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

.github/CODEOWNERS:

*.cc                @centreon/owners-cpp
*.hh                @centreon/owners-cpp
*.hpp               @centreon/owners-cpp
*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.robot             @centreon/owners-robot-e2e

*.sh                @centreon/owners-bash
*.lua               @centreon/owners-lua

.github/**/*.yml    @centreon/owners-pipelines
*.Dockerfile        @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines

*.po                @centreon/owners-doc
*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc
