Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

fix(tests): conflict to fix in tests
  tests/bam/bam_pb.robot
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(tests): Ctn prefix too early for a hostfix
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-robot-e2e

fix(tests): Ctn prefix removed from hotfix
  tests/bam/bam_pb.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

cleanup(broker)
  broker/bam/src/configuration/applier/kpi.cc
  broker/http_tsdb/src/stream.cc
  broker/neb/src/initial.cc
  engine/inc/com/centreon/engine/configuration/object.hh
Owners: @centreon/owners-cpp

fix(cmake): issue with init.sh
  init.sh
Owners: @centreon/owners-cpp

fix(broker): dependency added
  broker/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(tests/acknowledgement)
  tests/broker-engine/acknowledgement.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

lua cache test
  tests/broker-engine/services.robot
  tests/resources/Engine.py
  tests/resources/db_conf.py
  tests/resources/engine-scripts/check.pl
Owners: @centreon/owners-robot-e2e

test
  tests/testIssueFields.json
Owners: @centreon/owners-robot-e2e

test reel
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
  tests/issueFields.json
  tests/testIssueFields.json
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

test o linking test issue with test robot
  tests/broker-engine/notification-unstable.robot
Owners: @centreon/owners-robot-e2e

adding failed test to test
  tests/broker-engine/notification.robot
Owners: @centreon/owners-robot-e2e

fix(tests/acknowledgement): they are back
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/dependency.hh
  broker/neb/src/callbacks.cc
  broker/neb/src/dependency.cc
  broker/neb/src/initial.cc
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/acknowledgement.robot
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

commit only if autocommit is not enabled
  gorgone/gorgone/class/db.pm
Owners: @centreon/owners-cpp

commit only if autocommit is not enabled
  gorgone/gorgone/class/db.pm
Owners: @centreon/owners-cpp

Revert "Mon-32851 [gorgone] service auto-discovery only the services associated to one host are created (#3160)"
  gorgone/docs/modules.md
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/docs/modules/centreon/centreon-gorgone-autodiscovery-archi.png
  gorgone/gorgone/class/module.pm
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/tests/gorgone-api.py
  gorgone/tests/gorgone-auto-discovery.robot
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): lost discoveries are recovered!
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

Revert "Mon-32851 [gorgone] service auto-discovery only the services associated to one host are created (#3160)"
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): lost discoveries are recovered!
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

Revert "Mon-32851 [gorgone] service auto-discovery only the services associated to one host are created (#3160)"
  gorgone/docs/modules.md
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/docs/modules/centreon/centreon-gorgone-autodiscovery-archi.png
  gorgone/gorgone/class/module.pm
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/tests/gorgone-api.py
  gorgone/tests/gorgone-auto-discovery.robot
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): lost discoveries are recovered!
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): pollers are reload multiple times
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): pollers are reload multiple times
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): pollers are reload multiple times
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

fix(tests): regressions due to rebase fixed
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/bench.robot
  tests/broker-engine/delete-poller.robot
Owners: @centreon/owners-robot-e2e

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(release): fix missing array rebuilt (#1200)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(ci): fixed missing token and quotes (#1201)
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

feat(ci): rework release workflow and communications (#1184)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(tests): external commands should be better
  tests/broker-engine/external-commands.robot
Owners: @centreon/owners-robot-e2e

fix(ci): fix release workflow and action issues
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(packaging): set correct rights for centreon gorgone config files (#3527)
  gorgone/packaging/centreon-gorgone-centreon-config.yaml
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/packaging/scripts/centreon-gorgone-centreon-config-postinstall.sh
Owners: @centreon/owners-cpp

fix(packaging): set correct rights for centreon gorgone config files (#3527)
  gorgone/packaging/centreon-gorgone-centreon-config.yaml
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/packaging/scripts/centreon-gorgone-centreon-config-postinstall.sh
Owners: @centreon/owners-cpp

use jira_base_url input
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(tests): regression on tests to to rebase
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests): regression fixed
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e
