Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

chore(release) bump collect en 25.01
  .version
Owners: @centreon/owners-cpp

enh(broker/engine/cbmod): configuration is well sent, time to send RT
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/inc/com/centreon/engine/contact.hh
  engine/inc/com/centreon/engine/nebcallbacks.hh
  engine/inc/com/centreon/engine/nebstructs.hh
  engine/src/broker.cc
  engine/src/checks/checker.cc
  engine/src/commands/commands.cc
  engine/src/configuration/applier/anomalydetection.cc
  engine/src/contact.cc
  engine/src/host.cc
  engine/src/retention/applier/contact.cc
Owners: @centreon/owners-cpp

fix(broker): use_protobuf boolean was initialized too soon
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

chore(release) bump collect en 25.01
  .version.centreon-common
Owners: @centreon/owners-cpp

enh(ci): add docker related workflows to release trigger build workflow (#1990)
  .github/workflows/release-trigger-builds.yml
Owners: @centreon/owners-pipelines

skip if label skip-workflow is set
  .github/workflows/windows-agent.yml
Owners: @centreon/owners-pipelines

fix trailing spaces
  .github/workflows/windows-agent.yml
Owners: @centreon/owners-pipelines

fix trailing spaces
  .github/workflows/windows-agent.yml
Owners: @centreon/owners-pipelines

revert skip-workflow
  .github/workflows/windows-agent.yml
Owners: @centreon/owners-pipelines

fix(pipeline): fix gorgone pipeline dependencies (#1991)
  .github/actions/package/action.yml
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

fix(pipeline): fix gorgone pipeline dependencies (#1991)
  .github/actions/package/action.yml
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

remove unnecessary input
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

chore(release) bump collect to 25.01.0 (#1989)
  .version
  .version.centreon-common
  CMakeLists.txt
Owners: @centreon/owners-cpp

feat(tests): add configuration files
  common/tests/cfg_files/config0/anomaly_detection.cfg
  common/tests/cfg_files/config0/centengine.cfg
  common/tests/cfg_files/config0/commands.cfg
  common/tests/cfg_files/config0/connectors.cfg
  common/tests/cfg_files/config0/contactgroups.cfg
  common/tests/cfg_files/config0/contacts.cfg
  common/tests/cfg_files/config0/dependencies.cfg
  common/tests/cfg_files/config0/escalations.cfg
  common/tests/cfg_files/config0/hostgroups.cfg
  common/tests/cfg_files/config0/hosts.cfg
  common/tests/cfg_files/config0/resource.cfg
  common/tests/cfg_files/config0/servicegroups.cfg
  common/tests/cfg_files/config0/services.cfg
  common/tests/cfg_files/config0/severities.cfg
  common/tests/cfg_files/config0/tags.cfg
  common/tests/cfg_files/config0/timeperiods.cfg
Owners: @centreon/owners-cpp

fix(common): code review
  common/engine_conf/anomalydetection_helper.cc
  common/engine_conf/anomalydetection_helper.hh
  common/engine_conf/contact_helper.cc
  common/engine_conf/contact_helper.hh
  common/engine_conf/contactgroup_helper.cc
  common/engine_conf/contactgroup_helper.hh
  common/engine_conf/host_helper.cc
  common/engine_conf/host_helper.hh
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/hostdependency_helper.hh
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/hostescalation_helper.hh
  common/engine_conf/message_helper.hh
  common/engine_conf/service_helper.cc
  common/engine_conf/service_helper.hh
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/servicedependency_helper.hh
  common/engine_conf/serviceescalation_helper.cc
  common/engine_conf/serviceescalation_helper.hh
  common/engine_conf/servicegroup_helper.cc
  common/engine_conf/servicegroup_helper.hh
  common/engine_conf/state_helper.cc
  common/engine_conf/state_helper.hh
  common/tests/CMakeLists.txt
  common/tests/engine_conf/expand_conf.cc
Owners: @centreon/owners-cpp

refactor(broker): simplify state_helper::expand_conf method signature
  broker/unified_sql/src/stream_sql.cc
  common/engine_conf/state_helper.cc
  common/engine_conf/state_helper.hh
Owners: @centreon/owners-cpp

fix(tests) : CI fails
  common/tests/CMakeLists.txt
  common/tests/engine_conf/expand_conf.cc
Owners: @centreon/owners-cpp

cleanup(engine_conf): remove unused includes
  common/engine_conf/anomalydetection_helper.cc
  common/engine_conf/host_helper.cc
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/message_helper.cc
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/serviceescalation_helper.cc
  common/engine_conf/servicegroup_helper.cc
  common/engine_conf/severity_helper.cc
  common/engine_conf/state_helper.cc
  common/tests/engine_conf/expand_conf.cc
Owners: @centreon/owners-cpp

feat(tests): add test to verify expand functionality
  common/tests/CMakeLists.txt
  common/tests/engine_conf/expand_conf.cc
  common/tests/test_main.cc
Owners: @centreon/owners-cpp

feat(common) : state_helper can expand the conf
  broker/unified_sql/src/stream_sql.cc
  common/engine_conf/anomalydetection_helper.cc
  common/engine_conf/anomalydetection_helper.hh
  common/engine_conf/contact_helper.cc
  common/engine_conf/contact_helper.hh
  common/engine_conf/contactgroup_helper.cc
  common/engine_conf/contactgroup_helper.hh
  common/engine_conf/host_helper.cc
  common/engine_conf/host_helper.hh
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/hostdependency_helper.hh
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/hostescalation_helper.hh
  common/engine_conf/message_helper.hh
  common/engine_conf/service_helper.cc
  common/engine_conf/service_helper.hh
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/servicedependency_helper.hh
  common/engine_conf/serviceescalation_helper.cc
  common/engine_conf/serviceescalation_helper.hh
  common/engine_conf/servicegroup_helper.cc
  common/engine_conf/servicegroup_helper.hh
  common/engine_conf/state_helper.cc
  common/engine_conf/state_helper.hh
Owners: @centreon/owners-cpp

fix(common): change function name
  broker/unified_sql/src/stream_sql.cc
  common/engine_conf/state_helper.cc
  common/engine_conf/state_helper.hh
Owners: @centreon/owners-cpp

refactor(engine_conf): optimize map creation to occur only once
  common/engine_conf/contact_helper.cc
  common/engine_conf/contact_helper.hh
  common/engine_conf/contactgroup_helper.cc
  common/engine_conf/contactgroup_helper.hh
  common/engine_conf/host_helper.cc
  common/engine_conf/host_helper.hh
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/hostdependency_helper.hh
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/hostescalation_helper.hh
  common/engine_conf/service_helper.cc
  common/engine_conf/service_helper.hh
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/servicedependency_helper.hh
  common/engine_conf/serviceescalation_helper.cc
  common/engine_conf/serviceescalation_helper.hh
  common/engine_conf/servicegroup_helper.cc
  common/engine_conf/servicegroup_helper.hh
  common/engine_conf/state_helper.cc
  common/tests/engine_conf/expand_conf.cc
Owners: @centreon/owners-cpp

refactor(common): code review
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/servicedependency_helper.hh
  common/engine_conf/serviceescalation_helper.cc
  common/engine_conf/servicegroup_helper.cc
Owners: @centreon/owners-cpp

wip(broker/engine/cbmod): logs are sent
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/src/callbacks.cc
  broker/neb/src/cbmod.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/inc/com/centreon/engine/logging/broker_sink.hh
  engine/inc/com/centreon/engine/nebcallbacks.hh
  engine/src/broker.cc
  engine/src/host.cc
  engine/src/notification.cc
Owners: @centreon/owners-cpp

fix(pipeline): fix gorgone pipeline dependencies (#1991) (#1993)
  .github/actions/package/action.yml
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

fix two native checks
  agent/native_windows/src/check_service.cc
  agent/src/check_health.cc
Owners: @centreon/owners-cpp

fix defunct process and grpc coredump
  agent/inc/com/centreon/agent/bireactor.hh
  agent/src/bireactor.cc
  agent/src/main.cc
  broker/grpc/inc/com/centreon/broker/grpc/stream.hh
  broker/grpc/src/stream.cc
  common/process/inc/com/centreon/common/process/detail/centreon_posix_process_launcher.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

wip(broker/engine/cbmod): program_status well sent
  engine/inc/com/centreon/engine/broker.hh
  engine/inc/com/centreon/engine/nebcallbacks.hh
  engine/inc/com/centreon/engine/nebstructs.hh
  engine/src/broker.cc
  engine/src/checks/checker.cc
  engine/src/events/loop.cc
  engine/src/events/timed_event.cc
  engine/src/retention/applier/state.cc
  engine/src/retention/dump.cc
  engine/src/sehandlers.cc
  engine/src/service.cc
  engine/src/utils.cc
Owners: @centreon/owners-cpp

fix defunct process and grpc coredump (#1978)
  agent/inc/com/centreon/agent/bireactor.hh
  agent/src/bireactor.cc
  agent/src/main.cc
  broker/grpc/inc/com/centreon/broker/grpc/stream.hh
  broker/grpc/src/stream.cc
  common/process/inc/com/centreon/common/process/detail/centreon_posix_process_launcher.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

skip bookworm
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/get-environment.yml
Owners: @centreon/owners-pipelines

fix(ci): do not deliver centreon-common on ubuntu
  .github/workflows/centreon-common.yml
Owners: @centreon/owners-pipelines

fix(ci): do not deliver centreon-common on ubuntu (#1994)
  .github/workflows/centreon-common.yml
Owners: @centreon/owners-pipelines
