Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

enh(gha): packaging
  packaging/centreon-broker-cbd-debuginfo.yaml
  packaging/centreon-broker-cbd.yaml
  packaging/centreon-collect-client-debuginfo.yaml
  packaging/centreon-collect-client.yaml
  packaging/centreon-connector-perl-debuginfo.yaml
  packaging/centreon-connector-perl.yaml
  packaging/centreon-connector-ssh-debuginfo.yaml
  packaging/centreon-connector-ssh.yaml
  packaging/centreon-engine-bench-debuginfo.yaml
  packaging/centreon-engine-bench.yaml
  packaging/centreon-engine-daemon-debuginfo.yaml
  packaging/centreon-engine-daemon.yaml
Owners: @centreon/owners-pipelines

wip
  packaging/centreon-collect.yaml
Owners: @centreon/owners-pipelines

fix(gha): src was missing
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  tests/broker-engine/reverse-connection.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

wip
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(broker): ut regression fixed
  broker/bam/test/exp_builder/exp_builder.cc
  broker/core/test/bbdo/output.cc
  broker/core/test/mysql/mysql.cc
  broker/lua/test/lua.cc
  broker/simu/test/simu.cc
  broker/storage/test/conflict_manager.cc
  broker/unified_sql/test/conflict_manager.cc
Owners: @centreon/owners-cpp

fix(gha): a VCPKG variable was missing
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

enh(gha): conan removed
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/workflows/centreon-collect.yml
  .github/workflows/get-version.yml
  .github/workflows/package-collect.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip
  .github/workflows/package-collect.yml
  packaging/centreon-engine-bench-debuginfo.yaml
  packaging/centreon-engine-bench.yaml
Owners: @centreon/owners-pipelines

fix(cmake): patch added to grpc
  cmake-vcpkg.sh
  overlays/grpc/00001-fix-uwp.patch
  overlays/grpc/00002-static-linking-in-linux.patch
  overlays/grpc/00003-undef-base64-macro.patch
  overlays/grpc/00004-link-gdi32-on-windows.patch
  overlays/grpc/00005-fix-uwp-error.patch
  overlays/grpc/00009-use-system-upb.patch
  overlays/grpc/00012-fix-use-cxx17.patch
  overlays/grpc/00014-pkgconfig-upbdefs.patch
  overlays/grpc/00015-disable-download-archive.patch
  overlays/grpc/00016-xds_listener.patch
  overlays/grpc/gRPCTargets-vcpkg-tools.cmake
  overlays/grpc/portfile.cmake
  overlays/grpc/snprintf.patch
  overlays/grpc/vcpkg-cmake-wrapper.cmake
  overlays/grpc/vcpkg.json
Owners: @centreon/owners-cpp

fix(gha): cmake too old on debian bullseye
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(gha): manifest file at the wrong place
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
Owners: @centreon/owners-pipelines

fix(gha): always debian
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

cleanup(grpc)
  grpc/centreon-rpc-client.py
  grpc/init-proto.sh
Owners: @centreon/owners-cpp

fix(packaging)
  packaging/centreon-broker-core.yaml
Owners: @centreon/owners-pipelines

fix(clib): clib cmake version arranged to avoid failure
  clib/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(packaging): missing dependency added for centreon-connector-ssh
  packaging/centreon-connector-ssh.yaml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
Owners: @centreon/owners-pipelines

fix(cmake): missing include dir
  CMakeLists.txt
Owners: @centreon/owners-cpp

fix(gha): separation between debian/amd64 and debian/arm64
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/workflows/docker-builder.yml
Owners: @centreon/owners-pipelines

fix(broker): regression on unit tests fixed
  broker/lua/test/lua.cc
  broker/unified_sql/test/rebuild_message.cc
  broker/watchdog/test/watchdog.cc
Owners: @centreon/owners-cpp

fix(gha): always debian
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

wip
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

wip
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip
  packaging/centreon-broker-cbd-debuginfo.yaml
Owners: @centreon/owners-pipelines

fix(connectors/tests): regression fixed
  broker/core/test/processing/acceptor.cc
  connectors/perl/test/connector.cc
Owners: @centreon/owners-cpp

enh(gha): bookworm and jammy updated
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

fix(cmake)
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(gha): debian arm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

fix(gha): bad paths in scripts
  .github/workflows/package-collect.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip
  packaging/centreon-broker-cbd-debuginfo.yaml
  packaging/centreon-broker-cbd.yaml
  packaging/centreon-broker-cbmod-debuginfo.yaml
  packaging/centreon-broker-cbmod.yaml
  packaging/centreon-broker-core-debuginfo.yaml
  packaging/centreon-broker-core.yaml
  packaging/centreon-broker-graphite-debuginfo.yaml
  packaging/centreon-broker-graphite.yaml
  packaging/centreon-broker-influxdb-debuginfo.yaml
  packaging/centreon-broker-influxdb.yaml
  packaging/centreon-broker-selinux.yaml
  packaging/centreon-broker-stats-exporter-debuginfo.yaml
  packaging/centreon-broker-stats-exporter.yaml
  packaging/centreon-broker-victoria-metrics-debuginfo.yaml
  packaging/centreon-broker-victoria-metrics.yaml
  packaging/centreon-clib-debuginfo.yaml
  packaging/centreon-clib.yaml
  packaging/centreon-collect-client-debuginfo.yaml
  packaging/centreon-collect-client.yaml
  packaging/centreon-collect.yaml
  packaging/centreon-connector-perl-debuginfo.yaml
  packaging/centreon-connector-perl.yaml
  packaging/centreon-connector-ssh-debuginfo.yaml
  packaging/centreon-connector-ssh.yaml
  packaging/centreon-engine-bench-debuginfo.yaml
  packaging/centreon-engine-bench.yaml
  packaging/centreon-engine-daemon-debuginfo.yaml
  packaging/centreon-engine-daemon.yaml
  packaging/centreon-engine-selinux.yaml
Owners: @centreon/owners-pipelines

fix(gha)
  .github/scripts/collect-unit-tests.sh
Owners: @centreon/owners-pipelines

wip
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(gha): mkdir called in the wrong section
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
Owners: @centreon/owners-pipelines

fix(broker/tests): issue between time_t cast from timestamp and fmt::format for timestamp fixed
  broker/core/inc/com/centreon/broker/timestamp.hh
  broker/unified_sql/src/stream_sql.cc
  cmake-vcpkg.sh
Owners: @centreon/owners-cpp

wip
  packaging/centreon-broker-cbd-debuginfo.yaml
Owners: @centreon/owners-pipelines

fix(cmake): missing curl development package
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  cmake-vcpkg.sh
Owners: @centreon/owners-pipelines, @centreon/owners-cpp
