Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

fix(engine): no error message when threshold file is not found while Engine verifies the configuration
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

cleanup(tests): tag adjusted for the test
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): anomaly detection tests better formatted
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-robot-e2e

fix(engine): avoid useless and disturbing error messages in config export
  engine/src/anomalydetection.cc
Owners: @centreon/owners-cpp

fix(engine): no error message when threshold file is not found while Engine verifies the configuration
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): no error message when threshold file is not found while Engine verifies the configuration (#1162)
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): ad useless messages not displayed if not needed
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): no error message when threshold file is not found while … (#1161)
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

lua_gc is called every 10s
  .github/workflows/package-collect.yml
  broker/lua/inc/com/centreon/broker/lua/luabinding.hh
  broker/lua/src/broker_event.cc
  broker/lua/src/luabinding.cc
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

final gc call implementation
  broker/lua/inc/com/centreon/broker/lua/broker_event.hh
  broker/lua/inc/com/centreon/broker/lua/luabinding.hh
  broker/lua/src/broker_event.cc
  broker/lua/src/luabinding.cc
Owners: @centreon/owners-cpp

desactivate artifacts
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(broker/lua): Memory leak due to garbage collector fixed
  broker/lua/inc/com/centreon/broker/lua/broker_event.hh
  broker/lua/src/broker_event.cc
Owners: @centreon/owners-cpp

lua_gc is called periodicaly in order to clean broker events owned by lu
  broker/lua/inc/com/centreon/broker/lua/broker_event.hh
  broker/lua/src/broker_event.cc
  broker/lua/src/luabinding.cc
Owners: @centreon/owners-cpp

fix/enh(broker): cbd memory leak in sql module and new library to trace allocations
  CMakeLists.txt
  broker/core/sql/src/mysql_connection.cc
  malloc-trace/CMakeLists.txt
  malloc-trace/README.md
  malloc-trace/create_malloc_trace_table.sql
  malloc-trace/inc/com/centreon/malloc_trace/by_thread_trace_active.hh
  malloc-trace/inc/com/centreon/malloc_trace/funct_info_cache.hh
  malloc-trace/inc/com/centreon/malloc_trace/intrusive_map.hh
  malloc-trace/inc/com/centreon/malloc_trace/orphan_container.hh
  malloc-trace/inc/com/centreon/malloc_trace/simply_allocator.hh
  malloc-trace/precomp_inc/precomp.hh
  malloc-trace/remove_malloc_free.py
  malloc-trace/src/by_thread_trace_active.cc
  malloc-trace/src/malloc_trace.cc
  malloc-trace/src/orphan_container.cc
  malloc-trace/src/simply_allocator.cc
Owners: @centreon/owners-cpp

* fix stats muxer memory-leak
  broker/core/multiplexing/src/muxer.cc
Owners: @centreon/owners-cpp

fix(broker/lua): functions in error could keep data on the stack (#1069)
  broker/lua/inc/com/centreon/broker/lua/luabinding.hh
  broker/lua/src/luabinding.cc
  broker/lua/test/lua.cc
Owners: @centreon/owners-cpp

* move some parts of malloc-trace code * flush only orphan malloc and free * malloc_trace realloc name fix, tls memory-leak fix * function passed to gnutls must never throw
  CMakeLists.txt
  broker/tcp/src/tcp_connection.cc
  broker/tls/inc/com/centreon/broker/tls/params.hh
  broker/tls/inc/com/centreon/broker/tls/stream.hh
  broker/tls/src/acceptor.cc
  broker/tls/src/connector.cc
  broker/tls/src/internal.cc
  broker/tls/src/params.cc
  broker/tls/src/stream.cc
  malloc-trace/CMakeLists.txt
  malloc-trace/README.md
  malloc-trace/inc/com/centreon/malloc_trace/intrusive_map.hh
  malloc-trace/inc/com/centreon/malloc_trace/orphan_container.hh
  malloc-trace/src/malloc_trace.cc
  malloc-trace/src/orphan_container.cc
Owners: @centreon/owners-cpp

fix(broker/lua): Memory leak due to garbage collector fixed
  CMakeLists.txt
  broker/core/multiplexing/src/muxer.cc
  broker/core/sql/src/mysql_connection.cc
  broker/lua/inc/com/centreon/broker/lua/broker_event.hh
  broker/lua/inc/com/centreon/broker/lua/luabinding.hh
  broker/lua/src/broker_event.cc
  broker/lua/src/luabinding.cc
  broker/lua/test/lua.cc
  broker/tcp/src/tcp_connection.cc
  broker/tls/inc/com/centreon/broker/tls/params.hh
  broker/tls/inc/com/centreon/broker/tls/stream.hh
  broker/tls/src/acceptor.cc
  broker/tls/src/connector.cc
  broker/tls/src/internal.cc
  broker/tls/src/params.cc
  broker/tls/src/stream.cc
  malloc-trace/CMakeLists.txt
  malloc-trace/README.md
  malloc-trace/create_malloc_trace_table.sql
  malloc-trace/inc/com/centreon/malloc_trace/by_thread_trace_active.hh
  malloc-trace/inc/com/centreon/malloc_trace/funct_info_cache.hh
  malloc-trace/inc/com/centreon/malloc_trace/intrusive_map.hh
  malloc-trace/inc/com/centreon/malloc_trace/orphan_container.hh
  malloc-trace/inc/com/centreon/malloc_trace/simply_allocator.hh
  malloc-trace/precomp_inc/precomp.hh
  malloc-trace/remove_malloc_free.py
  malloc-trace/src/by_thread_trace_active.cc
  malloc-trace/src/malloc_trace.cc
  malloc-trace/src/orphan_container.cc
  malloc-trace/src/simply_allocator.cc
Owners: @centreon/owners-cpp

fix(broker/bam): regression in monitoring_stream fixed
  broker/bam/src/monitoring_stream.cc
Owners: @centreon/owners-cpp

cleanup(broker/bam): headers removed when unused
  broker/bam/inc/com/centreon/broker/bam/ba_ratio_percent.hh
  broker/bam/inc/com/centreon/broker/bam/bool_constant.hh
  broker/bam/inc/com/centreon/broker/bam/bool_expression.hh
  broker/bam/inc/com/centreon/broker/bam/computable.hh
Owners: @centreon/owners-cpp

fix(broker/bam): wip
  bbdo/bam_state.proto
  broker/bam/src/kpi_service.cc
  broker/bam/src/service_book.cc
  engine/src/configuration/applier/hostdependency.cc
  tests/bam/inherited_downtime.robot
  tests/resources/Broker.py
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/db_conf.py
  tests/resources/engine-scripts/check.pl
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

doc(broker/bam): doc improved concerning bam
  broker/doc/broker-doc.md
Owners: @centreon/owners-cpp

enh(tests): they are more stable
  tests/bam/inherited_downtime.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

cleanup(broker/bam): comments added
  broker/bam/CMakeLists.txt
  broker/bam/src/bool_service.cc
  broker/bam/src/configuration/applier/state.cc
  broker/bam/src/service_book.cc
  broker/bam/test/cache/ba_state.cc
Owners: @centreon/owners-cpp

cleanup(bbdo): comments added
  bbdo/bam_state.proto
Owners: @centreon/owners-cpp

fix(tests): tab changed into spaces
  tests/bam/boolean_rules.robot
Owners: @centreon/owners-robot-e2e

enh(broker/bam): ba improved
  broker/bam/inc/com/centreon/broker/bam/ba.hh
  broker/bam/inc/com/centreon/broker/bam/ba_best.hh
  broker/bam/inc/com/centreon/broker/bam/ba_impact.hh
  broker/bam/inc/com/centreon/broker/bam/ba_ratio_number.hh
  broker/bam/inc/com/centreon/broker/bam/ba_ratio_percent.hh
  broker/bam/inc/com/centreon/broker/bam/ba_worst.hh
  broker/bam/src/ba.cc
  broker/bam/src/ba_best.cc
  broker/bam/src/ba_impact.cc
  broker/bam/src/ba_ratio_number.cc
  broker/bam/src/ba_ratio_percent.cc
  broker/bam/src/ba_worst.cc
Owners: @centreon/owners-cpp

cleanup(broker/bam): virtual keyword removed when not needed
  broker/bam/inc/com/centreon/broker/bam/ba_impact.hh
  broker/bam/inc/com/centreon/broker/bam/ba_ratio_number.hh
  broker/bam/inc/com/centreon/broker/bam/ba_worst.hh
Owners: @centreon/owners-cpp

fix(tests): check.pl command line changed
  tests/broker-engine/external-commands2.robot
  tests/resources/db_conf.py
Owners: @centreon/owners-robot-e2e

fix(broker/bam): last issues with bam cache reloading
  .gitignore
  broker/bam/src/bool_equal.cc
  broker/bam/src/bool_service.cc
  broker/bam/src/configuration/applier/ba.cc
  broker/bam/src/configuration/applier/state.cc
  broker/bam/src/monitoring_stream.cc
  broker/bam/src/service_book.cc
  tests/bam/boolean_rules.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): regressions fixed
  tests/bam/boolean_rules.robot
  tests/bam/inherited_downtime.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

cleanup(broker/bam): unused headers removed
  broker/bam/inc/com/centreon/broker/bam/bool_not.hh
  broker/bam/inc/com/centreon/broker/bam/service_book.hh
  broker/bam/inc/com/centreon/broker/bam/service_listener.hh
  broker/bam/inc/com/centreon/broker/bam/service_state.hh
  broker/core/inc/com/centreon/broker/persistent_cache.hh
  broker/deps.go
Owners: @centreon/owners-cpp

enh(tests): new test to also check the reload
  tests/bam/boolean_rules.robot
Owners: @centreon/owners-robot-e2e

fix(engine): retention.dat is now a ghost in centreon-collect.spec
  packaging/rpm/centreon-collect.spec
Owners: @centreon/owners-pipelines

enh(bbdo): new message services_book_state to store BAs in cache
  .gitignore
  bbdo/CMakeLists.txt
  bbdo/bam.proto
  bbdo/events.hh
Owners: @centreon/owners-cpp

cleanup(tests): good tag on tests
  tests/bam/boolean_rules.robot
Owners: @centreon/owners-robot-e2e

fix(ci): update release action curl and workflows (#1156)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows (#1155)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows (#1154)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows (#1152)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines
