Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-perl, @centreon/owners-doc

ci(perl): fix packaging path for perl-libs
  perl-libs/packaging/centreon-perl-libs-common.yaml
  perl-libs/packaging/centreon-perl-libs.yaml
Owners: @centreon/owners-perl

wip(gorgone): to delete
  gorgone/gorgone/class/clientzmq.pm
Owners: @centreon/owners-perl

wip(gorgone): test gorgone CI
  .github/workflows/docker-builder.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
  gorgone/gorgone/modules/centreon/judge/class.pm
Owners: @centreon/owners-pipelines, @centreon/owners-perl

fix(gorgone): use Centreon version to create 1 docker images per version with the right repo - develop (#1864)
  .github/docker/Dockerfile.gorgone-testing-alma8
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/docker/Dockerfile.gorgone-testing-bullseye
  .github/docker/Dockerfile.gorgone-testing-jammy
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

chore(release) bump collect to 24.10.2
  CMakeLists.txt
Owners: @centreon/owners-cpp

chore(release) bump gorgone to 24.10.1
  gorgone/.version
Owners: @centreon/owners-perl

chore(release) bump collect to 24.10.2
  .version
Owners: @centreon/owners-cpp

fix agent test memory corruption, add drive_size ut
  agent/inc/com/centreon/agent/drive_size.hh
  agent/native_windows/src/check_drive_size.cc
  agent/src/drive_size.cc
  agent/test/CMakeLists.txt
  agent/test/check_linux_cpu_test.cc
  agent/test/check_uptime_test.cc
  agent/test/check_windows_cpu_test.cc
  agent/test/drive_size_test.cc
  common/inc/com/centreon/common/perfdata.hh
  common/src/perfdata.cc
Owners: @centreon/owners-cpp

feat(engine): GetSeverity return information about severity (#1865)
  engine/enginerpc/engine.proto
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/engine_impl.hh
Owners: @centreon/owners-cpp

pass test variables in a json
  .github/scripts/agent_robot_test.ps1
  .github/scripts/wsl-collect-test-robot.sh
  .github/workflows/windows-agent-robot-test.yml
Owners: @centreon/owners-pipelines

add robot test
  agent/native_windows/src/check_cpu.cc
  agent/native_windows/src/check_uptime.cc
  agent/src/check.cc
  agent/src/drive_size.cc
  tests/broker-engine/cma.robot
  tests/resources/Agent.py
  tests/resources/Common.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix tests
  .github/scripts/agent_installer_test.ps1
  agent/doc/agent-doc.md
  agent/inc/com/centreon/agent/drive_size.hh
  agent/native_windows/src/check_cpu.cc
  agent/native_windows/src/check_uptime.cc
  broker/CMakeLists.txt
  tests/broker-engine/cma.robot
Owners: @centreon/owners-pipelines, @centreon/owners-cpp, @centreon/owners-robot-e2e

fix typo on hosts_hostgroups
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

ci(nfpm): add github label for manual upload of package artifact
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

ci(perl): gorgone workflow now build centreon-perl-libs*
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

fix(common/perfdata): Fix parsing labels with brackets in their names (but not data source types)
  common/src/perfdata.cc
  engine/tests/string/string.cc
Owners: @centreon/owners-cpp

fix(perl-libs): fix nfpm path searching the code
  perl-libs/packaging/centreon-perl-libs-common.yaml
  perl-libs/packaging/centreon-perl-libs.yaml
Owners: @centreon/owners-perl

ci(perl-libs): fix docker image tag research
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

wip(broker/unified_sql): work on mutex _queues_m
  broker/storage/src/conflict_manager_storage.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  broker/unified_sql/src/stream_storage.cc
Owners: @centreon/owners-cpp

wip(broker/unified_sql)
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_storage.cc
Owners: @centreon/owners-cpp

fix agent installer test
  .github/scripts/agent_installer_test.ps1
Owners: @centreon/owners-pipelines

incorporate action from web + 'backport' get-environment is_nightly management
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
Owners: @centreon/owners-pipelines

ci(perl-libs): unit test of the perl libs run on GHA
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

agent accepts empty filters
  agent/src/drive_size.cc
Owners: @centreon/owners-cpp

add nightly creation ticket blocks in collect
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

test(perl-libs): check if env file exist before moving it
  perl-libs/lib/t/common/centreonvault.t
Owners: @centreon/owners-perl

remove useless github.base_ref reference
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

rewrite secret inheritance on package-collect
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix missing secrets
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix lint
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

feat(engine/grpc): add to grpc api GetCommand/GetConnector/GetHostEscalation/GetServiceEscalation
  engine/enginerpc/engine.proto
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/engine_impl.hh
Owners: @centreon/owners-cpp

feat(tests): add test for muliple template inheritance
  tests/engine/multiple_template_inheritance.robot
Owners: @centreon/owners-robot-e2e

feat(tests): add test command inheritance
  tests/engine/command_inheritance.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

feat(tests): add test connector inheritance
  tests/engine/connector_inheritance.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

feat(tests): add test host/service escalations inheritance
  tests/engine/escalation_inheritance.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(tests): improve readability of error messages
  tests/engine/escalation_inheritance.robot
Owners: @centreon/owners-robot-e2e

fix(engine): add set_changed to options_escalation
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/serviceescalation_helper.cc
Owners: @centreon/owners-cpp

fix(broker/unified_sql): typo on hosts_hostgroups (#1871)
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

enh(common/tests): new test on perfdata parsing
  common/tests/perfdata_test.cc
Owners: @centreon/owners-cpp

fix(common/perfdata): Fix parsing labels with brackets in their names… (#1872)
  common/src/perfdata.cc
  common/tests/perfdata_test.cc
  engine/tests/string/string.cc
Owners: @centreon/owners-cpp

.github/CODEOWNERS:

*                              @centreon/owners-cpp

.github/**                     @centreon/owners-pipelines
packaging/**                   @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e

gorgone/                       @centreon/owners-perl
gorgone/docs/                  @centreon/owners-doc
perl-libs/**                   @centreon/owners-perl

*.pm                           @centreon/owners-perl
*.pl                           @centreon/owners-perl
