Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-perl, @centreon/owners-doc

.github/CODEOWNERS:

*                              @centreon/owners-cpp

.github/**                     @centreon/owners-pipelines
packaging/**                   @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e

gorgone/                       @centreon/owners-perl
gorgone/docs/                  @centreon/owners-doc
perl-libs/**                   @centreon/owners-perl

*.pm                           @centreon/owners-perl
*.pl                           @centreon/owners-perl

enh(common): hash directory, file content read, and others functions are moved into the file.cc file
  common/CMakeLists.txt
  common/engine_conf/CMakeLists.txt
  common/engine_conf/parser.cc
  common/engine_conf/parser.hh
  common/engine_conf/state_helper.cc
  common/engine_conf/state_helper.hh
  common/engine_legacy_conf/CMakeLists.txt
  common/inc/com/centreon/common/file.hh
  common/src/file.cc
  common/src/utf8.cc
  common/tests/CMakeLists.txt
  common/tests/engine_conf/parser.cc
  common/tests/file_test.cc
Owners: @centreon/owners-cpp

enh(broker): annotations added to bulk_bind
  broker/unified_sql/inc/com/centreon/broker/unified_sql/bulk_bind.hh
  broker/unified_sql/src/bulk_bind.cc
Owners: @centreon/owners-cpp

cleanup(tests): various improvements on tests
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/downtimes.robot
  tests/broker-engine/tags.robot
  tests/init-proto.sh
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/vault/vault.robot
Owners: @centreon/owners-robot-e2e

enh(broker): write function rewritten to simplify the code
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/config/applier/init.hh
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/inc/com/centreon/broker/config/endpoint.hh
  broker/core/inc/com/centreon/broker/config/parser.hh
  broker/core/inc/com/centreon/broker/config/state.hh
  broker/core/inc/com/centreon/broker/persistent_file.hh
  broker/core/multiplexing/inc/com/centreon/broker/multiplexing/muxer.hh
  broker/core/multiplexing/test/engine/start_stop.cc
  broker/core/sql/inc/com/centreon/broker/sql/mysql.hh
  broker/core/sql/src/mysql.cc
  broker/core/src/bbdo/stream.cc
Owners: @centreon/owners-cpp

cleanup(bbdo): introduction of a new common.proto file
  bbdo/CMakeLists.txt
  bbdo/bbdo.proto
  bbdo/bbdo/ack.hh
  bbdo/bbdo/stop.hh
  bbdo/bbdo/version_response.hh
  bbdo/common.proto
  broker/CMakeLists.txt
  broker/bam/CMakeLists.txt
  broker/core/sql/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  broker/grpc/generate_proto.py
  broker/http_tsdb/CMakeLists.txt
  broker/lua/CMakeLists.txt
  broker/neb/CMakeLists.txt
  broker/simu/CMakeLists.txt
  broker/sql/CMakeLists.txt
  broker/stats/CMakeLists.txt
  broker/storage/CMakeLists.txt
Owners: @centreon/owners-cpp

enh(broker): New GetPeer gRPC function
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/broker_impl.hh
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/src/bbdo/stream.cc
  broker/core/src/broker.proto
  broker/core/src/broker_impl.cc
  broker/core/src/config/applier/state.cc
  broker/core/src/main.cc
  ccc/CMakeLists.txt
Owners: @centreon/owners-cpp

enh(engine): common.proto can be used with engine now and tests on start-stop reinforced
  engine/CMakeLists.txt
  engine/inc/com/centreon/engine/contact.hh
  engine/modules/bench/passive/engine_cfg.cc
  engine/modules/external_commands/CMakeLists.txt
  engine/modules/opentelemetry/CMakeLists.txt
  tests/broker-engine/start-stop.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(tests): new tests on GetPeers function
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/src/bbdo/stream.cc
  broker/core/src/config/applier/state.cc
  tests/broker-engine/start-stop.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(broker/neb): cbmod arguments are parsed with boost::program_options
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/callbacks.cc
  broker/neb/src/initial.cc
  broker/neb/src/internal.cc
  broker/neb/src/neb.cc
  tests/broker-engine/servicegroups.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(common/engine_conf): issue with err/error level in engine logger
  common/engine_conf/anomalydetection_helper.cc
  common/engine_conf/anomalydetection_helper.hh
  common/engine_conf/contact_helper.cc
  common/engine_conf/contact_helper.hh
  common/engine_conf/contactgroup_helper.cc
  common/engine_conf/contactgroup_helper.hh
  common/engine_conf/host_helper.cc
  common/engine_conf/host_helper.hh
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/hostdependency_helper.hh
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/hostescalation_helper.hh
  common/engine_conf/hostgroup_helper.cc
  common/engine_conf/hostgroup_helper.hh
  common/engine_conf/message_helper.hh
  common/engine_conf/service_helper.cc
  common/engine_conf/service_helper.hh
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/servicedependency_helper.hh
  common/engine_conf/serviceescalation_helper.cc
  common/engine_conf/serviceescalation_helper.hh
  common/engine_conf/servicegroup_helper.cc
  common/engine_conf/servicegroup_helper.hh
  common/engine_conf/severity_helper.cc
  common/engine_conf/severity_helper.hh
  common/engine_conf/state_helper.cc
  common/engine_conf/state_helper.hh
  common/engine_conf/tag_helper.cc
  common/engine_conf/tag_helper.hh
  common/engine_conf/timeperiod_helper.cc
  common/engine_conf/timeperiod_helper.hh
Owners: @centreon/owners-cpp

enh(broker): new directories are managed now
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/inc/com/centreon/broker/config/parser.hh
  broker/core/inc/com/centreon/broker/config/state.hh
  broker/core/inc/com/centreon/broker/file/stream.hh
  broker/core/inc/com/centreon/broker/instance_broadcast.hh
  broker/core/src/bbdo/stream.cc
  broker/core/src/config/applier/state.cc
  broker/core/src/config/parser.cc
  broker/core/src/config/state.cc
Owners: @centreon/owners-cpp

enh(broker): improved negotiation is almost done
  broker/core/inc/com/centreon/broker/bbdo/internal.hh
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/src/bbdo/internal.cc
  broker/core/src/bbdo/stream.cc
  broker/core/src/config/applier/state.cc
  broker/core/src/io/events.cc
  broker/core/src/misc/diagnostic.cc
  broker/neb/src/callbacks.cc
Owners: @centreon/owners-cpp

enh(tests): new test to check broker connections
  tests/broker/start-stop.robot
Owners: @centreon/owners-robot-e2e

enh(tests/broker): start-stop tests are improved to check some directories
  tests/broker/start-stop.robot
Owners: @centreon/owners-robot-e2e

cleanup(broker): unused files removed
  broker/test/helgrind.cc
  broker/test/influxdb.cc
Owners: @centreon/owners-cpp

wip(bbdo): work on welcome message
  bbdo/bbdo.proto
Owners: @centreon/owners-cpp

enh(broker): work on unified_sql completed for new negociation
  broker/core/sql/inc/com/centreon/broker/sql/mysql_error.hh
  broker/neb/src/initial.cc
  broker/neb/src/neb.cc
  broker/unified_sql/CMakeLists.txt
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

enh(tests): new negociation tests
  tests/broker-engine/start-stop.robot
  tests/engine/start-stop.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests and some of the start-stop moved to negociation
  tests/broker-engine/negociation.robot
  tests/broker-engine/negociation.robot.mysql
  tests/broker-engine/start-stop.robot
Owners: @centreon/owners-robot-e2e

fix(bbdo): welcome message contains poller name and broker name
  bbdo/bbdo.proto
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/src/bbdo/stream.cc
Owners: @centreon/owners-cpp

wip(broker/applier/state): broker name and poller name must not be mixed
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/src/config/applier/state.cc
Owners: @centreon/owners-cpp

enh(tests): start-stop and negociation tests splitted
  tests/broker/negociation.robot
  tests/broker/start-stop.robot
Owners: @centreon/owners-robot-e2e

fix(tests): regressions due to changes in the code
  tests/broker-engine/negociation.robot
Owners: @centreon/owners-robot-e2e

fix(tests): the get hosts services count did not wait for the good value
  tests/broker-engine/lua-cache.robot
  tests/broker-engine/negociation.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

fix(broker/unified_sql): with mysql we had a wrong query executed.
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker/bbdo): the extended negociation must be done even on grpc stream
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/src/bbdo/stream.cc
Owners: @centreon/owners-cpp

fix(tests)
  tests/broker-engine/negociation.robot
Owners: @centreon/owners-robot-e2e

fix(broker): we keep poller_name and broker_name. And tests updated
  bbdo/bbdo.proto
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/src/bbdo/stream.cc
  broker/core/src/broker.proto
  broker/core/src/broker_impl.cc
  broker/core/src/config/applier/state.cc
  tests/broker-engine/negociation.robot
  tests/broker/start-stop.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker/bbdo): potential exceptions replaced by error_codes
  broker/core/src/bbdo/stream.cc
Owners: @centreon/owners-cpp

fix(tests): new tests on grpc stream and extended negociation
  tests/broker-engine/negociation.robot
Owners: @centreon/owners-robot-e2e

fix(broker/unified_sql): bad condition fixed
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(ci): new engine conf set by default
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

fix(broker & common): filesystem functions have a version with error_code that we prefer to use
  broker/core/src/bbdo/stream.cc
  common/inc/com/centreon/common/file.hh
  common/src/file.cc
  common/tests/file_test.cc
Owners: @centreon/owners-cpp

fix(tests/negociation): bbdo 3.1.0 enabled
  tests/broker-engine/negociation.robot
Owners: @centreon/owners-robot-e2e

fix(broker): always filepath with error_code
  broker/neb/src/callbacks.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(gorgone): reduce buffer_size and document it.
  gorgone/docs/modules/core/proxy.md
  gorgone/gorgone/modules/core/proxy/hooks.pm
Owners: @centreon/owners-doc, @centreon/owners-perl
