Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-robot-e2e, @centreon/owners-bash, @centreon/owners-lua, @centreon/owners-pipelines, @centreon/owners-doc

.github/CODEOWNERS:

*.cc                @centreon/owners-cpp
*.hh                @centreon/owners-cpp
*.hpp               @centreon/owners-cpp
*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.robot             @centreon/owners-robot-e2e

*.sh                @centreon/owners-bash
*.lua               @centreon/owners-lua

.github/**/*.yml    @centreon/owners-pipelines
*.Dockerfile        @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines

*.po                @centreon/owners-doc
*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

cleanup(broker): way to call time() was deprecated.
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/src/bbdo/stream.cc
  broker/core/src/config/applier/state.cc
  broker/core/src/io/limit_endpoint.cc
  broker/core/src/stats/center.cc
  broker/tcp/src/tcp_connection.cc
  broker/unified_sql/src/stream.cc
Owners: @centreon/owners-cpp

fix: improve tests
  tests/broker-engine/rrd-from-db.robot
  tests/broker/bbdo-server-client-ko.robot
  tests/broker/bbdo-server-client-reversed.robot
  tests/resources/Bench.py
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(gorgone): Process killed after a OOM - Deep recursion on subroutine (#2546)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

fix(gorgone): Process killed after a OOM - Deep recursion on subroutine (#2546)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

fix(gorgone): Process killed after a OOM - Deep recursion on subroutine (#2577)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

fix(gorgone): Process killed after a OOM - Deep recursion on subroutine (#2580)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

Revert "fix(gorgone): Process killed after a OOM - Deep recursion on subroutine" (#2585)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

Revert "fix(gorgone): Process killed after a OOM - Deep recursion on subroutine" (#2586)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

Revert "fix(gorgone): Process killed after a OOM - Deep recursion on subroutine" (#2587)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

Revert "fix(gorgone): Process killed after a OOM - Deep recursion on subroutine" (#2587)
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/legacycmd/hooks.pm
  gorgone/gorgone/modules/core/cron/hooks.pm
Owners: none

bump version gorgone to 23.04.7
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: none

bump Collect to version 23.04.5
  CMakeLists.txt
Owners: @centreon/owners-cpp

bump gorgone to version 22.10.3
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: none

bump collect to version 22.10.6
  CMakeLists.txt
Owners: @centreon/owners-cpp

fix(engine/timeperiod): timeperiod exceptions did not work with protobuf
  common/configuration/message_helper.cc
  common/configuration/state-generated.proto
  common/configuration/state.proto
  common/configuration/timeperiod_helper.cc
  common/configuration/timeperiod_helper.hh
  engine/inc/com/centreon/engine/configuration/timeperiod.hh
  engine/inc/com/centreon/engine/daterange.hh
  engine/inc/com/centreon/engine/timerange.hh
  engine/src/configuration/timeperiod.cc
  engine/src/daterange.cc
  engine/state-generated.proto
  engine/tests/configuration/applier/applier-contact.cc
  engine/tests/configuration/applier/applier-pbcontact.cc
  engine/tests/configuration/applier/applier-timeperiod.cc
  tests/connector_perl/connector_perl.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests/perl_connector): It works with log_v2 now
  tests/connector_perl/conf_engine/centengine.cfg
  tests/connector_perl/connector_perl.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(tests): acknowledgements with bbdo3
  tests/broker-engine/acknowledgement.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

bump collect to 22.04.5
  CMakeLists.txt
Owners: @centreon/owners-cpp

remove useless service_id in HostCheck
  bbdo/neb.proto
Owners: none

enh(broker/bam): output of ba dump kpi names instead of id
  broker/bam/inc/com/centreon/broker/bam/configuration/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_ba.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_boolexp.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_service.hh
  broker/bam/src/ba_impact.cc
  broker/bam/src/ba_worst.cc
  broker/bam/src/configuration/applier/kpi.cc
  broker/bam/src/configuration/kpi.cc
  broker/bam/src/configuration/reader_v2.cc
  broker/bam/src/kpi.cc
  broker/bam/src/kpi_ba.cc
  broker/bam/src/kpi_boolexp.cc
  broker/bam/src/kpi_service.cc
  broker/bam/test/ba/kpi_ba.cc
  broker/bam/test/ba/kpi_service.cc
  broker/bam/test/exp_builder/exp_builder.cc
  tests/bam/bam_pb.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker/bbdo-server-client-ko.robot
  tests/broker/bbdo-server-client-reversed.robot
  tests/resources/Bench.py
  tests/resources/resources.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

ci: force pull of signing container
  .github/actions/package-sign/action.yml
Owners: @centreon/owners-pipelines

fix(tests/severities): hosts severities should work with protobuf conf now
  common/configuration/state-generated.proto
  engine/inc/com/centreon/engine/configuration/applier/host.hh
  engine/inc/com/centreon/engine/configuration/applier/pb_difference.hh
  engine/src/configuration/applier/host.cc
  engine/src/configuration/applier/service.cc
  engine/src/configuration/applier/state.cc
  engine/src/configuration/host.cc
  engine/src/configuration/parser.cc
  engine/tests/configuration/applier/applier-anomalydetection.cc
  tests/resources/Common.py
  tests/severities/hosts.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

ci: force pull of signing container
  .github/actions/package-sign/action.yml
Owners: @centreon/owners-pipelines

ci: force pull of signing container
  .github/actions/package-sign/action.yml
Owners: @centreon/owners-pipelines

fix(ci): conan updated
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/workflows/package-collect.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix(ci): force python3.18 to intall conan
  .github/docker/Dockerfile.collect-alma9
Owners: none

fix(ci): python3 upgraded
  .github/docker/Dockerfile.centreon-collect-alma9
Owners: none

fix(ci): upgrade of python3
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
Owners: none

fix(ci): python3 upgraded
  cmake.sh
Owners: @centreon/owners-bash

enh(engine/exceptions/error): header used too many times for nothing
  clib/inc/com/centreon/exceptions/error.hh
  clib/inc/com/centreon/exceptions/msg_fmt.hh
  engine/inc/com/centreon/engine/configuration/applier/scheduler.hh
  engine/inc/com/centreon/engine/configuration/file_info.hh
  engine/inc/com/centreon/engine/timerange.hh
  engine/modules/external_commands/src/main.cc
  engine/src/broker/loader.cc
  engine/src/configuration/applier/scheduler.cc
  engine/src/events/timed_event.cc
  engine/src/main.cc
  engine/tests/checks/anomalydetection.cc
  engine/tests/checks/pb_anomalydetection.cc
  engine/tests/checks/pb_service_check.cc
  engine/tests/checks/pb_service_retention.cc
  engine/tests/checks/service_check.cc
  engine/tests/checks/service_retention.cc
  engine/tests/configuration/applier/applier-anomalydetection.cc
  engine/tests/configuration/applier/applier-hostdependency.cc
  engine/tests/configuration/applier/applier-pbanomalydetection.cc
  engine/tests/configuration/applier/applier-service.cc
  engine/tests/configuration/host.cc
  engine/tests/configuration/service.cc
  engine/tests/loop/loop.cc
  engine/tests/notifications/host_downtime_notification.cc
  engine/tests/notifications/host_flapping_notification.cc
  engine/tests/notifications/host_normal_notification.cc
  engine/tests/notifications/host_recovery_notification.cc
  engine/tests/notifications/service_downtime_notification_test.cc
  engine/tests/notifications/service_normal_notification.cc
  engine/tests/notifications/service_timeperiod_notification.cc
  engine/tests/retention/dump.cc
  engine/tests/retention/host.cc
  engine/tests/retention/service.cc
  engine/tests/timeperiod/utils.cc
Owners: @centreon/owners-cpp

enh(engine/exceptions): engine_error move to error in configuration
  broker/core/sql/src/mysql.cc
  broker/core/sql/src/mysql_connection.cc
  broker/core/sql/src/mysql_manager.cc
  broker/core/src/pool.cc
  engine/src/broker/loader.cc
  engine/src/configuration/parser.cc
Owners: @centreon/owners-cpp

enh(engine/exceptions): first step on errors exceptions
  clib/inc/com/centreon/exceptions/basic.hh
  clib/inc/com/centreon/exceptions/msg_fmt.hh
  connectors/perl/src/options.cc
  engine/inc/com/centreon/engine/configuration/file_info.hh
  engine/tests/configuration/host.cc
  engine/tests/configuration/service.cc
  tests/resources/Common.py
Owners: @centreon/owners-cpp

fix(tests): a regex is modified to see larger
  tests/resources/Common.py
Owners: none

enh(tests): doc updated
  tests/README.md
Owners: @centreon/owners-doc

review comments
  bbdo/bam.proto
  broker/core/inc/com/centreon/broker/bbdo/acceptor.hh
  broker/core/inc/com/centreon/broker/bbdo/connector.hh
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/io/factory.hh
  broker/core/inc/com/centreon/broker/io/stream.hh
  broker/core/src/bbdo/acceptor.cc
  broker/core/src/bbdo/connector.cc
  broker/core/src/bbdo/factory.cc
  broker/core/src/bbdo/stream.cc
  broker/core/src/compression/factory.cc
  broker/core/src/io/factory.cc
  broker/core/src/io/stream.cc
  broker/grpc/generate_proto.py
  broker/grpc/inc/com/centreon/broker/grpc/channel.hh
  broker/grpc/inc/com/centreon/broker/grpc/client.hh
  broker/grpc/inc/com/centreon/broker/grpc/grpc_config.hh
  broker/grpc/inc/com/centreon/broker/grpc/stream.hh
  broker/grpc/src/channel.cc
  broker/grpc/src/factory.cc
  broker/grpc/src/server.cc
  broker/grpc/src/stream.cc
  broker/grpc/test/acceptor.cc
  broker/grpc/test/stream_test.cc
  broker/tls/src/factory.cc
Owners: @centreon/owners-cpp

fix: improve tests
  tests/broker-engine/rrd-from-db.robot
  tests/resources/Bench.py
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(broker): acknowledgement bug with sticky
  broker/neb/src/callbacks.cc
  common/log_v2/log_v2.cc
Owners: @centreon/owners-cpp

enh(tests): acknowledgement new tests and also they are completed
  tests/broker-engine/acknowledgement.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

enh(ci): enable debug robot again
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

ci: force pull of signing container
  .github/actions/package-sign/action.yml
Owners: @centreon/owners-pipelines
