Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

fix
  .version
Owners: @centreon/owners-cpp

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

rebuild json data
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

test
  .version
Owners: @centreon/owners-cpp

test
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

Revert "test"
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

Revert "Revert "test""
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

more tests
  .github/actions/release/action.yml
  .github/workflows/release.yml
  .version
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

more tests
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

review
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

29
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

30
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

31
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

31
  .github/workflows/robot-test.yml
  tests/broker-engine/services.robot
  tests/testIssueFields.json
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

32
  .github/workflows/robot-test.yml
  tests/output.xml
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

33
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

34
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

35
  output.xml
Owners: @centreon/owners-cpp

36
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines
