Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

fix(engine): semicolon is not considered as a beginning of comment in engine configuration file (#1157)
  engine/precomp_inc/precomp.hh
  engine/src/configuration/object.cc
  engine/src/string.cc
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

clean(tests): tag added to test
  tests/broker-engine/services-increased.robot
Owners: @centreon/owners-robot-e2e

clean(tests): tag added to test
  tests/broker-engine/services-and-bulk-stmt.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on metric name sizes
  resources/centreon_storage.sql
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/resources/Engine.py
  tests/update-doc.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fill peer list of tcp acceptor, bam bad handled exception is replaced by an error message
  broker/bam/src/timeperiod_map.cc
  broker/core/src/processing/acceptor.cc
  broker/core/src/processing/failover.cc
  broker/tcp/inc/com/centreon/broker/tcp/acceptor.hh
  broker/tcp/src/acceptor.cc
  broker/tcp/test/acceptor.cc
  tests/bam/bam_pb.robot
  tests/resources/Broker.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): peer list of tcp and bam acceptors were badly handled
  broker/bam/src/timeperiod_map.cc
  broker/core/src/processing/acceptor.cc
  broker/core/src/processing/failover.cc
  broker/tcp/inc/com/centreon/broker/tcp/acceptor.hh
  broker/tcp/src/acceptor.cc
  broker/tcp/test/acceptor.cc
  tests/bam/bam_pb.robot
  tests/resources/Broker.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): peer list of tcp and bam acceptors were badly handled
  broker/bam/src/timeperiod_map.cc
  broker/core/src/processing/acceptor.cc
  broker/core/src/processing/failover.cc
  broker/tcp/inc/com/centreon/broker/tcp/acceptor.hh
  broker/tcp/src/acceptor.cc
  broker/tcp/test/acceptor.cc
  tests/bam/bam_pb.robot
  tests/resources/Broker.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

add feedbacks
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

add feedbacks
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(broker): peer list of tcp and bam acceptors were badly handled
  broker/bam/src/timeperiod_map.cc
  broker/core/src/processing/acceptor.cc
  broker/core/src/processing/failover.cc
  broker/tcp/inc/com/centreon/broker/tcp/acceptor.hh
  broker/tcp/src/acceptor.cc
  broker/tcp/test/acceptor.cc
  tests/bam/bam_pb.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

clean(tests): branch tag added to the test
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(broker/tcp): an important line forgotten
  broker/tcp/src/acceptor.cc
Owners: @centreon/owners-cpp

fix(tests): regression due to rebase
  broker/bam/inc/com/centreon/broker/bam/monitoring_stream.hh
  broker/bam/src/main.cc
  broker/bam/src/monitoring_stream.cc
  tests/bam/bam_pb.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

* fix(broker): peer list of tcp and bam acceptors were badly handled
  broker/bam/inc/com/centreon/broker/bam/monitoring_stream.hh
  broker/bam/src/main.cc
  broker/bam/src/monitoring_stream.cc
  broker/bam/src/timeperiod_map.cc
  broker/core/src/processing/acceptor.cc
  broker/core/src/processing/failover.cc
  broker/tcp/inc/com/centreon/broker/tcp/acceptor.hh
  broker/tcp/src/acceptor.cc
  broker/tcp/test/acceptor.cc
  tests/bam/bam_pb.robot
  tests/resources/Broker.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): peer list of tcp and bam acceptors were badly handled (#1158)
  broker/bam/src/timeperiod_map.cc
  broker/core/src/processing/acceptor.cc
  broker/core/src/processing/failover.cc
  broker/tcp/inc/com/centreon/broker/tcp/acceptor.hh
  broker/tcp/src/acceptor.cc
  broker/tcp/test/acceptor.cc
  tests/bam/bam_pb.robot
  tests/resources/Broker.py
  tests/resources/db_conf.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): issue fixed between comments and fields in engine cfg files
  engine/precomp_inc/precomp.hh
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(cmake): option to link with mold
  cmake.sh
Owners: @centreon/owners-cpp

cleanup(tests): new tag added
  tests/engine/forced_checks.robot
Owners: @centreon/owners-robot-e2e

fix(engine): issue fixed between comments and fields in engine cfg files
  cmake.sh
  engine/precomp_inc/precomp.hh
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

MON-21877-broker-could-not-insert-tag-in-resources_tags-table (#968)
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/tags.robot
  tests/resources/Common.py
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

cleanup(tests): tag added to tests
  tests/broker-engine/tags.robot
Owners: @centreon/owners-robot-e2e

enh(broker/bam): missing file added
  broker/bam/inc/com/centreon/broker/bam/internal.hh
Owners: @centreon/owners-cpp

fix(tests): issue surely due to backport fixed
  tests/broker-engine/tags.robot
Owners: @centreon/owners-robot-e2e

fix(ci): update release action curl and workflows (#1153)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(broker/bam): regression in backport
  broker/bam/inc/com/centreon/broker/bam/internal.hh
Owners: @centreon/owners-cpp

fix(engine/tag): broker could not insert tag in resources_tags
  broker/bam/inc/com/centreon/broker/bam/internal.hh
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/tags.robot
  tests/resources/Common.py
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

MON-23624 rrd files have group rw permissions (#978)
  broker/CMakeLists.txt
  broker/rrd/src/creator.cc
  broker/test/CMakeLists.txt
  tests/broker-engine/rrd.robot
  tests/resources/Common.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(tests): tag added to tests
  tests/broker-engine/rrd.robot
Owners: @centreon/owners-robot-e2e

fix(tests): common.py several typos fixed
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix: no error message of threshold file not found when engine verify conf
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

cleanup(tests): new tag on test
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-robot-e2e

fix(engine): no error message when threshold file is not found while Engine verifies the configuration
  engine/src/anomalydetection.cc
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e
