Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

enh(engine): some cleanup
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  engine/inc/com/centreon/engine/logging/broker_sink.hh
  engine/inc/com/centreon/engine/nebcallbacks.hh
  engine/inc/com/centreon/engine/nebstructs.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): downtimes correctly sent to broker
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/src/cbmod.cc
  engine/src/broker.cc
Owners: @centreon/owners-cpp

fix(broker): cmake rules changed with limit_endpoint
  broker/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  broker/tcp/CMakeLists.txt
  engine/tests/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(broker): the cbmod is compiled with the grpc library to fix an issue with alma8
  broker/neb/CMakeLists.txt
Owners: @centreon/owners-cpp

enh(engine): group members are sent now
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

fix(broker): host checks, group members, group handling, comments, custom variables and downtimes removed from callbacks.cc
  broker/neb/src/callbacks.cc
Owners: @centreon/owners-cpp

fix(engine): missing logger added
  engine/src/globals.cc
  engine/tests/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(broker): compilation fixed
  broker/grpc/src/stream.cc
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/tcp/src/tcp_connection.cc
Owners: @centreon/owners-cpp

enh(engine): functions prototypes more strict in broker.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): unused functions removed from broker.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/checks/checker.cc
  engine/src/events/loop.cc
  engine/src/events/timed_event.cc
  engine/src/sehandlers.cc
  engine/src/service.cc
  engine/src/utils.cc
Owners: @centreon/owners-cpp

fix(engine): ut_engine fixed
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  engine/tests/cbmod_test.hh
  engine/tests/helper.cc
Owners: @centreon/owners-cpp

cleanup(engine): legacy_engine flag removed from workflow
  .github/workflows/centreon-collect.yml
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
  tests/resources/Common.py
  tests/resources/Engine.py
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

fix(broker): the cbmod object has the use_protobuf flag initialized later because otherwise, we don\'t yet have the good value
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

enh(engine): groups are correctly sent now
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): log handling moved from callbacks.cc to broker.cc
  broker/neb/src/callbacks.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): service status are well sent now with the lib
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/service.cc
Owners: @centreon/owners-cpp

enh(engine): hosts are well sent by engine to broker
  broker/neb/src/callbacks.cc
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/commands/commands.cc
  engine/src/configuration/applier/host.cc
  engine/src/host.cc
Owners: @centreon/owners-cpp

enh(engine): contact_status never sent to broker, so function removed
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(broker): host status handling moved from callbacks.cc to broker.cc
  broker/neb/src/callbacks.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/host.cc
Owners: @centreon/owners-cpp

enh(engine): external commands are sent now
  broker/neb/src/callbacks.cc
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): host status correctly sent
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/checks/checker.cc
  engine/src/host.cc
Owners: @centreon/owners-cpp

fix(tests): tests adaptation to work with the new centengine
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(engine): work on check_for_external_commands logs
  engine/src/main.cc
Owners: @centreon/owners-cpp

fix(engine): avoid to send a status if already sent
  engine/src/service.cc
Owners: @centreon/owners-cpp

fix(tests): I hate the keyword Should Be True returning 'False should be True'
  tests/broker-engine/start-stop.robot
Owners: @centreon/owners-robot-e2e

cleanup(engine): legacy code removed
  engine/src/configuration/applier/state.cc
Owners: @centreon/owners-cpp

fix(tests): many errors fixed in PBINST_CONF test
  tests/broker-engine/bbdo-protobuf.robot
Owners: @centreon/owners-robot-e2e

fix(broker): too many service checks sent to engine
  broker/bam/src/monitoring_stream.cc
Owners: @centreon/owners-cpp

fix(broker/bam): avoid to send several SCHEDULE_FORCED_SVC at the same date
  broker/bam/inc/com/centreon/broker/bam/monitoring_stream.hh
  broker/bam/src/monitoring_stream.cc
Owners: @centreon/owners-cpp

fix(tests): summary.py should work again since the last version of robotframework
  tests/summary.py
Owners: @centreon/owners-robot-e2e

fix(engine): a bug fixed in forward_pb_host that caused a segfault
  engine/src/broker.cc
Owners: @centreon/owners-cpp

fix(engine): issues on custom variables fixed in broker.cc
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(tests): some logs added to understand a bug
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): wait for engine used in more tests
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): another test in external-commands cleaned up
  tests/broker-engine/external-commands.robot
Owners: @centreon/owners-robot-e2e

cleanup(engine): refactorization of a function
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): cbm->reload is called
  engine/src/configuration/applier/state.cc
Owners: @centreon/owners-cpp

enh(engine): in case of configuration verification, engine has to also load cbmod
  engine/src/main.cc
Owners: @centreon/owners-cpp

fix(cmake): WITH_CONF is now for engine and broker
  broker/CMakeLists.txt
  broker/config/cbmod.cfg.in
  engine/conf/CMakeLists.txt
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-cpp, @centreon/owners-pipelines

fix(engine): no need to send resource update after reading the retention
  engine/src/commands/commands.cc
  engine/src/retention/applier/host.cc
  engine/src/retention/applier/service.cc
  engine/src/service.cc
Owners: @centreon/owners-cpp

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security
