Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-robot-e2e, @centreon/owners-bash, @centreon/owners-lua, @centreon/owners-pipelines, @centreon/owners-doc

.github/CODEOWNERS:

*.cc                @centreon/owners-cpp
*.hh                @centreon/owners-cpp
*.hpp               @centreon/owners-cpp
*.cmake             @centreon/owners-cpp
CMakeLists.txt      @centreon/owners-cpp
Makefile            @centreon/owners-cpp

*.robot             @centreon/owners-robot-e2e

*.sh                @centreon/owners-bash
*.lua               @centreon/owners-lua

.github/**/*.yml    @centreon/owners-pipelines
*.Dockerfile        @centreon/owners-pipelines
packaging/**        @centreon/owners-pipelines
selinux/**          @centreon/owners-pipelines

*.po                @centreon/owners-doc
*.md                @centreon/owners-doc
*.mdx               @centreon/owners-doc

fix(engine/tests): acknowledgements and tests on acknowledgements fixed
  broker/unified_sql/src/stream_sql.cc
  common/log_v2/log_v2.cc
  engine/inc/com/centreon/engine/commands/commands.hh
  engine/src/commands/commands.cc
  engine/src/configuration/applier/state.cc
  engine/src/main.cc
  engine/src/retention/dump.cc
Owners: @centreon/owners-cpp

fix(robot): enable protobuf engine configuration
  .github/scripts/collect-test-robot.sh
Owners: @centreon/owners-bash

fix(robot): acknowledgement tests improved
  tests/broker-engine/acknowledgement.robot
  tests/broker-engine/retention-duplicates.robot
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/resources.robot
  tests/resources/specific-duplication.py
Owners: @centreon/owners-robot-e2e

Mon 20969 - have the possibility to invert filters accepted hostgroups rejected hostgroups (#158)
  stream-connectors/modules/centreon-stream-connectors-lib/sc_event.lua
  stream-connectors/modules/centreon-stream-connectors-lib/sc_params.lua
  stream-connectors/modules/docs/sc_event.md
  stream-connectors/modules/docs/sc_param.md
Owners: @centreon/owners-lua, @centreon/owners-doc

fix downtime ack ba_status bbdo3 (#163)
  stream-connectors/modules/centreon-stream-connectors-lib/sc_common.lua
  stream-connectors/modules/centreon-stream-connectors-lib/sc_event.lua
  stream-connectors/modules/centreon-stream-connectors-lib/sc_params.lua
  stream-connectors/modules/docs/README.md
  stream-connectors/modules/docs/sc_common.md
Owners: @centreon/owners-lua, @centreon/owners-doc

fix(engine): segfault fixed
  common/configuration/service_helper.cc
  engine/src/configuration/applier/contact.cc
  engine/src/contact.cc
  engine/src/macros.cc
  tests/engine/forced_checks.robot
  tests/robot.sh
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e, @centreon/owners-bash

feat(ci): add linting to worflow and actions files (#933)
  .github/actions/release/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933)
  .github/actions/release/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933)
  .github/actions/release/action.yml
  .github/workflows/actionlint.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933)
  .github/workflows/actionlint.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933)
  .github/workflows/actionlint.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933) (#941)
  .github/actions/release/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933) (#942)
  .github/actions/release/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/actions/delivery/action.yml
  .github/actions/package-sign/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933) (#943)
  .github/actions/delivery/action.yml
  .github/actions/package-sign/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/actions/promote-to-stable/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

fix linting
  .github/actions/package-sign/action.yml
Owners: @centreon/owners-pipelines

feat(ci): add linting to worflow and actions files (#933) (#944)
  .github/actions/delivery/action.yml
  .github/actions/package-sign/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/release-collect.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

MON-11584 output of ba dump kpi names instead of id (#932)
  broker/bam/inc/com/centreon/broker/bam/configuration/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_ba.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_boolexp.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_service.hh
  broker/bam/src/ba_impact.cc
  broker/bam/src/ba_worst.cc
  broker/bam/src/configuration/applier/kpi.cc
  broker/bam/src/configuration/kpi.cc
  broker/bam/src/configuration/reader_v2.cc
  broker/bam/src/kpi.cc
  broker/bam/src/kpi_ba.cc
  broker/bam/src/kpi_boolexp.cc
  broker/bam/src/kpi_service.cc
  broker/bam/test/ba/kpi_ba.cc
  broker/bam/test/ba/kpi_service.cc
  broker/bam/test/exp_builder/exp_builder.cc
  tests/bam/bam_pb.robot
  tests/resources/resources.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

bbdo give to grpc protobuf events without encoding
  bbdo/CMakeLists.txt
  broker/core/inc/com/centreon/broker/bbdo/acceptor.hh
  broker/core/inc/com/centreon/broker/bbdo/connector.hh
  broker/core/inc/com/centreon/broker/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/io/protobuf.hh
  broker/core/inc/com/centreon/broker/io/stream.hh
  broker/core/src/bbdo/acceptor.cc
  broker/core/src/bbdo/connector.cc
  broker/core/src/bbdo/factory.cc
  broker/core/src/bbdo/stream.cc
  broker/core/src/io/stream.cc
  broker/grpc/CMakeLists.txt
  broker/grpc/generate_proto.py
  broker/grpc/inc/com/centreon/broker/grpc/channel.hh
  broker/grpc/inc/com/centreon/broker/grpc/grpc_bridge.hh
  broker/grpc/src/channel.cc
  broker/grpc/src/stream.cc
  broker/grpc/test/grpc_test_include.hh
  broker/neb/src/broker.cc
  broker/rrd/CMakeLists.txt
  broker/storage/CMakeLists.txt
  broker/unified_sql/CMakeLists.txt
Owners: @centreon/owners-cpp

enh use of templated event_with_data
  broker/grpc/generate_proto.py
  broker/grpc/inc/com/centreon/broker/grpc/channel.hh
  broker/grpc/inc/com/centreon/broker/grpc/grpc_bridge.hh
Owners: @centreon/owners-cpp

embed bbdo object in proto grpc message
  bbdo/bam.proto
  bbdo/extcmd.proto
  bbdo/neb.proto
  bbdo/rebuild_message.proto
  bbdo/remove_graph_message.proto
  bbdo/severity.proto
  bbdo/storage.proto
  bbdo/tag.proto
  broker/core/inc/com/centreon/broker/io/stream.hh
  broker/core/src/io/stream.cc
  broker/grpc/CMakeLists.txt
  broker/grpc/generate_proto.py
  broker/grpc/grpc_stream.proto
  broker/grpc/inc/com/centreon/broker/grpc/channel.hh
  broker/grpc/inc/com/centreon/broker/grpc/client.hh
  broker/grpc/inc/com/centreon/broker/grpc/grpc_bridge.hh
  broker/grpc/inc/com/centreon/broker/grpc/server.hh
  broker/grpc/src/channel.cc
  broker/grpc/src/client.cc
  broker/grpc/src/server.cc
  broker/grpc/src/stream.cc
  broker/grpc/test/channel_test.cc
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/test/CMakeLists.txt
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

use of Config BBDO3
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/bench.robot
  tests/broker-engine/downtimes.robot
  tests/broker-engine/external-commands.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/hostgroups.robot
  tests/broker-engine/hosts-with-notes-and-actions.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/servicegroups.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services-with-notes-and-actions.robot
  tests/broker-engine/services.robot
  tests/broker-engine/tags.robot
  tests/ccc/ccc.robot
  tests/engine/forced_checks.robot
  tests/migration/migration.robot
  tests/severities/hosts.robot
  tests/severities/severities.robot
Owners: @centreon/owners-robot-e2e

event_with_data with methid pointer
  broker/core/inc/com/centreon/broker/io/protobuf.hh
  broker/grpc/generate_proto.py
  broker/grpc/inc/com/centreon/broker/grpc/channel.hh
Owners: @centreon/owners-cpp

fix tests
  broker/grpc/src/channel.cc
  broker/rrd/CMakeLists.txt
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/bbdo-server-client.robot
  tests/broker/sql.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh read events are not copied
  broker/core/inc/com/centreon/broker/io/protobuf.hh
  broker/grpc/generate_proto.py
  broker/grpc/inc/com/centreon/broker/grpc/grpc_bridge.hh
  broker/grpc/src/channel.cc
  broker/grpc/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(ut_broker) session_base die after log_v2
  broker/http_client/test/http_connection_test.cc
Owners: @centreon/owners-cpp

fix(unified_sql): don't linked with roker_base
  broker/unified_sql/CMakeLists.txt
Owners: @centreon/owners-cpp

generation des packages A NE SURTOUT PAS GARDER
  .github/workflows/package-collect.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

enh add alma9 grpc 3.10 tests
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/Bench.py
  tests/resources/Broker.py
  tests/resources/Common.py
Owners: @centreon/owners-bash, @centreon/owners-pipelines, @centreon/owners-robot-e2e

fix bad commit
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  tests/broker/bbdo-server-client-ko.robot
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/resources.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

yml lint fix
  .github/workflows/docker-builder.yml
  .github/workflows/get-version.yml
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

MON-11584 output of ba dump kpi names instead of id (#932)
  broker/bam/inc/com/centreon/broker/bam/configuration/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_ba.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_boolexp.hh
  broker/bam/inc/com/centreon/broker/bam/kpi_service.hh
  broker/bam/src/ba_impact.cc
  broker/bam/src/ba_worst.cc
  broker/bam/src/configuration/applier/kpi.cc
  broker/bam/src/configuration/kpi.cc
  broker/bam/src/configuration/reader_v2.cc
  broker/bam/src/kpi.cc
  broker/bam/src/kpi_ba.cc
  broker/bam/src/kpi_boolexp.cc
  broker/bam/src/kpi_service.cc
  broker/bam/test/ba/kpi_ba.cc
  broker/bam/test/ba/kpi_service.cc
  broker/bam/test/exp_builder/exp_builder.cc
  tests/bam/bam_pb.robot
  tests/resources/resources.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): delete poller could miss a poller deletion in case of a poller killed aggressivly
  broker/core/inc/com/centreon/broker/exceptions/shutdown.hh
  broker/core/src/main.cc
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  engine/inc/com/centreon/engine/exceptions/error.hh
  engine/src/configuration/contact.cc
  engine/src/exceptions/error.cc
  tests/broker-engine/delete-poller.robot
  tests/resources/Broker.py
  tests/resources/Common.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): delete_poller by id also fixed
  broker/unified_sql/src/stream.cc
  tests/broker-engine/delete-poller.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e
