Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

wip
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-alma8
Owners: @centreon/owners-pipelines

enh(ci): nightly disabled on 22.04
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

wip
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

wip
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
Owners: @centreon/owners-pipelines

test
  .github/workflows/robot-test.yml
  tests/issueFields.json
  tests/testIssueFields.json
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

test
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

test
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(broker/graphite): new dependency
  broker/graphite/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(broker): new dependency in influxdb
  broker/influxdb/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(bbd): new dependency
  bbdo/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(broker/bam): unused function removed
  broker/bam/src/bool_service.cc
Owners: @centreon/owners-cpp

fix(broker/bam): unused function removed
  broker/bam/src/bool_service.cc
Owners: @centreon/owners-cpp

test dt with 5 pollers
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

modification
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): test renamed
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

fix(tests): tests simplified a little more
  tests/broker-engine/downtimes.robot
  tests/resources/db_variables.resource
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(tests): engine start better detected
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

oops
  tests/resources/db_variables.resource
Owners: @centreon/owners-robot-e2e

test dt with 5 pollers
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

modification
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): test renamed
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

fix(tests): tests simplified a little more
  tests/broker-engine/downtimes.robot
  tests/resources/db_variables.robot
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(tests): engine start better detected
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

oops
  tests/resources/db_variables.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on downtimes to check with several pollers
  tests/broker-engine/downtimes.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(tests): tests tags updated
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

test dt with 5 pollers
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

modification
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): test renamed
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

fix(tests): tests simplified a little more
  tests/broker-engine/downtimes.robot
  tests/resources/db_variables.robot
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

fix(tests): engine start better detected
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

oops
  tests/resources/db_variables.robot
Owners: @centreon/owners-robot-e2e

fix(tests): tests tags updated
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on downtimes with 5 pollers
  tests/broker-engine/downtimes.robot
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

enh(tests): new tests on downtimes with 5 pollers
  tests/broker-engine/downtimes.robot
  tests/resources/resources.robot
Owners: @centreon/owners-robot-e2e

doc(README): installation procedure updated
  README.md
Owners: @centreon/owners-cpp

test
  tests/broker-engine/services.robot
Owners: @centreon/owners-robot-e2e

enh(cmake/doc): cleanup and doc improved
  broker/bam/CMakeLists.txt
  broker/doc/broker-doc.md
Owners: @centreon/owners-cpp

fix(engine): whitelist directory renamed in usr/share
  engine/doc/engine-doc.md
  engine/src/configuration/whitelist.cc
Owners: @centreon/owners-cpp

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e
