Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

wip
  tests/broker-engine/downtimes.robot
  tests/broker-engine/external-commands.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/bam/inherited_downtime.robot
  tests/bam/pb_inherited_downtime.robot
  tests/broker-database/networkFailure.robot
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-robot-e2e

fix(ci): handle concurrent hotfix and release
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fixed missing inputs in nightly and libzmq workflow
  .github/workflows/libzmq.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

Update action.yml
  .github/actions/delivery/action.yml
Owners: @centreon/owners-pipelines

wip
  tests/bam/inherited_downtime.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

feat(ci): rework release workflow and communications (#1187)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

feat(ci): rework release workflow and communications (#1186)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

feat(ci): rework release workflow and communications (#1185)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

wip
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

fix(ci): handle concurrent hotfix and release (#1191)
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-version.yml
  .github/workflows/libzmq.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

wip
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/start-stop.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/start-stop.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/external-commands2.robot
  tests/broker/sql.robot
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/output-tables.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/external-commands2.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/anomaly-detection.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/start-stop.robot
  tests/broker/sql.robot
  tests/connector_perl/connector_perl.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/connector_perl/connector_perl.robot
  tests/connector_ssh/connector_ssh.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/broker-engine/start-stop.robot
Owners: @centreon/owners-robot-e2e

feat(ci): rework release workflow and communications (#1184)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

feat(ci): rework release workflow and communications (#1183)
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

wip
  tests/broker-engine/external-commands2.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

fix(delivery): fix missing inputs for rpm split delivery (#3542)
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(delivery): fix missing inputs for rpm split delivery
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(delivery): fix missing inputs for rpm split delivery (#3543)
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(delivery): fix missing inputs for rpm split delivery
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(delivery): fix missing inputs for rpm split delivery (#1195)
  .github/workflows/get-version.yml
Owners: @centreon/owners-pipelines

fix(ci): handle concurrent hotfix and release (#1191)
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-version.yml
  .github/workflows/libzmq.yml
  .github/workflows/robot-nightly.yml
Owners: @centreon/owners-pipelines

fix(delivery): use root_repo_paths instead of fixed values
  .github/actions/delivery/action.yml
Owners: @centreon/owners-pipelines

fix(delivery): use root_repo_paths instead of fixed values (#1196)
  .github/actions/delivery/action.yml
Owners: @centreon/owners-pipelines

fix(delivery): use root_repo_paths instead of fixed values (#1196)
  .github/actions/delivery/action.yml
Owners: @centreon/owners-pipelines

wip
  tests/broker-engine/external-commands2.robot
  tests/broker/sql.robot
Owners: @centreon/owners-robot-e2e

fix(broker): work on tags
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(broker): insertion of tags almost done
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

enh(tests)
  tests/broker-engine/tags.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(broker): tags better inserted
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

rebase finished
  tests/broker-engine/tags.robot
Owners: @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e
