Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(cmake): multiplexing dependency fixed
  broker/core/multiplexing/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(packaging): update rights of centreon-api.yaml file (#3661)
  gorgone/packaging/centreon-gorgone-centreon-config.yaml
Owners: @centreon/owners-cpp

fix(packaging): update rights of centreon-api.yaml file (#3661)
  gorgone/packaging/centreon-gorgone-centreon-config.yaml
Owners: @centreon/owners-cpp

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests)
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

fix(tests): moduleLog is no more useful
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/retention-duplicates.robot
  tests/broker-engine/start-stop.robot
  tests/broker-engine/tls.robot
Owners: @centreon/owners-robot-e2e

fix(tests): failover message updated
  tests/broker/bbdo-server-client-reversed.robot
Owners: @centreon/owners-robot-e2e

fix bad request and missing ba_event
  broker/bam/src/configuration/reader_v2.cc
  broker/bam/src/main.cc
Owners: @centreon/owners-cpp

add test
  tests/bam/bam_pb.robot
  tests/init-sql-docker.sh
  tests/resources/Engine.py
  tests/resources/db_conf.py
Owners: @centreon/owners-robot-e2e

use perl-base instead of perl
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-alma9-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
Owners: @centreon/owners-pipelines

revert changes on alma8
  .github/docker/Dockerfile.centreon-collect-alma8
Owners: @centreon/owners-pipelines

chore(release): bump gorgone to 22.10.6
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 22.10.6
  gorgone/.version
Owners: @centreon/owners-cpp

fix(ci): fix release workflow and action issues (#1214)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(cmake): init script improved
  cmake-vcpkg.sh
  common/log_v2/log_v2.cc
Owners: @centreon/owners-cpp

fix(common): log tests are back
  common/CMakeLists.txt
  common/log_v2/CMakeLists.txt
  common/log_v2/config.hh
  common/log_v2/log_v2.cc
  common/tests/CMakeLists.txt
  common/tests/hex_dump_test.cc
  common/tests/log_v2/log_v2.cc
  common/tests/node_allocator_test.cc
  common/tests/process_stat_test.cc
  tests/broker-engine/hostgroups.robot
  tests/broker-engine/log-v2_engine.robot
  tests/resources/Broker.py
  tests/resources/db_variables.resource
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(gorgone/servicediscovery): lost discoveries are recovered!
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

fix(gorgone/servicediscovery): pollers are reload multiple times
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 23.04.12
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 23.04.12
  gorgone/.version
Owners: @centreon/owners-cpp

chore(release): bump gorgone to 23.10.5
  gorgone/packaging/centreon-gorgone.spectemplate
Owners: @centreon/owners-cpp

chore(release): bump gorgone to version 23.10.5
  gorgone/.version
Owners: @centreon/owners-cpp

fix(gorgone/pull) remove infinite loop in pull module using 100% cpu (#3638)
  gorgone/gorgone/modules/core/pull/class.pm
Owners: @centreon/owners-cpp

fix(gorgone): install default whitelists in a separate file (#3671)
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/packaging/configuration/action.yaml
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Owners: @centreon/owners-cpp

fix(gorgone): install default whitelists in a separate file (#3671)
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/packaging/configuration/action.yaml
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Owners: @centreon/owners-cpp

fix(gorgone): install default whitelists in a separate file (#3671)
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Owners: @centreon/owners-cpp

fix(gorgone): install default whitelists in a separate file (#3671) (#3681)
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/packaging/configuration/action.yaml
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Owners: @centreon/owners-cpp

fix(gorgone): install default whitelists in a separate file (#3671) (#3681)
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Owners: @centreon/owners-cpp

fix(gorgone): install default whitelists in a separate file (#3671) (#3681)
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/packaging/configuration/action.yaml
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Owners: @centreon/owners-cpp

tags insertion use an insert or update request(22.04)
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream_sql.cc
  conanfile.txt
  tests/broker-engine/tags.robot
  tests/resources/Broker.py
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/resources.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e
