Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

fix(packaging): centengine service updated and packaging reviewed
  agent/bench/README.md
  broker/CMakeLists.txt
  broker/config/module.json.in
  engine/scripts/centengine.service.in
  packaging/centreon-collect/centreon-engine-daemon.yaml
  tests/README.md
Owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-robot-e2e

fix(broker): file has to be renamed
  broker/config/central-module.json.in
Owners: @centreon/owners-cpp

doc(tests): update-doc works with gherkin tests descriptions
  tests/README.md
  tests/update-doc.py
Owners: @centreon/owners-robot-e2e

feat(opentelemetry): add expiration time handling in agent implementation and integrate timer for token expiration
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  tests/broker-engine/cma.robot
  vcpkg.json
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): graphite and influxdb outputs missed pb_storage_lib library dependency
  broker/graphite/CMakeLists.txt
  broker/influxdb/CMakeLists.txt
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(broker): fixes after review
  broker/core/src/io/events.cc
  broker/neb/src/cbmod.cc
  common/inc/com/centreon/common/pool.hh
Owners: @centreon/owners-cpp

fix(packaging): module renamed into central-module before the future patch from web
  agent/bench/README.md
  broker/CMakeLists.txt
  engine/scripts/centengine.service.in
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-cpp, @centreon/owners-pipelines

fix(tests): the tcpdump between broker and the database is removed in tests
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/tags.robot
Owners: @centreon/owners-robot-e2e

feat(grpc): add token-based authentication support and update configuration
  agent/inc/com/centreon/agent/config.hh
  agent/src/config.cc
  agent/src/main.cc
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/inc/com/centreon/common/grpc/grpc_server.hh
  common/grpc/src/grpc_client.cc
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  vcpkg.json
Owners: @centreon/owners-cpp

fix(tests): BEBAMIDTU2 test fixed
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/downtimes.robot
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/engine-scripts/check_centreon_bam
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(ci): workflow linter raised an error
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

refactor(grpc): remove AuthProcessor class and related token authentication logic
  common/grpc/inc/com/centreon/common/grpc/grpc_server.hh
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/CMakeLists.txt
Owners: @centreon/owners-cpp

feat(grpc): implement token-based authentication and update related configurations
  common/grpc/CMakeLists.txt
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/inc/com/centreon/common/grpc/grpc_server.hh
  common/grpc/src/grpc_client.cc
  common/grpc/src/grpc_server.cc
  common/tests/CMakeLists.txt
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/cma.robot
  tests/resources/Agent.py
  tests/resources/Common.py
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

feat(grpc): update trusted tokens handling to use shared_ptr and improve JWT validation, and token verified in agent_service
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_service.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/modules/opentelemetry/src/otl_server.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

feat(main_win): add token parameter to main function for enhanced configuration feat(CMake): enable crypto subdirectory for improved functionality
  agent/src/main_win.cc
  common/CMakeLists.txt
Owners: @centreon/owners-cpp

feat(encryption): add token handling in encryption dialog and configuration
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsdinc
  agent/src/config_win.cc
Owners: @centreon/owners-cpp

Revert "comment tests to ease delivery"
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

revert the reversal lol
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

Revert "revert me, disable gorgone tests for packages"
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

Revert "revert me, disable rpm delivery"
  .github/workflows/gorgone.yml
Owners: @centreon/owners-pipelines

fix service agent check
  agent/native_windows/inc/com/centreon/agent/check_service.hh
  agent/native_windows/src/check_service.cc
  agent/test/check_windows_service_test.cc
Owners: @centreon/owners-cpp

fix(tests): errors raised by ruff fixed and tests improved
  broker/core/bbdo/stream.cc
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/src/config/applier/state.cc
  common/engine_conf/indexed_state.cc
  common/engine_conf/state.proto
  engine/src/configuration/applier/state.cc
  engine/src/events/loop.cc
  engine/src/main.cc
  tests/broker-engine/negotiation.robot
  tests/init-proto.sh
  tests/resources/Broker.py
  tests/resources/Common.py
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security
