Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e

wip
  tests/broker-engine/external-commands2.robot
Owners: @centreon/owners-robot-e2e

wip
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(broker): log completed about metric_id < 0
  broker/unified_sql/src/stream.cc
Owners: @centreon/owners-cpp

fix(gorgone): missing dependency in debian packaging (#3552)
  gorgone/packaging/debian/control
Owners: @centreon/owners-cpp

iwp
  tests/bam/boolean_rules.robot
Owners: @centreon/owners-robot-e2e

fix(broker/unified_sql): Tags insertion should work better (#1197)
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  tests/bam/boolean_rules.robot
  tests/broker-engine/tags.robot
  tests/resources/Engine.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3572)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3572)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

add pb_instance_configuration
  bbdo/events.hh
  bbdo/neb.proto
  broker/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/broker.cc
  broker/neb/src/initial.cc
  broker/unified_sql/src/stream.cc
  common/CMakeLists.txt
  engine/enginerpc/CMakeLists.txt
  tests/resources/specific-duplication.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

add pb_instance_configuration (#1198)
  bbdo/events.hh
  bbdo/neb.proto
  broker/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/broker.cc
  broker/neb/src/initial.cc
  broker/unified_sql/src/stream.cc
  common/CMakeLists.txt
  engine/enginerpc/CMakeLists.txt
  tests/resources/specific-duplication.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

engine use rapidjson, first version of otl_server
  common/CMakeLists.txt
  common/inc/com/centreon/common/rapidjson_helper.hh
  common/src/hex_dump.cc
  common/src/process_stat.cc
  common/src/rapidjson_helper.cc
  common/test/CMakeLists.txt
  common/test/hex_dump_test.cc
  common/test/node_allocator_test.cc
  common/test/process_stat_test.cc
  common/test/rapidjson_helper_test.cc
  engine/CMakeLists.txt
  engine/inc/com/centreon/engine/anomalydetection.hh
  engine/modules/CMakeLists.txt
  engine/modules/otl_server/CMakeLists.txt
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/grpc_config.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_config.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_server.hh
  engine/modules/otl_server/precomp_inc/precomp.hh
  engine/modules/otl_server/src/grpc_config.cc
  engine/modules/otl_server/src/main.cc
  engine/modules/otl_server/src/otl_config.cc
  engine/modules/otl_server/src/otl_server.cc
  engine/precomp_inc/precomp.hh
  engine/src/anomalydetection.cc
  engine/tests/CMakeLists.txt
  engine/tests/checks/anomalydetection.cc
  engine/tests/otl_server/grpc_config_test.cc
  engine/tests/otl_server/otl_server_test.cc
Owners: @centreon/owners-cpp

otl logger, use opentelemetry-proto instead opentelemetry-cpp
  broker/CMakeLists.txt
  engine/inc/com/centreon/engine/configuration/state.hh
  engine/inc/com/centreon/engine/log_v2.hh
  engine/modules/otl_server/CMakeLists.txt
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/grpc_config.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_config.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_fmt.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_server.hh
  engine/modules/otl_server/src/grpc_config.cc
  engine/modules/otl_server/src/main.cc
  engine/modules/otl_server/src/otl_config.cc
  engine/modules/otl_server/src/otl_server.cc
  engine/src/configuration/state.cc
  engine/src/log_v2.cc
  engine/tests/CMakeLists.txt
  engine/tests/otl_server/otl_server_test.cc
Owners: @centreon/owners-cpp

restore opentelemetry-cpp
  broker/CMakeLists.txt
Owners: @centreon/owners-cpp

connect otel to engine conf
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/checkable.hh
  engine/inc/com/centreon/engine/commands/command.hh
  engine/inc/com/centreon/engine/commands/forward.hh
  engine/inc/com/centreon/engine/commands/otel_command.hh
  engine/inc/com/centreon/engine/commands/otel_interface.hh
  engine/inc/com/centreon/engine/host.hh
  engine/inc/com/centreon/engine/service.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/data_point_fifo.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/host_serv_extractor.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/opentelemetry.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_converter.hh
  engine/modules/otl_server/src/data_point_fifo.cc
  engine/modules/otl_server/src/host_serv_extractor.cc
  engine/modules/otl_server/src/main.cc
  engine/modules/otl_server/src/opentelemetry.cc
  engine/modules/otl_server/src/otl_config.cc
  engine/modules/otl_server/src/otl_converter.cc
  engine/src/anomalydetection.cc
  engine/src/checkable.cc
  engine/src/commands/commands.cc
  engine/src/commands/forward.cc
  engine/src/commands/otel_command.cc
  engine/src/host.cc
  engine/src/service.cc
  engine/tests/CMakeLists.txt
  engine/tests/otl_server/host_serv_extractor_test.cc
  engine/tests/otl_server/opentelemetry_test.cc
  engine/tests/otl_server/otl_converter_test.cc
Owners: @centreon/owners-cpp

add otel package
  .github/docker/Dockerfile.centreon-collect-debian-bookworm-test
  .github/docker/Dockerfile.centreon-collect-debian-bullseye-test
  packaging/centreon-engine-otel-listener-debuginfo.yaml
  packaging/centreon-engine-otel-listener.yaml
Owners: @centreon/owners-pipelines

fix dependency issue
  broker/bam/CMakeLists.txt
  broker/http_client/src/http_connection.cc
  broker/http_client/src/https_connection.cc
  broker/http_tsdb/inc/com/centreon/broker/http_tsdb/line_protocol_query.hh
  broker/http_tsdb/inc/com/centreon/broker/http_tsdb/stream.hh
  broker/http_tsdb/src/line_protocol_query.cc
  broker/http_tsdb/src/stream.cc
  broker/lua/CMakeLists.txt
  broker/simu/CMakeLists.txt
  broker/sql/CMakeLists.txt
  broker/storage/CMakeLists.txt
  broker/test/test_util/src/tcp_relais.cc
  broker/tls/src/acceptor.cc
  broker/unified_sql/CMakeLists.txt
  broker/victoria_metrics/src/factory.cc
  broker/victoria_metrics/src/request.cc
  common/src/pool.cc
  engine/modules/opentelemetry/CMakeLists.txt
  engine/tests/CMakeLists.txt
  packaging/centreon-broker-stats-exporter-debuginfo.yaml.later
  packaging/centreon-broker-stats-exporter.yaml.later
  packaging/centreon-engine-opentelemetry-debuginfo.yaml
  packaging/centreon-engine-opentelemetry.yaml
  tests/broker/command-line.robot
Owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-robot-e2e

add test
  engine/doc/engine-doc.md
  engine/enginerpc/enginerpc.cc
  engine/inc/com/centreon/engine/check_result.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/data_point_fifo_container.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_converter.hh
  engine/modules/otl_server/precomp_inc/precomp.hh
  engine/modules/otl_server/src/data_point_fifo.cc
  engine/modules/otl_server/src/data_point_fifo_container.cc
  engine/modules/otl_server/src/opentelemetry.cc
  engine/modules/otl_server/src/otl_converter.cc
  engine/src/check_result.cc
  engine/src/checks/checker.cc
  engine/src/commands/otel_command.cc
  engine/src/commands/result.cc
  engine/src/host.cc
  tests/broker-engine/opentelemetry.robot
  tests/resources/Common.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

no opentelemetry-cpp and vcpkg fix
  .github/docker/Dockerfile.centreon-collect-alma9-test
  .github/docker/Dockerfile.centreon-collect-debian-bookworm-test
  .github/docker/Dockerfile.centreon-collect-debian-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/collect-test-robot.sh
  CMakeLists.txt
  bbdo/CMakeLists.txt
  broker/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  broker/neb/CMakeLists.txt
  broker/neb/src/broker.cc
  broker/tcp/src/stream.cc
  engine/CMakeLists.txt
  engine/modules/opentelemetry/CMakeLists.txt
  engine/tests/CMakeLists.txt
  tests/README.md
  tests/broker-engine/opentelemetry.robot
  tests/init-proto.sh
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/update-doc.py
  vcpkg.json
Owners: @centreon/owners-pipelines, @centreon/owners-cpp, @centreon/owners-robot-e2e

add extractor, otel connector and telegraf nagios converter
  broker/CMakeLists.txt
  clib/inc/com/centreon/misc/get_options.hh
  clib/src/misc/get_options.cc
  common/inc/com/centreon/common/rapidjson_helper.hh
  common/src/rapidjson_helper.cc
  engine/inc/com/centreon/engine/commands/forward.hh
  engine/inc/com/centreon/engine/commands/otel_command.hh
  engine/inc/com/centreon/engine/commands/otel_interface.hh
  engine/inc/com/centreon/engine/configuration/applier/command.hh
  engine/modules/otl_server/CMakeLists.txt
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/data_point_fifo.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/data_point_fifo_container.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/host_serv_extractor.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/opentelemetry.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_config.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_converter.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_data_point.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_metric.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_server.hh
  engine/modules/otl_server/precomp_inc/precomp.hh
  engine/modules/otl_server/src/data_point_fifo.cc
  engine/modules/otl_server/src/data_point_fifo_container.cc
  engine/modules/otl_server/src/host_serv_extractor.cc
  engine/modules/otl_server/src/main.cc
  engine/modules/otl_server/src/opentelemetry.cc
  engine/modules/otl_server/src/otl_config.cc
  engine/modules/otl_server/src/otl_converter.cc
  engine/modules/otl_server/src/otl_data_point.cc
  engine/modules/otl_server/src/otl_server.cc
  engine/precomp_inc/precomp.hh
  engine/src/commands/CMakeLists.txt
  engine/src/commands/forward.cc
  engine/src/commands/otel_command.cc
  engine/src/configuration/applier/command.cc
  engine/src/configuration/applier/connector.cc
  engine/src/configuration/applier/state.cc
  engine/tests/CMakeLists.txt
  engine/tests/otl_server/host_serv_extractor_test.cc
  engine/tests/otl_server/otl_server_test.cc
Owners: @centreon/owners-cpp

add some doc
  engine/doc/engine-doc.md
Owners: @centreon/owners-cpp

nighly need conan and opentelemetry-proto
  .github/docker/Dockerfile.centreon-collect-alma9-test
  .github/docker/Dockerfile.centreon-collect-debian-bookworm-test
  .github/docker/Dockerfile.centreon-collect-debian-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/collect-test-robot.sh
  tests/init-proto.sh
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

MON-34002 otl request are sent to broker
  bbdo/CMakeLists.txt
  bbdo/events.hh
  broker/CMakeLists.txt
  broker/grpc/CMakeLists.txt
  broker/grpc/generate_proto.py
  broker/lua/src/broker_utils.cc
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/callbacks.hh
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/broker.cc
  broker/neb/src/callbacks.cc
  common/inc/com/centreon/common/rapidjson_helper.hh
  common/src/hex_dump.cc
  common/src/rapidjson_helper.cc
  engine/inc/com/centreon/engine/nebcallbacks.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_config.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_fmt.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_metric.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_server.hh
  engine/modules/otl_server/src/main.cc
  engine/modules/otl_server/src/otl_config.cc
  engine/modules/otl_server/src/otl_server.cc
  tests/broker-engine/opentelemetry.robot
  tests/init-proto.sh
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/scripts/dump-otl-event.lua
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

otel_command and host_serv_extractor share allowed host_servs
  engine/inc/com/centreon/engine/commands/otel_command.hh
  engine/inc/com/centreon/engine/commands/otel_interface.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/data_point_fifo.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/data_point_fifo_container.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/host_serv_extractor.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/opentelemetry.hh
  engine/modules/otl_server/inc/com/centreon/engine/modules/otl_server/otl_converter.hh
  engine/modules/otl_server/src/data_point_fifo_container.cc
  engine/modules/otl_server/src/host_serv_extractor.cc
  engine/modules/otl_server/src/opentelemetry.cc
  engine/modules/otl_server/src/otl_converter.cc
  engine/modules/otl_server/src/otl_server.cc
  engine/src/commands/CMakeLists.txt
  engine/src/commands/otel_command.cc
  engine/src/commands/otel_interface.cc
  engine/tests/otl_server/host_serv_extractor_test.cc
  engine/tests/otl_server/opentelemetry_test.cc
  tests/broker-engine/opentelemetry.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

no STATS_EXPORTER
  broker/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3584)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3586)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(autodiscovery): fix regex for gorgone to execute run_save_discovered_host script for discovered hosts (#3590)
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(ci): add missing .version file
  .version
Owners: @centreon/owners-cpp

fix(ci): add missing .version file (#1199)
  .version
Owners: @centreon/owners-cpp

fix(release): fix missing array rebuilt
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix github ref input
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix(release): fix missing array rebuilt (#1200)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

fix
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix gh token
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix gh token
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fixed missing token and quotes
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(ci): fixed missing token and quotes (#1201)
  .github/actions/release/action.yml
Owners: @centreon/owners-pipelines

fix(release): fix missing array rebuilt (#1200)
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines
