Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

fix(engine): bug in whitelist fixed
  engine/inc/com/centreon/engine/configuration/whitelist.hh
  engine/src/configuration/whitelist.cc
  tests/broker-engine/whitelist.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): an issue with bash called from python fixed
  tests/broker-engine/downtimes.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

enh(tests): better return on error when we check the number of downtimes
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(engine): attempt to no more store downtimes concerning BAs in status.dat or retention.dat
  engine/src/broker.cc
  engine/src/downtimes/service_downtime.cc
  engine/src/retention/downtime.cc
Owners: @centreon/owners-cpp

fix(tests): perl connector tests rewritten to be unified the other tests
  tests/connector_perl/conf_engine/centengine.cfg
  tests/connector_perl/conf_engine/central-module.json
  tests/connector_perl/conf_engine/commands.cfg
  tests/connector_perl/conf_engine/connectors.cfg
  tests/connector_perl/conf_engine/hostTemplates.cfg
  tests/connector_perl/conf_engine/hosts.cfg
  tests/connector_perl/conf_engine/resource.cfg
  tests/connector_perl/conf_engine/test.pl
  tests/connector_perl/conf_engine/timeperiods.cfg
  tests/connector_perl/connector_perl.robot
  tests/resources/Engine.py
  tests/resources/engine-scripts/check.pl
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(engine): there was a typo in an error message
  engine/src/configuration/whitelist.cc
Owners: @centreon/owners-cpp

fix(tests): whitelist tests should be ok
  tests/broker-engine/whitelist.robot
Owners: @centreon/owners-robot-e2e

fix(tests): connector_ssh tests are ok
  tests/connector_ssh/connector_ssh.robot
Owners: @centreon/owners-robot-e2e

fix(tests) : test ERL, add config broker central
  tests/engine/reload-and-logs.robot
Owners: @centreon/owners-robot-e2e

fix(common): legacy logs are disabled by default whereas log_v2 are enabled
  common/engine_conf/state_helper.cc
  engine/src/main.cc
  tests/broker-engine/retention-duplicates.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(tests): migration test must not check rrd duplicates, because it switch between bbdo 2 and bbdo 3
  tests/migration/migration.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(cmake): cbmod better installed on debian platforms
  broker/CMakeLists.txt
Owners: @centreon/owners-cpp

fix(tests): request to check service status improved
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(engine): template on groups had a bug with std::is_same_v
  bbdo/events.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(cmake): a control on static libstdc++ is added
  agent/CMakeLists.txt
  cmake-vcpkg.sh
Owners: @centreon/owners-cpp

fix(broker): column notification_number doesn't exist in resources
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

cleanup(tests): the Engine.py has its spaces at the end of lines removed
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(tests): in bam_pb, BA_IMPACT_IMPACT has a "Sleep 1s" added between to service changes
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

wip(broker): others logs to understand issue with downtimes
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

fix(tests): pb_inherited_downtime fixed
  tests/bam/pb_inherited_downtime.robot
Owners: @centreon/owners-robot-e2e

fix(tests): bam_pb has a check changed because of a log changed in broker bam.
  tests/bam/bam_pb.robot
Owners: @centreon/owners-robot-e2e

enh(broker/sql): better error message to understand an issue
  broker/core/sql/src/mysql_connection.cc
Owners: @centreon/owners-cpp

fix(tests): retention-duplicates regression
  tests/broker-engine/retention-duplicates.robot
Owners: @centreon/owners-robot-e2e

enh(tests): in failed directory, files are set to 666 to be able to read them
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(broker/tcp): just a log reduced to avoid some dangling links
  broker/tcp/src/stream.cc
Owners: @centreon/owners-cpp

fix(tests): beextcmd23 improved
  tests/broker-engine/external-commands.robot
Owners: @centreon/owners-robot-e2e

fix(tests): regression on boolean-rules.robot fixed
  tests/bam/boolean_rules.robot
Owners: @centreon/owners-robot-e2e

enh(tests): documentation rewritten in gherkin
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

fix(broker/bam): forced checks on ba are sent only when the state really changes
  broker/bam/src/ba_impact.cc
  tests/bam/bam_pb.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(tests): reverse-connection tests improved with little fixes like removing retention or increase the queue file sizes
  tests/broker-engine/reverse-connection.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): typos fixed
  tests/broker-engine/external-commands2.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(broker): an error message improved in sql connection
  broker/core/sql/src/mysql_connection.cc
Owners: @centreon/owners-cpp

enh(broker/neb): Logs cleaned up in downtime functions
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

fix(tests): original robot.sh file restored
  tests/robot.sh
Owners: @centreon/owners-robot-e2e

cleanup(engine): unused file removed
  engine/scripts/sonde.php
Owners: @centreon/owners-cpp

fix(tests): attempt to fix a dead lock in mariadb during insertions in data_bin
  tests/resources/Broker.py
Owners: @centreon/owners-robot-e2e

fix(tests): an attempt to have a sleep between two checks to avoid duplicates in RRD
  broker/core/sql/inc/com/centreon/broker/sql/mysql_multi_insert.hh
  broker/core/sql/src/mysql_multi_insert.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/bulk_bind.hh
  broker/unified_sql/inc/com/centreon/broker/unified_sql/bulk_queries.hh
  broker/unified_sql/src/bulk_bind.cc
  broker/unified_sql/src/bulk_queries.cc
  broker/unified_sql/src/stream.cc
  tests/broker-engine/services-increased.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(tests): permissions in failed directory allows everybody
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

wip(broker/neb): some logs added to cbmod::stop_downtime
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

cleanup(engine): some old logs removed
  engine/src/downtimes/downtime_manager.cc
  engine/src/events/timed_event.cc
Owners: @centreon/owners-cpp

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security
