Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

Update .github/workflows/veracode-analysis.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

lint
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

lint
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2258)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

Update .github/workflows/veracode-analysis.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

Update .github/workflows/veracode-analysis.yml
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2259)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2260)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

wip(gorgone): clean test
  gorgone/tests/robot/tests/core/pullwss.robot
Owners: @centreon/owners-robot-e2e

wip(gorgone): sqlite use range for real comparison
  gorgone/gorgone/standard/library.pm
Owners: @centreon/owners-perl

wip(gorgone): MERGE ctime fix second part
  gorgone/gorgone/modules/core/proxy/hooks.pm
Owners: @centreon/owners-perl

chore(sec): temporarily disable sast (#2257) (#2261)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2262)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

process_data
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/filter.hh
  agent/native_windows/inc/com/centreon/agent/check_process.hh
  agent/native_windows/inc/com/centreon/agent/event_log/data.hh
  agent/native_windows/inc/com/centreon/agent/process/process_container.hh
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/inc/com/centreon/agent/process/process_filter.hh
  agent/native_windows/inc/com/centreon/agent/windows_util.hh
  agent/native_windows/src/check_event_log.cc
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/event_log/container.cc
  agent/native_windows/src/event_log/data.cc
  agent/native_windows/src/process/process_container.cc
  agent/native_windows/src/process/process_data.cc
  agent/native_windows/src/process/process_filter.cc
  agent/native_windows/src/windows_util.cc
  agent/src/filter.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_process_container_test.cc
  agent/test/check_process_data_test.cc
  agent/test/check_process_filter_test.cc
  agent/test/check_process_test.cc
  agent/test/process_data_test.hh
  agent/test/scheduler_test.cc
Owners: @centreon/owners-cpp

add tests and % filter unit
  .github/scripts/windows-agent-compile.ps1
  CMakeListsWindows.txt
  agent/CMakeLists.txt
  agent/native_windows/inc/com/centreon/agent/check_process.hh
  agent/native_windows/inc/com/centreon/agent/event_log/container.hh
  agent/native_windows/inc/com/centreon/agent/process/process_container.hh
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/event_log/container.cc
  agent/native_windows/src/process/process_container.cc
  agent/native_windows/src/process/process_data.cc
  agent/src/filter.cc
  agent/src/filter_rules.cc
  agent/test/check_event_log_test.cc
  agent/test/check_process_container_test.cc
  agent/test/check_process_data_test.cc
  agent/test/check_process_filter_test.cc
  agent/test/check_process_test.cc
  agent/test/process_data_test.hh
  vcpkg.json
Owners: @centreon/owners-cpp

add robot test
  tests/broker-engine/cma.robot
Owners: @centreon/owners-robot-e2e

add doc
  agent/doc/agent-doc.md
  agent/native_windows/inc/com/centreon/agent/process/process_container.hh
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/inc/com/centreon/agent/process/process_filter.hh
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/process/process_container.cc
  agent/native_windows/src/process/process_data.cc
  agent/native_windows/src/process/process_filter.cc
Owners: @centreon/owners-cpp

MON-161398 generate agent pdb file and update asio usage (#2216)
  .github/workflows/windows-agent.yml
  CMakeListsWindows.txt
  agent/CMakeLists.txt
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

compile filter only in windows
  agent/CMakeLists.txt
Owners: @centreon/owners-cpp

upgrade vcpkg
  .github/scripts/windows-agent-compile.ps1
Owners: @centreon/owners-cpp

MON-161398 generate agent pdb file (#2263)
  .github/scripts/windows-agent-compile.ps1
  .github/workflows/windows-agent.yml
  CMakeListsWindows.txt
  agent/CMakeLists.txt
Owners: @centreon/owners-cpp, @centreon/owners-pipelines

fix(nightly): add checkout in nightly ticket step for package-collect workflow (#2246) (#2250)
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(nightly): add checkout in nightly ticket step for package-collect workflow (#2246) (#2249)
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

fix(nightly): add checkout in nightly ticket step for package-collect workflow (#2246) (#2248)
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2262)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2261)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2260)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2264)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2262) (#2265)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2261) (#2266)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

chore(sec): temporarily disable sast (#2257) (#2260) (#2267)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

enh(engine): no more pb_difference nor difference classes.
  common/engine_conf/hostdependency_helper.cc
  common/engine_conf/hostescalation_helper.cc
  common/engine_conf/servicedependency_helper.cc
  common/engine_conf/serviceescalation_helper.cc
  engine/inc/com/centreon/engine/configuration/applier/difference.hh
  engine/inc/com/centreon/engine/configuration/applier/pb_difference.hh
  engine/inc/com/centreon/engine/configuration/applier/scheduler.hh
  engine/inc/com/centreon/engine/configuration/applier/servicedependency.hh
  engine/inc/com/centreon/engine/configuration/applier/state.hh
  engine/src/configuration/applier/CMakeLists.txt
  engine/src/configuration/applier/scheduler.cc
  engine/src/configuration/applier/state.cc
  engine/src/events/loop.cc
  engine/src/main.cc
  engine/tests/configuration/applier/applier-pbhostdependency.cc
  engine/tests/configuration/applier/applier-pbhostgroup.cc
  engine/tests/configuration/applier/applier-pbserviceescalation.cc
  engine/tests/configuration/applier/applier-pbservicegroup.cc
  engine/tests/configuration/applier/applier-pbstate.cc
  engine/tests/configuration/pbtimeperiod-test.cc
  engine/tests/custom_vars/pbextcmd.cc
  engine/tests/macros/pbmacro.cc
  engine/tests/main.cc
Owners: @centreon/owners-cpp

some clean
  agent/native_windows/inc/com/centreon/agent/check_process.hh
  agent/native_windows/inc/com/centreon/agent/windows_util.hh
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/process/process_container.cc
  agent/native_windows/src/process/process_data.cc
  agent/native_windows/src/process/process_filter.cc
  agent/test/CMakeLists.txt
  common/tests/process_stat_test.cc
  tests/broker-engine/cma.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security
