Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

wip(engine): trying to understand the check_for_external_commands log missing
  engine/src/commands/commands.cc
Owners: @centreon/owners-cpp

enh(tests): check_centreon_bam script added
  tests/resources/Engine.py
  tests/resources/engine-scripts/check_centreon_bam
Owners: @centreon/owners-robot-e2e

enh(tests): the update-doc.py had to be updated because of old stuffs concerning centos7
  tests/update-doc.py
Owners: @centreon/owners-robot-e2e

enh(broker): reload works with cbmod
  bbdo/events.hh
  broker/core/inc/com/centreon/broker/io/events.hh
  broker/core/src/io/events.cc
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

fix(tests): check on rrd duplicates should not be done when rrd cbd is not executed
  tests/bam/bam_pb.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

cleanup(tests): tests are cleaned up
  tests/broker-engine/acknowledgement.robot
  tests/broker-engine/external-commands.robot
  tests/broker/start-stop.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): several tests simplified and cleaned
  tests/bam/bam_pb.robot
  tests/broker-engine/external-commands2.robot
  tests/engine/reload-and-logs.robot
Owners: @centreon/owners-robot-e2e

cleanup(tests): better keywords used to simplify tests
  tests/broker-engine/external-commands.robot
Owners: @centreon/owners-robot-e2e

fix(packaging): typo fixed
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-pipelines

enh(tests): when tests fail, impacts on following tests lighter
  tests/bam/bam_pb.robot
  tests/bam/boolean_rules.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(engine): issue with logs reloading
  engine/src/broker.cc
  engine/src/configuration/applier/state.cc
Owners: @centreon/owners-cpp

cleanup(engine): some unused code removed
  engine/src/events/loop.cc
  engine/src/service.cc
Owners: @centreon/owners-cpp

enh(broker/processing): attempt to replace _state_m as std::mutex by an absl::Mutex
  broker/core/inc/com/centreon/broker/processing/failover.hh
  broker/core/src/processing/failover.cc
Owners: @centreon/owners-cpp

fix(tests): several fixes in tests
  tests/README.md
  tests/broker/bbdo-server-client.robot
  tests/broker/start-stop.robot
Owners: @centreon/owners-robot-e2e

fix(engine): in bbdo2 acknowledgements must not be in bbdo3
  engine/src/broker.cc
  tests/broker-engine/acknowledgement.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

enh(engine): if the module cbmod is loaded, an error is raised and this load is skipped
  engine/src/broker/loader.cc
Owners: @centreon/owners-cpp

fix(packaging): centreon-broker-cbmod package is no more needed
  packaging/centreon-collect/centreon-broker-cbmod-debuginfo.yaml
  packaging/centreon-collect/centreon-broker-cbmod.yaml
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-pipelines

enh(broker/neb): cbmod object has its downtimes methods rewritten
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/src/cbmod.cc
Owners: @centreon/owners-cpp

enh(broker/bam): new logs to understand an issue on inherited downtimes
  broker/bam/src/ba.cc
  broker/bam/src/configuration/applier/state.cc
Owners: @centreon/owners-cpp

cleanup(broker/neb): downtime header reformated
  broker/neb/inc/com/centreon/broker/neb/downtime.hh
Owners: @centreon/owners-cpp

fix(packaging): cbmod has different places following the distribution
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-pipelines

enh(tests): update-doc is improved to well present gherkin documentations
  tests/Makefile
  tests/update-doc.py
Owners: @centreon/owners-robot-e2e

fix(tests): for migration test, duplicates in rrd are not tested, because there is also a switch to bbdo2.
  tests/migration/migration.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(engine): just to be sure cbmod is loaded before externalcommands
  engine/src/main.cc
Owners: @centreon/owners-cpp

fix(tests): little improvements to better understand errors
  tests/engine/forced_checks.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

fix(packaging): dependencies added to centreon-engine-daemon
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-pipelines

fix(tests): keywords changed a little in connector_ssh
  tests/connector_ssh/connector_ssh.robot
Owners: @centreon/owners-robot-e2e

fix(engine): instance and pb_instance still must be available
  engine/src/broker.cc
Owners: @centreon/owners-cpp

cleanup(tests): typos fixed
  tests/bam/pb_inherited_downtime.robot
  tests/broker-engine/reverse-connection.robot
  tests/resources/Common.py
Owners: @centreon/owners-robot-e2e

enh(broker/bam): new log on inherited downtime to know if it is active or not
  broker/bam/src/monitoring_stream.cc
Owners: @centreon/owners-cpp

fix(engine): broker_downtime_data() has no more timestamp as last parameter. It was never used. The code is also changed to work with the new cbmod api
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/downtimes/downtime_manager.cc
  engine/src/downtimes/host_downtime.cc
  engine/src/downtimes/service_downtime.cc
Owners: @centreon/owners-cpp

enh(test): log level functions to error + correct SyntaxWarning
  tests/broker-engine/retention-duplicates.robot
  tests/resources/Engine.py
Owners: @centreon/owners-robot-e2e

fix(tests): hostgroup tests have more logs
  tests/broker-engine/hostgroups.robot
Owners: @centreon/owners-robot-e2e

fix(test): bam tests are a little more verbose
  tests/bam/pb_inherited_downtime.robot
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(tests): extended configuration
  tests/resources/resources.resource
Owners: @centreon/owners-robot-e2e

fix(tests): Some cleanup were necessary because of a transition from bbdo2 to bbdo3
  tests/broker-engine/downtimes.robot
Owners: @centreon/owners-robot-e2e

fix(broker/bam): attempt to not save inherited downtimes in the bam cache.
  broker/bam/src/ba.cc
Owners: @centreon/owners-cpp

fix(engine): correct how engine sends logs to broker
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/logging/broker.cc
  tests/broker-engine/log-v2_engine.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

cleanup(broker/unified_sql): code reformated
  broker/unified_sql/src/stream_sql.cc
Owners: @centreon/owners-cpp

fix(engine): a debug log is removed
  engine/src/commands/commands.cc
Owners: @centreon/owners-cpp

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security
