Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-perl, @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-doc, @centreon/owners-security

.github/CODEOWNERS:

*                              @centreon/owners-cpp

gorgone/                       @centreon/owners-perl
perl-libs/                     @centreon/owners-perl

.version*                      @centreon/owners-pipelines
.github/**                     @centreon/owners-pipelines
**/packaging/**                @centreon/owners-pipelines
selinux/**                     @centreon/owners-pipelines

tests/**                       @centreon/owners-robot-e2e
.github/scripts/*robot*        @centreon/owners-robot-e2e

gorgone/docs/                  @centreon/owners-doc
gorgone/tests/robot/tests      @centreon/owners-robot-e2e

*.ps1                          @centreon/owners-cpp

.gitleaks.toml                 @centreon/owners-security
.gitleaksignore                @centreon/owners-security

MON-161398 generate agent pdb file and update asio usage (#2216)
  .github/workflows/windows-agent.yml
  CMakeListsWindows.txt
  agent/CMakeLists.txt
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

enh(nightly): run nightly on a different maintenance branch depending on the day (#2242)
  .github/workflows/centreon-collect.yml
Owners: @centreon/owners-pipelines

add debug for pam in container mariadb collect test alma 9
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
Owners: @centreon/owners-pipelines

fix(nightly): add checkout in nightly ticket step for package-collect workflow (#2246)
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

chore(release) bump collect 25.05.0 (#2243)
  .version
  CMakeLists.txt
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

force features_pattern
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

update pam debug and logging
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  tests/connector_ssh/connector_ssh.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e

check sshd allow / deny list
  tests/connector_ssh/connector_ssh.robot
Owners: @centreon/owners-robot-e2e

force packages artifacts
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

force packages artifacts
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

fix(tests): issue on tests with extended configurations
  engine/src/events/loop.cc
  tests/bam/boolean_rules.robot
  tests/broker-database/networkFailure.robot
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/bbdo-protobuf.robot
  tests/broker-engine/compression.robot
  tests/broker-engine/delete-poller.robot
  tests/broker-engine/hosts-with-notes-and-actions.robot
  tests/broker-engine/log-v2_engine.robot
  tests/broker-engine/notifications.robot
  tests/broker-engine/output-tables.robot
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/services-with-notes-and-actions.robot
  tests/broker-engine/tls.robot
  tests/broker-engine/victoria.robot
  tests/broker/sql.robot
  tests/ccc/ccc.robot
  tests/engine/extended_conf.robot
  tests/engine/perl-connectors.robot
  tests/engine/start-stop.robot
  tests/resources/resources.resource
  tests/severities/hosts.robot
  tests/severities/severities.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

Synchronize .github/actions with ./github/workflows changes
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
Owners: @centreon/owners-pipelines

connector_ssh uses ed25519
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/scripts/collect-prepare-test-robot.sh
  .github/scripts/collect-test-robot.sh
  .github/workflows/centreon-collect.yml
  .github/workflows/robot-test.yml
  connectors/ssh/src/policy.cc
  tests/connector_ssh/connector_ssh.robot
Owners: @centreon/owners-pipelines, @centreon/owners-robot-e2e, @centreon/owners-cpp

fix connector ssh test
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-test.yml
Owners: @centreon/owners-robot-e2e, @centreon/owners-pipelines

fix(nightly): add checkout in nightly ticket step for package-collect workflow (#2246) (#2247)
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
Owners: @centreon/owners-pipelines

revert trigger
  .version.centreon-gorgone
Owners: @centreon/owners-pipelines

fix
  .github/workflows/get-environment.yml
Owners: @centreon/owners-pipelines

fix connector ssh test
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-test.yml
Owners: @centreon/owners-robot-e2e, @centreon/owners-pipelines

enh(engine): diff is really unified
  common/engine_conf/indexed_state.cc
  common/engine_conf/indexed_state.hh
  common/engine_conf/state.proto
  engine/inc/com/centreon/engine/configuration/applier/state.hh
  engine/src/configuration/applier/scheduler.cc
  engine/src/configuration/applier/state.cc
  tests/broker-engine/negotiation.robot
  tests/summary.py
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

suggestion(ci): suggestion on PR-2268 on step duplication
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

remove duplicate step + fix variable linting
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

suggestion(ci): suggestion on PR-2268 on step duplication (#2270)
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

fix(ci): remove trailing spaces
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

clean robot-test.yml
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

enh(engine): acknowledgements sent by engine to broker
  broker/bam/inc/com/centreon/broker/bam/service_listener.hh
  broker/bam/src/monitoring_stream.cc
  broker/core/bbdo/stream.cc
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/callbacks.cc
  broker/neb/src/cbmod.cc
  broker/storage/src/conflict_manager_sql.cc
  broker/storage/src/conflict_manager_storage.cc
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  broker/unified_sql/src/stream_storage.cc
  common/inc/com/centreon/common/pool.hh
  engine/CMakeLists.txt
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/inc/com/centreon/engine/contact.hh
  engine/inc/com/centreon/engine/globals.hh
  engine/src/broker.cc
  engine/src/commands/commands.cc
  engine/src/configuration/applier/contact.cc
  engine/src/configuration/applier/state.cc
  engine/src/contact.cc
  engine/src/globals.cc
  engine/src/main.cc
  engine/src/retention/applier/contact.cc
Owners: @centreon/owners-cpp

enh(broker): bbdo is a library now
  bbdo/bam/dimension_truncate_table_signal.hh
  bbdo/bbdo/ack.hh
  bbdo/bbdo/stop.hh
  bbdo/bbdo/version_response.hh
  bbdo/storage/metric.hh
  bbdo/storage/metric_mapping.hh
  bbdo/storage/remove_graph.hh
  bbdo/storage/status.hh
  broker/CMakeLists.txt
  broker/core/bbdo/CMakeLists.txt
  broker/core/bbdo/acceptor.cc
  broker/core/bbdo/acceptor.hh
  broker/core/bbdo/connector.cc
  broker/core/bbdo/connector.hh
  broker/core/bbdo/factory.cc
  broker/core/bbdo/factory.hh
  broker/core/bbdo/internal.cc
  broker/core/bbdo/internal.hh
  broker/core/bbdo/precomp_inc/precomp.hh
  broker/core/bbdo/stream.cc
  broker/core/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/instance_broadcast.hh
  broker/core/multiplexing/src/muxer.cc
  broker/core/src/config/state.cc
  broker/core/src/io/events.cc
  broker/core/src/persistent_cache.cc
  broker/core/src/persistent_file.cc
  broker/core/test/bbdo/output.cc
  broker/storage/test/status-entry.cc
  broker/unified_sql/src/stream_sql.cc
  broker/unified_sql/test/rebuild_message.cc
  broker/unified_sql/test/status-entry.cc
Owners: @centreon/owners-cpp

enh(engine): tags are well sent by engine to broker
  broker/neb/src/callbacks.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): severities sent by engine to broker
  broker/neb/src/callbacks.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(broker): new cbmod library
  broker/CMakeLists.txt
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/src/cbmod.cc
  engine/CMakeLists.txt
Owners: @centreon/owners-cpp

cleanup(engine): The bench module is removed
  .github/workflows/package-collect.yml
  CMakeListsLinux.txt
  engine/modules/CMakeLists.txt
  engine/modules/bench/CMakeLists.txt
  engine/modules/bench/passive/engine_cfg.cc
  engine/modules/bench/passive/engine_cfg.hh
  engine/modules/bench/passive/main.cc
  engine/modules/bench/passive/module.cc
  engine/modules/bench/passive/paths.hh.in
  engine/modules/bench/plugins/active_host_execution_time.sh
  engine/modules/bench/plugins/active_host_last.sh
  engine/modules/bench/plugins/active_host_latency.sh
  engine/modules/bench/plugins/active_service_execution_time.sh
  engine/modules/bench/plugins/active_service_last.sh
  engine/modules/bench/plugins/active_service_latency.sh
  engine/modules/bench/plugins/check_sleep.cc
  engine/modules/bench/plugins/mysql_queries.sh
  engine/modules/bench/plugins/passive_host_last.sh
  engine/modules/bench/plugins/passive_host_latency.sh
  engine/modules/bench/plugins/passive_service_last.sh
  engine/modules/bench/plugins/passive_service_latency.sh
  engine/modules/bench/plugins/process_children_cpu.sh
  engine/modules/bench/plugins/process_cpu.sh
  engine/modules/bench/plugins/process_io.sh
  engine/modules/bench/plugins/process_memory.sh
  engine/modules/bench/plugins/system_processes.sh
  packaging/centreon-collect/centreon-engine-bench-debuginfo.yaml
  packaging/centreon-collect/centreon-engine-bench.yaml
  packaging/centreon-collect/centreon-engine-daemon-debuginfo.yaml
  packaging/centreon-collect/centreon-engine-daemon.yaml
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

enh(engine): dependencies are no more implemented in broker.cc, no used
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/configuration/applier/hostdependency.cc
  engine/src/configuration/applier/servicedependency.cc
Owners: @centreon/owners-cpp

cleanup(engine): just some better logs and unneeded parenthesis removed
  engine/src/broker.cc
Owners: @centreon/owners-cpp

enh(engine): services correctly sent by engine to broker
  broker/neb/src/callbacks.cc
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/commands/commands.cc
  engine/src/configuration/applier/anomalydetection.cc
  engine/src/configuration/applier/host.cc
  engine/src/configuration/applier/service.cc
  engine/src/service.cc
Owners: @centreon/owners-cpp

fix(packaging): issue with the cbmod location
  packaging/centreon-collect/centreon-broker-cbmod.yaml
Owners: @centreon/owners-pipelines

fix(broker): debug_buf function moved to common
  broker/core/inc/com/centreon/broker/misc/string.hh
  broker/core/precomp_inc/precomp.hpp
  broker/core/src/misc/string.cc
  common/inc/com/centreon/common/hex_dump.hh
  common/src/hex_dump.cc
  common/tests/CMakeLists.txt
Owners: @centreon/owners-cpp

enh(engine): notification data handling removed from broker.cc, not used
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/notification.cc
Owners: @centreon/owners-cpp

enh(engine): several functions in broker.cc removed, no used
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/commands/commands.cc
  engine/src/configuration/applier/command.cc
  engine/src/configuration/applier/hostescalation.cc
  engine/src/configuration/applier/serviceescalation.cc
  engine/src/configuration/applier/timeperiod.cc
  engine/src/flapping.cc
  engine/src/statusdata.cc
Owners: @centreon/owners-cpp

enh(engine): service checks are now sent by the lib
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/retention/applier/state.cc
  engine/src/retention/dump.cc
Owners: @centreon/owners-cpp

enh(engine): custom variables are well sent by engine to broker
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/configuration/applier/anomalydetection.cc
Owners: @centreon/owners-cpp

enh(engine): broker.cc functions about notifications not used removed.
  engine/inc/com/centreon/engine/broker.hh
  engine/src/broker.cc
  engine/src/host.cc
  engine/src/service.cc
Owners: @centreon/owners-cpp
