Repository centreon/centreon-collect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @centreon/owners-cpp, @centreon/owners-pipelines, @centreon/owners-lua, @centreon/owners-robot-e2e

37
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

Update .github/actions/package/action.yml
  .github/actions/package/action.yml
Owners: @centreon/owners-pipelines

34
  interactive_console_output.xml
  output.xml
  tests/broker-engine/services.robot
  tests/output.xml
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix
  .github/workflows/lua-tz.yml
Owners: @centreon/owners-pipelines

fix(ci): fix preanalysis compilation issue (#1132)
  .github/workflows/veracode-analysis.yml
  broker/deleteMe
Owners: @centreon/owners-pipelines, @centreon/owners-cpp

enh(ci): modify dependabot configuration (#1126)
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

enh(ci): modify dependabot configuration (#1125)
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

enh(ci): modify dependabot configuration (#1123)
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

fix(ci): skip sandbox analysis on PR jobs (#1051) (#1111)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix(ci): skip sandbox analysis on PR jobs (#1051) (#1110)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

fix(ci): skip sandbox analysis on PR jobs (#1051) (#1112)
  .github/workflows/veracode-analysis.yml
Owners: @centreon/owners-pipelines

handle feedbacks 2
  .github/actions/release/action.yml
  .github/workflows/release.yml
Owners: @centreon/owners-pipelines

37
  .github/workflows/robot-test.yml
Owners: @centreon/owners-pipelines

enh(rs/muxer): attempt to use async functions
  broker/core/inc/com/centreon/broker/processing/feeder.hh
  broker/core/multiplexing/inc/com/centreon/broker/multiplexing/engine.hh
  broker/core/multiplexing/src/engine.cc
  broker/core/multiplexing/src/muxer.cc
  broker/core/src/processing/feeder.cc
  rs_centreon/Cargo.toml
  rs_centreon/src/multiplexing.rs
Owners: @centreon/owners-cpp

enh(ci): dependabot configuration
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows (#1145)
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows (#1148)
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows (#1146)
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): exclude non required paths from create jira version workflows (#1147)
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

enh(ci): modify dependabot configuration (#1121)
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

enh(ci): dependabot configuration (#1144)
  .github/dependabot.yml
Owners: @centreon/owners-pipelines

Update gorgone action regex to allow anomaly detection and autodiscovery module REFS:MON-35552
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(tests): ticket tag added to the test
  tests/engine/forced_checks.robot
Owners: @centreon/owners-robot-e2e

fix(engine): issue fixed between comments and fields in engine cfg files
  engine/precomp_inc/precomp.hh
  engine/src/configuration/object.cc
  engine/src/string.cc
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

MON-15765 semicolon is not considered as a beginning of comment in engine configuration file
  engine/precomp_inc/precomp.hh
  engine/src/configuration/object.cc
  engine/src/string.cc
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

Update tests/engine/forced_checks.robot
  tests/engine/forced_checks.robot
Owners: @centreon/owners-robot-e2e

Update gorgone action regex to allow anomaly detection and autodiscovery module REFS:MON-35553
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

Update gorgone action regex to allow anomaly detection and autodiscovery module REFS:MON-35555
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/rebound_configuration.md
Owners: @centreon/owners-cpp

fix(engine): regression due to the rebase
  engine/precomp_inc/precomp.hh
Owners: @centreon/owners-cpp

fix(engine): semicolon is not considered as a beginning of comment in engine configuration file
  engine/precomp_inc/precomp.hh
  engine/src/configuration/object.cc
  engine/src/string.cc
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(engine): semicolons authorized in Engine cfg files
  engine/precomp_inc/precomp.hh
  engine/src/configuration/object.cc
  engine/src/string.cc
  tests/engine/forced_checks.robot
Owners: @centreon/owners-cpp, @centreon/owners-robot-e2e

fix(ci): update release action curl and workflows
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

fix(ci): update release action curl and workflows
  .github/actions/release/action.yml
  .github/workflows/release-collect.yml
Owners: @centreon/owners-pipelines

.github/CODEOWNERS:

*                     @centreon/owners-cpp

.github/**            @centreon/owners-pipelines
packaging/**          @centreon/owners-pipelines
selinux/**            @centreon/owners-pipelines

stream-connectors/**  @centreon/owners-lua

tests/**              @centreon/owners-robot-e2e
