Repository centreon/centreon-collect, pull requests merged in 2024-12, with the labels that each got.

#1927 enh(ci): skip workflow when no change on PR
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/docker-builder.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/set-pull-request-skip-label.yml
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#1791 MON-106121-gorgone-use-vault-autonomous-library
  .github/actions/package/action.yml
  .github/workflows/gorgone.yml
  gorgone/docs/configuration.md
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/class/logger.pm
  gorgone/gorgone/class/script.pm
  gorgone/gorgoned
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/tests/robot/resources/LogResearch.py
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/30-centreon.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/31-centreon-api.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/39-action.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/40-gorgoned.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/41-autodiscovery.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/50-centreon-audit.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/cron.d/41-service-discovery.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/whitelist.conf.d/centreon.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/expectedConfiguration.pl
  gorgone/tests/unit/class/config_examples/include_other_files/first_module.yaml
  gorgone/tests/unit/class/config_examples/include_other_files/main.yaml
  gorgone/tests/unit/class/config_examples/simple_no_recursion/norecursion.yaml
  gorgone/tests/unit/class/core.t
  perl-libs/lib/centreon/common/logger.pm
  perl-libs/lib/t/common/logger.t
Labels: upload-artifacts, skip-workflow-gorgone

#1920 enh(ci): run push and publish jobs only on centreon/centreon-collect
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/docker-builder.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release-trigger-builds.yml
  .github/workflows/release.yml
  .github/workflows/windows-agent.yml
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#1940 enh(ci): skip workflow when no change on PR (#1927)
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/set-pull-request-skip-label.yml
Labels: skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#1941 enh(ci): skip workflow when no change on PR (#1927)
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/set-pull-request-skip-label.yml
Labels: skip-workflow-libzmq

#1942 enh(ci): skip workflow when no change on PR (#1927)
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/set-pull-request-skip-label.yml
Labels: skip-workflow-libzmq

#1943 enh(ci): skip workflow when no change on PR (#1927)
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/set-pull-request-skip-label.yml
Labels: skip-workflow-libzmq

#1964 fix(ci): fix secrets name for collect packaging
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
Labels: skip-workflow-Centreon collect

#1939 Mon 155414 native checks accept empty parameters backport 24.10
  .github/scripts/agent_installer_test.ps1
  agent/inc/com/centreon/agent/check.hh
  agent/native_linux/src/check_cpu.cc
  agent/native_windows/src/check_cpu.cc
  agent/native_windows/src/check_memory.cc
  agent/native_windows/src/check_service.cc
  agent/src/check.cc
  agent/src/drive_size.cc
  agent/src/native_check_cpu_base.cc
  agent/test/check_linux_cpu_test.cc
  agent/test/check_uptime_test.cc
  agent/test/check_windows_cpu_test.cc
  agent/test/check_windows_memory_test.cc
  agent/test/check_windows_service_test.cc
  agent/test/drive_size_test.cc
  common/inc/com/centreon/common/rapidjson_helper.hh
Labels: skip-workflow-Centreon collect

#1968 enh(ci): run push and publish jobs only on centreon/centreon-collect …
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release.yml
  .github/workflows/synchronize-branches.yml
Labels: skip-workflow-libzmq

#1967 enh(ci): run push and publish jobs only on centreon/centreon-collect …
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release.yml
Labels: skip-workflow-libzmq

#1966 enh(ci): run push and publish jobs only on centreon/centreon-collect …
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release.yml
  .github/workflows/windows-agent.yml
Labels: skip-workflow-libzmq

#1965 enh(ci): run push and publish jobs only on centreon/centreon-collect …
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release-trigger-builds.yml
  .github/workflows/release.yml
  .github/workflows/windows-agent.yml
Labels: skip-workflow-docker-gorgone-testing, skip-workflow-libzmq
