Repository centreon/centreon-collect, pull requests merged in 2024-07, with the labels that each got.

#1496 chore(deps): absorb 24.07 dependabot GitHub Actions updates
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-version.yml
  .github/workflows/libzmq.yml
  .github/workflows/package-collect.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release-trigger-builds.yml
  .github/workflows/release.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
Labels: dependencies, gha

#1504 feat(tests): Temporarly disabling send reports to Xray
  .github/workflows/robot-test.yml
Labels: area/test

#1513 feat(test): disable step to generate Xray Token
  .github/workflows/robot-test.yml
Labels: area/test

#1511 feat(tests): Temporarly disabling send reports to Xray (#1504)
  .github/workflows/robot-test.yml
Labels: area/test

#1519 fix(gorgone): update regexp for plugins
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Labels: gorgone

#1524 initialize test deb12
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
  gorgone/tests/robot/tests/start_stop/start_stop.robot
Labels: gorgone

#1526 Mon 72016 initialize the test for alma9
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
Labels: gorgone

#1523 enh(tests): Initialize gorgone test environement on Ubuntu
  .github/docker/Dockerfile.gorgone-testing-jammy
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
Labels: gorgone

#1521 Mon 125335 gorgone tests use a hash based tag of the configuration for every docker image migrate
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/get-version.yml
  .github/workflows/gorgone.yml
Labels: gorgone

#1520 test(gorgone): add automated test for pull communication mode
  gorgone/tests/robot/config/pull_central_config.yaml
  gorgone/tests/robot/config/pull_node_register_one_node.yaml
  gorgone/tests/robot/config/pull_poller_config.yaml
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/tests/core/pull.robot
  gorgone/tests/robot/tests/core/pullwss.robot
Labels: gorgone

#1530 fix(gorgone) correctly handle gorgone pullwss module shutdown
  gorgone/gorgone/modules/core/pullwss/class.pm
  gorgone/gorgone/standard/library.pm
  gorgone/packaging/centreon-gorgone.yaml
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/tests/core/pullwss.robot
Labels: gorgone

#1539 MON-139735 Sync Centreon COLLECT next 23.04 (Jira release #19965#)
  .version
  CMakeLists.txt
Labels: sync-release

#1542 MON-139733 Sync Centreon COLLECT next 23.10 (Jira release #19967#)
  .version
  CMakeLists.txt
Labels: sync-release

#1544 MON-139731 Sync Centreon COLLECT next 24.04 (Jira release #19964#)
  .github/actions/promote-to-stable/action.yml
  .version
  CMakeLists.txt
Labels: sync-release

#1545 fix(gorgone/mbi): rebuilding centiles truncates mod_bi_metrichourlyvalue
  gorgone/gorgone/modules/centreon/mbi/etl/perfdata/main.pm
Labels: gorgone

#1551 Mon 143223 dev 23 10 x gorgone autodisco nmap provider will not work due to gorgone whitelist migrate
  gorgone/packaging/whitelist.conf.d/centreon.yaml
Labels: gorgone

#1552 fix(Gorgone): whitelist nmap discovery command
  gorgone/packaging/whitelist.conf.d/centreon.yaml
Labels: gorgone

#1549 fix(Gorgone): whitelist nmap discovery command
  gorgone/packaging/configuration/whitelist.conf.d/centreon.yaml
Labels: gorgone

#1584 MON-144623 Sync Centreon COLLECT next 24.04
  .version
  CMakeLists.txt
  common/src/rapidjson_helper.cc
  engine/inc/com/centreon/engine/string.hh
  engine/src/command_manager.cc
  engine/src/commands/commands.cc
  engine/src/configuration/applier/state.cc
  engine/src/string.cc
  tests/broker-engine/external-commands2.robot
  tests/resources/Common.py
  tests/resources/Engine.py
Labels: sync-release
