Repository centreon/centreon-collect, pull requests merged in 2025-06, with the labels that each got.

#1583 fix(gorgone): Die (as expected by caller) when config file is not readable in mbi (MON-51697)
  gorgone/gorgone/modules/centreon/mbi/etl/class.pm
  gorgone/tests/unit/modules/centreon/mbi/etl/class.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2369 Mon 160435 cma handle tokens poller initiated connection
  .github/scripts/agent_robot_test.ps1
  agent/inc/com/centreon/agent/bireactor.hh
  agent/inc/com/centreon/agent/config.hh
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsddef
  agent/installer/resources/encryption_dlg.nsdinc
  agent/installer/silent.nsi
  agent/precomp_inc/precomp.hh
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/streaming_server.cc
  agent/test/config_test.cc
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/inc/com/centreon/common/grpc/grpc_server.hh
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_service.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/modules/opentelemetry/src/otl_server.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/bench.robot
  tests/broker-engine/cma.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/Agent.py
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-agent-analysis, skip-workflow-engine-analysis

#2401 Mon 170625 cma handle tokens allow tls connections with empty tokens
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_service.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/otl_server.cc
  tests/broker-engine/cma.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-engine-analysis

#2413 fix(gorgone): use dnf instead of yum if it exists on rpm based distro
  gorgone/contrib/gorgone_install_plugins.pl
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2414 Mon 170625 cma handle tokens allow tls connections with empty tokens
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  tests/broker-engine/cma.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-engine-analysis

#2368 fix(engine): make sure to not connect if the metadata head is missing when crypted
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_service.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/otl_server.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect

#2434 MON-171755 use python venv and remove unqlite (#2396)
  .github/docker/Dockerfile.centreon-collect-alma9-test
  .github/docker/Dockerfile.centreon-collect-debian-bookworm-test
  .github/docker/Dockerfile.centreon-collect-debian-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/collect-test-robot.sh
  tests/broker-engine/bench.robot
Labels: skip-workflow-docker-builder

#2435 MON-171754 use python venv and remove unqlite (#2396)
  .github/docker/Dockerfile.centreon-collect-alma9-test
  .github/docker/Dockerfile.centreon-collect-debian-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/collect-test-robot.sh
  tests/broker-engine/bench.robot
Labels: skip-workflow-docker-builder

#2382 MON-168884: fix dump::service and add PARENT_RENAME test (#2358)
  engine/enginerpc/engine.proto
  engine/enginerpc/engine_impl.cc
  engine/src/retention/dump.cc
  tests/broker-engine/parent_child_relation.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2439 MON-169546 fix agent test and change some installer labels (#2364)
  .github/scripts/agent_installer_test.ps1
  .github/scripts/agent_robot_test.ps1
  .github/workflows/monitoring-agent.yml
  agent/inc/com/centreon/agent/scheduler.hh
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsddef
  agent/installer/resources/encryption_dlg.nsdinc
  agent/installer/silent.nsi
  agent/precomp_inc/precomp.hh
  agent/src/config.cc
  agent/src/scheduler.cc
  agent/test/scheduler_test.cc
  broker/neb/CMakeLists.txt
  engine/tests/pb_service_check.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2437 feat(agent/engine): dev 24 10 xcma handle tokens poller initiated connection
  .github/scripts/agent_robot_test.ps1
  agent/inc/com/centreon/agent/bireactor.hh
  agent/inc/com/centreon/agent/config.hh
  agent/installer/resources/encryption_dlg.nsddef
  agent/installer/resources/encryption_dlg.nsdinc
  agent/precomp_inc/precomp.hh
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/streaming_server.cc
  agent/test/config_test.cc
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/inc/com/centreon/common/grpc/grpc_server.hh
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/bench-unstable.robot
  tests/broker-engine/cma.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/Agent.py
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2447 enh(ci): fix and enhance deb delivery with custom sync-deletes
  .github/actions/delivery/action.yml
Labels: skip-workflow-gorgone-analysis, skip-workflow-centreon-common, skip-workflow-centreon-collect, skip-workflow-connectors-analysis

#2453 MON-172889 cma native checks windows counter 24.10
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/filter.hh
  agent/native_windows/inc/com/centreon/agent/check_counter.hh
  agent/native_windows/src/check_counter.cc
  agent/src/filter.cc
  agent/src/filter_rules.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_counter.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-monitoring-agent

#2452 Mon 172881 cma native checks windows task sched (#2438)
  .github/scripts/agent_robot_test.ps1
  agent/CMakeLists.txt
  agent/native_windows/inc/com/centreon/agent/check_sched.hh
  agent/native_windows/inc/com/centreon/agent/windows_util.hh
  agent/native_windows/src/check_sched.cc
  agent/native_windows/src/windows_util.cc
  agent/src/main_win.cc
  agent/src/native_check_cpu_base.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_sched.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_config.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2459 fix(ci): fix sync deletes
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
Labels: skip-workflow-libzmq, skip-workflow-centreon-common, skip-workflow-centreon-collect, skip-workflow-connectors-analysis

#2472 enh(broker/lua): new access to the cache hostgroup
  bbdo/neb.proto
  broker/lua/inc/com/centreon/broker/lua/macro_cache.hh
  broker/lua/src/broker_cache.cc
  broker/lua/src/macro_cache.cc
  broker/lua/test/lua.cc
  broker/neb/src/callbacks.cc
Labels: skip-workflow-centreon-collect

#2478 fix(broker/engine): the empty cbmod must not start the multiplexer
  broker/core/multiplexing/src/engine.cc
  broker/neb/src/cbmod.cc
  common/engine_conf/parser.cc
  tests/broker-engine/bench-unstable.robot
  tests/engine/start-stop.robot
  tests/engine/verify.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2432 fix(gorgone): Semicolon is accepted for hostname and service name but it causes problems in DB
  .github/workflows/gorgone.yml
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHost.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIService.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIServiceCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Host.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/ServiceCategory.pm
  gorgone/tests/unit/lib/misc.pm
  gorgone/tests/unit/lib/mockCentreonvault.pm
  gorgone/tests/unit/modules/centreon/mbi/etl/mbietl.t
  gorgone/tests/unit/modules/centreon/mbi/etl/mbietl_centreon_schema.sql
  gorgone/tests/unit/modules/centreon/mbi/etl/mbietl_clear.sql
  gorgone/tests/unit/modules/centreon/mbi/etl/mbietl_data.sql
  gorgone/tests/unit/modules/centreon/mbi/etl/mbietl_storage_schema.sql
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2491 Mon 173861 engine returns false plugins exit codes 24.04
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-test.yml
  CMakeLists.txt
  CMakeListsLinux.txt
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/check_exec.hh
  agent/precomp_inc/precomp.hh
  agent/src/check_exec.cc
  broker/lua/test/lua.cc
  clib/inc/com/centreon/process_manager.hh
  clib/src/process_manager.cc
  common/doc/common-doc.md
  common/process/CMakeLists.txt
  common/process/inc/com/centreon/common/process/detail/centreon_posix_process_launcher.hh
  common/process/inc/com/centreon/common/process/detail/spawnp_launcher.hh
  common/process/inc/com/centreon/common/process/process.hh
  common/process/inc/com/centreon/common/process/process_args.hh
  common/process/src/process.cc
  common/process/src/process_args.cc
  common/process/src/spawnp_launcher.cc
  common/tests/CMakeLists.txt
  common/tests/process_test.cc
  common/tests/scripts/echo_env1_env2.bat
  common/tests/scripts/echo_env1_env2.sh
  engine/CMakeLists.txt
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/checks/checker.hh
  engine/inc/com/centreon/engine/commands/command.hh
  engine/inc/com/centreon/engine/commands/command_listener.hh
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/inc/com/centreon/engine/globals.hh
  engine/src/anomalydetection.cc
  engine/src/check_result.cc
  engine/src/checks/checker.cc
  engine/src/commands/CMakeLists.txt
  engine/src/commands/raw_v2.cc
  engine/src/configuration/applier/command.cc
  engine/src/service.cc
  engine/src/utils.cc
  engine/tests/commands/simple-command.cc
  engine/tests/notifications/service_flapping_notification.cc
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/whitelist.robot
  tests/connector_ssh/connector_ssh.robot
  tests/engine/engine_load.robot
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/engine-scripts/check.sh
  tests/resources/import.resource
Labels: skip-workflow-centreon-collect

#2494 Mon 174181 engine returns false plugins exit codes release 24.04.x
  .github/scripts/collect-test-robot.sh
  .github/workflows/robot-test.yml
  CMakeLists.txt
  CMakeListsLinux.txt
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/check_exec.hh
  agent/precomp_inc/precomp.hh
  agent/src/check_exec.cc
  clib/inc/com/centreon/process_manager.hh
  clib/src/process_manager.cc
  common/doc/common-doc.md
  common/process/CMakeLists.txt
  common/process/inc/com/centreon/common/process/detail/centreon_posix_process_launcher.hh
  common/process/inc/com/centreon/common/process/detail/spawnp_launcher.hh
  common/process/inc/com/centreon/common/process/process.hh
  common/process/inc/com/centreon/common/process/process_args.hh
  common/process/src/process.cc
  common/process/src/process_args.cc
  common/process/src/spawnp_launcher.cc
  common/tests/CMakeLists.txt
  common/tests/process_test.cc
  common/tests/scripts/echo_env1_env2.bat
  common/tests/scripts/echo_env1_env2.sh
  engine/CMakeLists.txt
  engine/enginerpc/engine_impl.cc
  engine/inc/com/centreon/engine/checks/checker.hh
  engine/inc/com/centreon/engine/commands/command.hh
  engine/inc/com/centreon/engine/commands/command_listener.hh
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/inc/com/centreon/engine/globals.hh
  engine/src/anomalydetection.cc
  engine/src/check_result.cc
  engine/src/checks/checker.cc
  engine/src/commands/CMakeLists.txt
  engine/src/commands/raw_v2.cc
  engine/src/configuration/applier/command.cc
  engine/src/service.cc
  engine/src/utils.cc
  engine/tests/commands/simple-command.cc
  engine/tests/notifications/service_flapping_notification.cc
  tests/broker-engine/anomaly-detection.robot
  tests/broker-engine/whitelist.robot
  tests/connector_ssh/connector_ssh.robot
  tests/engine/engine_load.robot
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/engine-scripts/check.sh
  tests/resources/import.resource
Labels: skip-workflow-centreon-collect, skip-workflow-windows-agent

#2496 enh(broker/file): directory_watcher improved and tested
  broker/CMakeLists.txt
  broker/core/inc/com/centreon/broker/file/directory_watcher.hh
  broker/core/src/file/directory_watcher.cc
  broker/core/test/file/directory_watcher.cc
Labels: skip-workflow-centreon-collect, skip-workflow-broker-analysis
