Repository centreon/centreon-collect, pull requests merged in 2025-01, with the labels that each got.

#1951 feat(ci): automate ticket creation on scheduled build failure (#1876)…
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
Labels: area/ci, backport

#1952 feat(ci): automate ticket creation on scheduled build failure (#1876)…
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
Labels: area/ci, backport

#1991 fix(pipeline): fix gorgone pipeline dependencies
  .github/actions/package/action.yml
  .github/workflows/gorgone.yml
Labels: skip-workflow-gorgone

#1978 MON-156455 fix defunct process and grpc coredump
  agent/inc/com/centreon/agent/bireactor.hh
  agent/src/bireactor.cc
  agent/src/main.cc
  broker/grpc/inc/com/centreon/broker/grpc/stream.hh
  broker/grpc/src/stream.cc
  common/process/inc/com/centreon/common/process/detail/centreon_posix_process_launcher.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Labels: skip-workflow-Centreon collect

#1972 enh(release): move all .version files to the root level of file tree
  .github/CODEOWNERS
  .github/workflows/gorgone.yml
  .version.centreon-gorgone
  gorgone/.version
Labels: skip-workflow-gorgone

#1928 MON-149871 embed plugins in cma installer
  .github/scripts/agent_installer_test.ps1
  agent/installer/CMakeLists.txt
  agent/installer/centreon-monitoring-agent.nsi
  agent/installer/compile_installer.ps1.in
  agent/installer/dlg_helper.nsi
  agent/installer/silent.nsi
  agent/native_windows/src/check_service.cc
Labels: skip-workflow-Centreon collect

#1996 MON-156887 cma ceip (#1950) backport
  .github/workflows/windows-agent-robot-test.yml
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/agent_info.hh
  agent/native_linux/src/agent_info.cc
  agent/native_windows/inc/com/centreon/agent/check_cpu.hh
  agent/native_windows/inc/com/centreon/agent/ntdll.hh
  agent/native_windows/src/agent_info.cc
  agent/native_windows/src/check_cpu.cc
  agent/native_windows/src/check_service.cc
  agent/native_windows/src/ntdll.cc
  agent/proto/agent.proto
  agent/src/check_health.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/streaming_client.cc
  agent/src/streaming_server.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_cpu_test.cc
  agent/test/test_main.cc
  bbdo/events.hh
  bbdo/neb.proto
  broker/core/sql/inc/com/centreon/broker/sql/mysql_error.hh
  broker/grpc/generate_proto.py
  broker/neb/inc/com/centreon/broker/neb/callbacks.hh
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/src/broker.cc
  broker/neb/src/callbacks.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  engine/inc/com/centreon/engine/broker.hh
  engine/inc/com/centreon/engine/nebcallbacks.hh
  engine/inc/com/centreon/engine/nebstructs.hh
  engine/modules/opentelemetry/CMakeLists.txt
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_reverse_client.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_service.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_stat.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/to_agent_connector.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/open_telemetry.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/otl_server.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_reverse_client.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_stat.cc
  engine/modules/opentelemetry/src/centreon_agent/to_agent_connector.cc
  engine/modules/opentelemetry/src/open_telemetry.cc
  engine/modules/opentelemetry/src/otl_server.cc
  engine/src/broker.cc
  engine/tests/opentelemetry/agent_reverse_client_test.cc
  engine/tests/opentelemetry/agent_to_engine_test.cc
  engine/tests/opentelemetry/otl_server_test.cc
  resources/centreon_storage.sql
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-Centreon collect

#1995 fix(mbi): fix group by statement for mysql 8
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIMetric.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/HostAvailability.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/ServiceAvailability.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centstorage/Metrics.pm
Labels: skip-workflow-gorgone

#1999 fix(mbi): fix group by statement for mysql 8
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIMetric.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/HostAvailability.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/ServiceAvailability.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centstorage/Metrics.pm
Labels: skip-workflow-gorgone

#1998 MON-156886 embed plugins in cma installer (#1928)
  .github/scripts/agent_installer_test.ps1
  agent/installer/CMakeLists.txt
  agent/installer/centreon-monitoring-agent.nsi
  agent/installer/compile_installer.ps1.in
  agent/installer/dlg_helper.nsi
  agent/installer/silent.nsi
  agent/native_windows/src/check_service.cc
Labels: skip-workflow-Centreon collect

#1581 fix(gorgone): Fix httpserver to correctly handle authentication with non-ascii characters (MON-132590)
  gorgone/gorgone/modules/core/httpserver/class.pm
Labels: skip-workflow-gorgone

#2013 enh(ci): add has_changes policy to gorgone
  .github/workflows/gorgone.yml
Labels: skip-workflow-gorgone

#2021 enh(ci): trigger workflows on new major version
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/windows-agent.yml
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#2020 chore(ci): disable jammy from packaging on develop
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
Labels: skip-workflow-libzmq

#2022 enh(ci): trigger workflows on new major version (#2021)
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/windows-agent.yml
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#1946 add flapping and percent_state_change
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  resources/centreon_storage.sql
  tests/broker-engine/output-tables.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Labels: skip-workflow-Centreon collect

#2023 chore(ci): remove jammy from packaging on develop (#2020)
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
Labels: skip-workflow-libzmq

#2024 enh(ci): avoid to rerun veracode analyse on pr if it has already succeeded
  .github/workflows/centreon-collect.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/veracode-analysis.yml
Labels: skip-workflow-gorgone

#2025 enh(ci): avoid to rerun veracode analyse on pr if it has already succeeded
  .github/workflows/centreon-collect.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/veracode-analysis.yml
Labels: skip-workflow-gorgone

#2038 enh(ci): manage apt internal repository
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#2039 enh(ci): manage apt internal repository (#2038)
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
Labels: skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#2048 fix(broker): ceip disabled
  broker/unified_sql/src/stream_sql.cc
  resources/centreon_storage.sql
  tests/broker-engine/cma.robot
Labels: skip-workflow-Centreon collect

#2049 fix(engine) : update the icon_id for service/host when modified
  engine/src/configuration/applier/host.cc
  engine/src/configuration/applier/service.cc
  tests/broker-engine/services-with-notes-and-actions.robot
Labels: skip-workflow-Centreon collect

#2068 fix(engine) : update the icon_id for service/host when modified
  engine/src/configuration/applier/host.cc
  engine/src/configuration/applier/service.cc
  tests/broker-engine/services-with-notes-and-actions.robot
Labels: skip-workflow-Centreon collect

#2065 chore(deps): absorb 2025-01 dependabot GitHub Actions updates
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/docker-builder.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/windows-agent-robot-test.yml
  .github/workflows/windows-agent.yml
Labels: dependencies, gha, skip-workflow-docker-gorgone-testing

#2074 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2078 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.spectemplate
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2076 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone-analysis

#2075 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2077 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2081 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2080 fix(packaging): require initscripts dependency on centreon-gorgone
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2010 MON-37938_cma_performance
  .github/scripts/collect-test-robot.sh
  agent/bench/README.md
  agent/bench/centreon_conf/centreon-broker/central-module.json
  agent/bench/centreon_conf/centreon-engine/centengine.cfg
  agent/bench/centreon_conf/centreon-engine/commands.cfg
  agent/bench/centreon_conf/centreon-engine/connectors.cfg
  agent/bench/centreon_conf/centreon-engine/hostTemplates.cfg
  agent/bench/centreon_conf/centreon-engine/hosts.cfg
  agent/bench/centreon_conf/centreon-engine/otl_server.json
  agent/bench/centreon_conf/centreon-engine/resource.cfg
  agent/bench/centreon_conf/centreon-engine/serviceTemplates.cfg
  agent/bench/centreon_conf/centreon-engine/services.cfg
  agent/bench/centreon_conf/centreon-engine/timeperiods.cfg
  agent/bench/create_bench_service.py
  agent/bench/create_many_linux_agent.py
  agent/bench/doc-pictures/add-rule.png
  agent/bench/install_linux_agent.sh
  agent/bench/measure_agent_perf.ps1
  agent/bench/nsclient.ini
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/config.hh
  agent/inc/com/centreon/agent/scheduler.hh
  agent/src/bireactor.cc
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/native_check_cpu_base.cc
  agent/src/scheduler.cc
  common/engine_conf/state.proto
  common/engine_legacy_conf/state.cc
  common/engine_legacy_conf/state.hh
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/src/grpc_client.cc
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_config.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/src/check_result.cc
  engine/src/configuration/applier/state.cc
  engine/src/service.cc
  tests/engine/start-stop.robot
  tests/resources/Common.py
Labels: skip-workflow-Centreon collect

#2082 Mon 158671 add grpc logs to agent otel
  .github/scripts/windows-agent-compile.ps1
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/config.hh
  agent/inc/com/centreon/agent/log.hh
  agent/src/log.cc
  agent/src/main.cc
  agent/src/main_win.cc
  common/log_v2/log_v2.cc
Labels: skip-workflow-Centreon collect
