Repository centreon/centreon-collect, pull requests merged in 2025-04, with the labels that each got.

#2263 MON-161398 generate agent pdb file
  .github/scripts/windows-agent-compile.ps1
  .github/workflows/windows-agent.yml
  CMakeListsWindows.txt
  agent/CMakeLists.txt
Labels: skip-workflow-centreon-collect

#2272 Mon 153476 lose ba name
  agent/test/scheduler_test.cc
  broker/bam/inc/com/centreon/broker/bam/configuration/applier/ba.hh
  broker/bam/inc/com/centreon/broker/bam/configuration/ba.hh
  broker/bam/src/configuration/applier/ba.cc
  broker/bam/src/configuration/ba.cc
  broker/bam/src/configuration/reader_v2.cc
  tests/bam/bam_pb.robot
Labels: skip-workflow-centreon-collect

#2273 Mon 165590 process check (#2268)
  .github/scripts/collect-test-robot.sh
  .github/scripts/windows-agent-compile.ps1
  .github/workflows/robot-test.yml
  CMakeListsWindows.txt
  agent/CMakeLists.txt
  agent/doc/agent-doc.md
  agent/inc/com/centreon/agent/filter.hh
  agent/native_windows/inc/com/centreon/agent/check_process.hh
  agent/native_windows/inc/com/centreon/agent/check_service.hh
  agent/native_windows/inc/com/centreon/agent/event_log/container.hh
  agent/native_windows/inc/com/centreon/agent/event_log/data.hh
  agent/native_windows/inc/com/centreon/agent/process/process_container.hh
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/inc/com/centreon/agent/process/process_filter.hh
  agent/native_windows/inc/com/centreon/agent/windows_util.hh
  agent/native_windows/src/check_event_log.cc
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/check_service.cc
  agent/native_windows/src/event_log/container.cc
  agent/native_windows/src/event_log/data.cc
  agent/native_windows/src/process/process_container.cc
  agent/native_windows/src/process/process_data.cc
  agent/native_windows/src/process/process_filter.cc
  agent/native_windows/src/windows_util.cc
  agent/src/filter.cc
  agent/src/filter_rules.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_event_log_test.cc
  agent/test/check_process_container_test.cc
  agent/test/check_process_data_test.cc
  agent/test/check_process_filter_test.cc
  agent/test/check_process_test.cc
  agent/test/check_windows_service_test.cc
  agent/test/process_data_test.hh
  agent/test/scheduler_test.cc
  common/tests/process_stat_test.cc
  tests/broker-engine/cma.robot
  vcpkg.json
Labels: skip-workflow-docker-collect-testing, skip-workflow-docker-packaging, skip-workflow-centreon-collect

#2283 MON-23925 add ICON_UPDATE test
  broker/stats/CMakeLists.txt
  broker/tcp/CMakeLists.txt
  broker/tls/CMakeLists.txt
  tests/broker-engine/services.robot
Labels: skip-workflow-centreon-collect

#2284 MON-165614 lose ba name (#2272)
  agent/test/scheduler_test.cc
  broker/bam/inc/com/centreon/broker/bam/configuration/applier/ba.hh
  broker/bam/inc/com/centreon/broker/bam/configuration/ba.hh
  broker/bam/src/configuration/applier/ba.cc
  broker/bam/src/configuration/ba.cc
  broker/bam/src/configuration/reader_v2.cc
  tests/bam/bam_pb.robot
Labels: skip-workflow-centreon-collect

#2269 chore(deps): absorb 2025-04 dependabot GitHub Actions updates
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/windows-agent-robot-test.yml
  .github/workflows/windows-agent.yml
Labels: dependencies, gha, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#2281 fix(packaging): Ensure the gorgone logrotate file has the right permissions
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2298 fix(mbi): Remove -o option in centreonBIETL help message
  gorgone/contrib/mbi/centreonBIETL
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2300 fix(packaging): Add perl(Tie::File) dependency in gorgone rpm package
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2308 fix(packaging): Ensure the gorgone logrotate file has the right permi…
  .github/docker/Dockerfile.gorgone-testing-noble
  .github/workflows/gorgone.yml
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-gorgone-analysis

#2295 Mon 157906 broker caches force backup bbdo3
  broker/bam/src/configuration/applier/state.cc
  broker/core/inc/com/centreon/broker/persistent_cache.hh
  broker/core/src/persistent_cache.cc
  broker/core/test/bbdo/output.cc
  broker/graphite/inc/com/centreon/broker/graphite/macro_cache.hh
  broker/graphite/src/connector.cc
  broker/graphite/src/macro_cache.cc
  broker/graphite/test/query.cc
  broker/influxdb/inc/com/centreon/broker/influxdb/macro_cache.hh
  broker/influxdb/precomp_inc/precomp.hpp
  broker/influxdb/src/connector.cc
  broker/influxdb/src/macro_cache.cc
  broker/influxdb/test/line_protocol_query.cc
  broker/lua/inc/com/centreon/broker/lua/macro_cache.hh
  broker/lua/src/broker_cache.cc
  broker/lua/src/macro_cache.cc
  broker/lua/src/main.cc
  broker/neb/CMakeLists.txt
  broker/neb/inc/com/centreon/broker/neb/bbdo2_to_bbdo3.hh
  broker/neb/inc/com/centreon/broker/neb/internal.hh
  broker/neb/precomp_inc/precomp.hpp
  broker/neb/src/bbdo2_to_bbdo3.cc
  broker/neb/test/bbdo2_to_bbdo3_test.cc
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  tests/broker-engine/cma.robot
  tests/broker-engine/lua-cache.robot
Labels: skip-workflow-centreon-collect

#2329 Mon 167816 engine stopped before check timeout
  clib/src/process_manager.cc
  engine/inc/com/centreon/engine/commands/connector.hh
  engine/inc/com/centreon/engine/commands/forward.hh
  engine/src/commands/connector.cc
  engine/src/utils.cc
  tests/broker-engine/start-stop.robot
  tests/engine/start-stop.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/resources/engine-scripts/check.pl
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2274 Mon 160084 cma handle tokens agent initiated connection
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bookworm-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mariadb-jammy-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/agent_installer_test.ps1
  .github/scripts/agent_robot_test.ps1
  .github/workflows/windows-agent-robot-test.yml
  .gitleaks.toml
  README.md
  agent/doc/agent-doc.md
  agent/inc/com/centreon/agent/config.hh
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsdinc
  agent/installer/silent.nsi
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/main.cc
  agent/src/main_win.cc
  broker/core/sql/src/table_max_size.py
  common/CMakeLists.txt
  common/crypto/CMakeLists.txt
  common/crypto/jwt.cc
  common/crypto/jwt.hh
  common/grpc/CMakeLists.txt
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/src/grpc_client.cc
  common/precomp_inc/precomp.hh
  common/tests/CMakeLists.txt
  common/tests/jwt_test.cc
  engine/modules/opentelemetry/CMakeLists.txt
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_service.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/modules/opentelemetry/src/otl_server.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/cma.robot
  tests/broker-engine/opentelemetry.robot
  tests/resources/Agent.py
  tests/resources/Common.py
  tests/resources/Engine.py
  tests/resources/resources.resource
Labels: skip-workflow-docker-collect-testing, skip-workflow-docker-packaging, skip-workflow-centreon-collect, skip-workflow-monitoring-agent
