Repository centreon/centreon-collect, pull requests merged in 2025-07, with the labels that each got.

#2490 enh(ci): check version consistency (.version, install, update)
  .github/actions/check-version-consistency/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/monitoring-agent.yml
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2416 fix(gorgone): Gorgone can't restart because of missing tables in sqlite (#2392)
  gorgone/gorgone/standard/library.pm
  gorgone/tests/unit/standard/library.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2417 fix(gorgone): Gorgone can't restart because of missing tables in sqlite (#2392)
  gorgone/gorgone/standard/library.pm
  gorgone/tests/unit/standard/library.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2497 Mon 153802 applier init
  .github/workflows/robot-test.yml
  bbdo/bbdo.proto
  broker/bam/test/ba/kpi_ba.cc
  broker/bam/test/ba/kpi_service.cc
  broker/bam/test/configuration/applier-boolexp.cc
  broker/bam/test/exp_builder/exp_builder.cc
  broker/bam/test/time/check_timeperiod.cc
  broker/core/bbdo/stream.cc
  broker/core/bbdo/stream.hh
  broker/core/inc/com/centreon/broker/config/applier/init.hh
  broker/core/inc/com/centreon/broker/config/applier/state.hh
  broker/core/inc/com/centreon/broker/config/state.hh
  broker/core/multiplexing/test/engine/start_stop.cc
  broker/core/multiplexing/test/muxer/read.cc
  broker/core/multiplexing/test/publisher/read.cc
  broker/core/multiplexing/test/publisher/write.cc
  broker/core/src/broker.proto
  broker/core/src/broker_impl.cc
  broker/core/src/config/applier/init.cc
  broker/core/src/config/applier/state.cc
  broker/core/src/config/parser.cc
  broker/core/src/config/state.cc
  broker/core/src/main.cc
  broker/core/test/bbdo/output.cc
  broker/core/test/compression/stream/read.cc
  broker/core/test/compression/stream/write.cc
  broker/core/test/config/init.cc
  broker/core/test/file/directory_watcher.cc
  broker/core/test/modules/module.cc
  broker/core/test/processing/acceptor.cc
  broker/core/test/processing/feeder.cc
  broker/core/test/rpc/brokerrpc.cc
  broker/lua/test/lua.cc
  broker/neb/inc/com/centreon/broker/neb/cbmod.hh
  broker/neb/src/cbmod.cc
  broker/rrd/test/rrd.cc
  broker/simu/test/simu.cc
  broker/stats/test/stats.cc
  broker/storage/test/status-entry.cc
  broker/test/main.cc
  broker/unified_sql/src/stream_sql.cc
  broker/unified_sql/test/rebuild_message.cc
  broker/unified_sql/test/status-entry.cc
  broker/victoria_metrics/test/stream_test.cc
  engine/src/main.cc
  tests/broker-engine/negotiation.robot
  tests/broker-engine/negotiation.robot.unstable
  tests/broker-engine/start-stop.robot
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-gorgone-analysis, skip-workflow-centreon-collect, skip-workflow-engine-analysis, skip-workflow-bbdo-analysis, skip-workflow-broker-analysis

#2441 fix(gorgone): Sensitive Credentials Exposed in Logs
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/tests/unit/modules/core/action/class.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2498 enh(broker): pb_engine_configuration event is not needed anymore
  bbdo/bbdo.proto
  bbdo/events.hh
  broker/core/bbdo/internal.cc
  broker/core/bbdo/internal.hh
  broker/core/bbdo/stream.cc
  broker/core/src/io/events.cc
Labels: skip-workflow-centreon-collect, skip-workflow-bbdo-analysis, skip-workflow-broker-analysis

#2518 MON-175289: upgrade windows vcpkg to 2025.06.13
  .github/scripts/windows-agent-compile.ps1
  .github/workflows/windows-agent-robot-test.yml
  CMakeLists.txt
  CMakeListsLinux.txt
  CMakePresets.json
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/src/process/process_data.cc
  agent/test/check_process_test.cc
  agent/test/scheduler_test.cc
  overlays-windows/boost-parser/add-missing-template.patch
  overlays-windows/boost-parser/portfile.cmake
  overlays-windows/boost-parser/vcpkg.json
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-agent-analysis

#2521 Mon 175462 windows robot test hang
  .github/scripts/agent_robot_test.ps1
  .github/scripts/windows-agent-compile.ps1
  .github/scripts/wsl-collect-test-robot.sh
  .github/workflows/windows-agent-robot-test.yml
  tests/broker-engine/cma.robot
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-agent-analysis

#2520 MON-175288-enh(agent): upgrade windows vcpkg to 2025.06.13
  .github/scripts/windows-agent-compile.ps1
  .github/workflows/windows-agent-robot-test.yml
  CMakeLists.txt
  CMakeListsLinux.txt
  CMakePresets.json
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/src/process/process_data.cc
  agent/test/check_process_test.cc
  agent/test/scheduler_test.cc
  engine/modules/opentelemetry/CMakeLists.txt
  overlays-windows/boost-parser/add-missing-template.patch
  overlays-windows/boost-parser/portfile.cmake
  overlays-windows/boost-parser/vcpkg.json
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2524 fix(gorgone): Semicolon is accepted for hostname and service name but it causes problems in DB (#2432)
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHost.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIService.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIServiceCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Host.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/ServiceCategory.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2527 fix(gorgone): Semicolon is accepted for hostname and service name but it causes problems in DB (#2432)
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHost.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIService.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIServiceCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Host.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/ServiceCategory.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2525 fix(gorgone): Semicolon is accepted for hostname and service name but it causes problems in DB (#2432)
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHost.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIHostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIService.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIServiceCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Host.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostCategory.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/HostGroup.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/ServiceCategory.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2529 fix(gorgone): centreontrapd.sdb on poller has wrong permissions (#2445)
  gorgone/gorgone/modules/centreon/legacycmd/class.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/modules/core/proxy/hooks.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2526 fix(gorgone): Sensitive Credentials Exposed in Logs (#2441)
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/tests/unit/modules/core/action/class.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2399 MON-150244-remove-whitelist-from-40-gorgoned-yaml-file-for-new-plateform
  .github/docker/centreon-poller/alma9/entrypoint/container.d/60-register_central.sh
  gorgone/config/gorgoned-central-ssh.yml
  gorgone/config/gorgoned-central-zmq.yml
  gorgone/config/gorgoned-poller.yml
  gorgone/config/gorgoned-remote-ssh.yml
  gorgone/config/gorgoned-remote-zmq.yml
  gorgone/contrib/gorgone_config_init.pl
  gorgone/docs/migration.md
  gorgone/docs/modules/core/action.md
  gorgone/docs/poller_pull_configuration.md
  gorgone/docs/poller_pullwss_configuration.md
  gorgone/docs/rebound_configuration.md
  gorgone/tests/unit/class/config_examples/centreon-gorgone/config.d/40-gorgoned.yaml
  gorgone/tests/unit/class/config_examples/centreon-gorgone/expectedConfiguration.pl
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2538 fix(broker): fixed a crash in broker if an old engine disconnects
  broker/core/bbdo/stream.cc
Labels: skip-workflow-centreon-collect, skip-workflow-broker-analysis

#2500 MON-174536 fix(agent): upgrade windows vcpkg to 2025.06.13
  .github/scripts/windows-agent-compile.ps1
  .github/workflows/windows-agent-robot-test.yml
  CMakeLists.txt
  CMakeListsLinux.txt
  CMakePresets.json
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/src/process/process_data.cc
  agent/test/check_process_test.cc
  agent/test/scheduler_test.cc
  overlays-windows/boost-parser/add-missing-template.patch
  overlays-windows/boost-parser/portfile.cmake
  overlays-windows/boost-parser/vcpkg.json
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2543 MON-175809 whitelist no goes to infinite loop in case of unreadable…
  .github/scripts/collect-prepare-test-robot.sh
  engine/src/configuration/whitelist.cc
  tests/broker-engine/whitelist.robot
  tests/resources/resources.resource
Labels: skip-workflow-docker-collect-testing, skip-workflow-centreon-collect, skip-workflow-engine-analysis

#2548 fix(ci): remove hardcoded version of robotframwork database lib (#2547)
  .github/docker/Dockerfile.centreon-collect-mariadb-noble-test
Labels: skip-workflow-docker-collect-testing

#2549 fix(ci): fix delivery of monitoring-agent (#2554)
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/monitoring-agent.yml
Labels: skip-workflow-monitoring-agent, skip-cherry-pick

#2557 MON-176099:fix(engine): whitelist no goes to infinite loop in case of unreadable…
  .github/scripts/collect-prepare-test-robot.sh
  .gitignore
  engine/src/configuration/whitelist.cc
  tests/broker-engine/whitelist.robot
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2554 fix(ci): fix delivery of monitoring-agent
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/workflows/monitoring-agent.yml
Labels: skip-workflow-monitoring-agent

#2570 MON-175847-symbol-unknown-in-libopentelemetry.so
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/process/process_data.cc
  agent/test/check_process_test.cc
  engine/modules/opentelemetry/CMakeLists.txt
Labels: skip-workflow-centreon-collect

#2501 feat(agent): add check files for window
  .gitignore
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/drive_size.hh
  agent/native_windows/inc/com/centreon/agent/check_files.hh
  agent/native_windows/src/check_files.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_counter.cc
  agent/test/check_windows_files_test.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-monitoring-agent

#2419 feat(gorgone): allow to disable shell interpretation when executing command
  .github/docker/Dockerfile.gorgone-testing-alma8
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/docker/Dockerfile.gorgone-testing-bookworm
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/robot/config/autodiscovery/configuration-autodiscovery.yaml
  gorgone/tests/robot/config/autodiscovery/db-delete-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery-2.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/host-http-body.json
  gorgone/tests/robot/config/autodiscovery/service-injection-http-body.json
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/resources/web-api-mockoon.json
  gorgone/tests/robot/tests/centreon/autodiscovery.robot
  gorgone/tests/unit/standard/misc.t
  gorgone/tests/unit/standard/showArgs.sh
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-gorgone-analysis

#2581 Mon 176580 build build and test agent no files were found to sign
  agent/test/check_windows_files_test.cc
Labels: skip-workflow-monitoring-agent

#2579 Mon 176298 unknown statement is fatal develop
  broker/core/sql/src/mysql_connection.cc
  clib/src/process_manager.cc
  cmake-vcpkg.sh
  cmake.sh
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/inc/com/centreon/engine/utils.hh
  engine/src/commands/raw_v2.cc
  engine/src/utils.cc
  tests/engine/contact_inheritance.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-engine-analysis, skip-workflow-broker-analysis, skip-workflow-clib-analysis

#2544 Mon 171462 dev 24 04 x dive deeper into mon 23409 gorgone
  gorgone/gorgone/class/db.pm
  gorgone/gorgone/class/sqlquery.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/proxy/hooks.pm
  gorgone/tests/unit/class/db.t
  gorgone/tests/unit/class/sqlquery.t
  gorgone/tests/unit/lib/mockLogger.pm
  gorgone/tests/unit/standard/library.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2550 fix(mbi): when getting service category avoid infinite loop if service templates have circular reference
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2545 fix(mbi): when getting service category avoid infinite loop if service templates have circular reference
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2551 fix(mbi): when getting service category avoid infinite loop if service templates have circular reference
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2575 feat(agent): add check files for windows (#2501)
  .gitignore
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/drive_size.hh
  agent/native_windows/inc/com/centreon/agent/check_files.hh
  agent/native_windows/src/check_files.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_counter.cc
  agent/test/check_windows_files_test.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-monitoring-agent

#2583 fix(broker): unknown statements raised by database must be a fatal error
  broker/core/sql/src/mysql_connection.cc
  clib/src/process_manager.cc
  cmake-vcpkg.sh
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/inc/com/centreon/engine/utils.hh
  engine/src/commands/raw_v2.cc
  engine/src/utils.cc
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2574 feat(agent): add check files for windows (#2501)
  .gitignore
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/drive_size.hh
  agent/native_windows/inc/com/centreon/agent/check_files.hh
  agent/native_windows/src/check_files.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_counter.cc
  agent/test/check_windows_files_test.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-monitoring-agent

#2584 feat(engine): enhance otl_server configuration : encryption accept both boolean and string values
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
Labels: skip-workflow-centreon-collect

#2513 chore(deps): absorb 2025-07 dependabot GitHub Actions updates
  .github/workflows/centreon-collect.yml
  .github/workflows/checkmarx-analysis.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/docker-packaging.yml
Labels: dependencies, gha, skip-workflow-docker-gorgone-testing

#2589 fix(packaging): fix package dependency on centreon-broker-caching-sha2-password that blocks broker update
  packaging/centreon-collect/centreon-broker-core.yaml
Labels: skip-workflow-centreon-collect

#2576 MON-158789-CMA-decrypt-credentials
  CMakeListsLinux.txt
  CMakeListsWindows.txt
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/check_exec.hh
  agent/inc/com/centreon/agent/scheduler.hh
  agent/native_linux/src/agent_info.cc
  agent/native_windows/src/agent_info.cc
  agent/proto/agent.proto
  agent/src/check_exec.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_exec_test.cc
  agent/test/scheduler_test.cc
  common/crypto/aes256.cc
  common/crypto/aes256.hh
  common/engine_conf/state.proto
  common/process/inc/com/centreon/common/process/process_args.hh
  common/process/src/process_args.cc
  common/tests/CMakeLists.txt
  common/tests/process_test.cc
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_impl.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_stat.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/to_agent_connector.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/otl_fmt.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/centreon_agent/to_agent_connector.cc
  engine/src/configuration/applier/state.cc
  engine/tests/CMakeLists.txt
  engine/tests/opentelemetry/agent_check_result_builder_test.cc
  engine/tests/opentelemetry/agent_reverse_client_test.cc
  engine/tests/opentelemetry/open_telemetry_test.cc
  engine/tests/opentelemetry/otl_converter_test.cc
  engine/tests/test_engine.cc
  engine/tests/test_engine.hh
  tests/broker-engine/cma.robot
  tests/engine/macros_encryption.robot
  tests/resources/Engine.py
  vcpkg.json
Labels: skip-workflow-docker-collect-testing, skip-workflow-docker-packaging, skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-agent-analysis, skip-workflow-engine-analysis

#2566 MON-176277 hotfix Collect 24.10
  .version.centreon-collect
  .version.centreon-monitoring-agent
  CMakeLists.txt
  agent/native_windows/inc/com/centreon/agent/process/process_data.hh
  agent/native_windows/src/check_process.cc
  agent/native_windows/src/process/process_data.cc
  agent/test/check_process_test.cc
  broker/thanks.txt
  engine/modules/opentelemetry/CMakeLists.txt
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
Labels: skip-workflow-centreon-collect

#2597 fix(config): Harmonize Linux centagent.json wording
  agent/src/config.cc
  agent/test/config_test.cc
  tests/resources/Agent.py
Labels: skip-workflow-monitoring-agent, skip-workflow-agent-analysis

#2594 MON-174126-broker-decrypt-stream-connector-credentials
  broker/core/inc/com/centreon/broker/misc/variant.hh
  broker/core/src/main.cc
  broker/core/src/misc/variant.cc
  broker/lua/inc/com/centreon/broker/lua/connector.hh
  broker/lua/src/factory.cc
  broker/lua/test/lua.cc
  broker/test/main.cc
  common/inc/com/centreon/common/pool.hh
  common/log_v2/log_v2.cc
  common/log_v2/log_v2.hh
  common/src/pool.cc
  common/tests/log_v2/log_v2.cc
  common/tests/test_main.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/src/configuration/applier/state.cc
  engine/src/main.cc
  engine/tests/main.cc
  tests/broker-engine/macros_encryption.robot
  tests/resources/Broker.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-engine-analysis, skip-workflow-broker-analysis

#2600 MON-176277 Sync hotfix 24.10 on release-24.10-next
  .github/docker/Dockerfile.centreon-collect-mariadb-noble-test
  .github/scripts/agent_robot_test.ps1
  .github/scripts/collect-test-robot.sh
  .github/scripts/wsl-collect-test-robot.sh
  .github/workflows/windows-agent-robot-test.yml
  agent/native_windows/src/check_process.cc
  broker/thanks.txt
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-docker-collect-testing, skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2593 feat(engine): enhance otl_server configuration : encryption accept boolean and string values (#2588)
  engine/tests/opentelemetry/grpc_config_test.cc
Labels: skip-workflow-centreon-collect

#2613 fix(ci): remove bullseye-backports repo from docker images
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
Labels: skip-workflow-docker-builder

#2606 MON-177740 fix(engine): raw_v2 allow to start several process at same time
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/precomp_inc/precomp.hh
  engine/src/commands/raw_v2.cc
  tests/engine/engine_load.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-engine-analysis

#2608 MON-177838 Hotfix collect 24.04.13
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .version.centreon-collect
  CMakeLists.txt
  bbdo/CMakeLists.txt
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/precomp_inc/precomp.hh
  engine/src/commands/raw_v2.cc
  tests/broker-engine/services.robot
  tests/engine/engine_load.robot
  tests/resources/Engine.py
Labels: skip-workflow-docker-builder, skip-workflow-centreon-collect, skip-workflow-windows-agent

#2623 Mon 177963 a command can not be several times at same time release 24.10
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/precomp_inc/precomp.hh
  engine/src/commands/raw_v2.cc
  tests/engine/engine_load.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2617 Mon 177964 a command can not be several times at same time 24.10
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/precomp_inc/precomp.hh
  engine/src/commands/raw_v2.cc
  tests/engine/engine_load.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2595 feat(engine): enhance whitelist logic (#2522)
  agent/src/check_exec.cc
  broker/core/src/stats/center.cc
  common/http/test/vault_test.cc
  engine/inc/com/centreon/engine/configuration/whitelist.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/conf_helper.hh
  engine/src/checkable.cc
  engine/src/configuration/extended_conf.cc
  engine/src/configuration/whitelist.cc
  engine/src/host.cc
  engine/src/service.cc
  engine/tests/configuration/whitelist-test.cc
  engine/tests/opentelemetry/pb_agent_to_engine_test.cc
  packaging/centreon-collect/scripts/centreon-engine-daemon-postinstall.sh
  tests/broker-engine/cma.robot
  tests/broker-engine/opentelemetry.robot
  tests/resources/opentelemetry/telegraf_1.conf
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-agent-analysis, skip-workflow-engine-analysis, skip-workflow-broker-analysis
