Repository centreon/centreon-collect, pull requests merged in 2025-08, with the labels that each got.

#2618 fix(ci): remove bullseye-backports repo from docker images
  .github/docker/Dockerfile.packaging-centreon-collect-bullseye
Labels: skip-workflow-docker-packaging

#2635 MON-178749 revert engine process launch
  .github/docker/Dockerfile.centreon-collect-alma8-test
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/scripts/collect-prepare-test-robot.sh
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  common/process/inc/com/centreon/common/process/detail/spawnp_launcher.hh
  common/process/src/process.cc
  common/process/src/spawnp_launcher.cc
  engine/src/configuration/applier/command.cc
  engine/src/utils.cc
  engine/tests/commands/simple-command.cc
  tests/broker-engine/whitelist.robot
  tests/init-proto.sh
Labels: skip-workflow-docker-builder, skip-workflow-centreon-collect

#2638 enh(docker-ci): add alma8 to the list of testing OS in centreon-collect's robot tests
  .github/docker/Dockerfile.centreon-collect-mariadb-alma8-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma8-test
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
Labels: skip-workflow-docker-collect-testing

#2643 Mon 178784 revert engine process launch hotfix 24.10.x (#2641)
  .github/docker/Dockerfile.centreon-collect-mariadb-alma8-test
  .github/scripts/collect-prepare-test-robot.sh
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/monitoring-agent.yml
  broker/CMakeLists.txt
  common/process/inc/com/centreon/common/process/detail/spawnp_launcher.hh
  common/process/src/process.cc
  common/process/src/spawnp_launcher.cc
  engine/inc/com/centreon/engine/configuration/whitelist.hh
  engine/src/configuration/applier/command.cc
  engine/src/configuration/whitelist.cc
  engine/src/utils.cc
  tests/broker-engine/whitelist.robot
  tests/connector_ssh/connector_ssh.robot
  tests/init-proto.sh
  tests/resources/Engine.py
Labels: skip-workflow-docker-collect-testing, skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2644 fix no_shell_interpretation when binary executed don't exist
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/unit/standard/misc.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2647 fix no_shell_interpretation when binary executed don't exist
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/unit/standard/misc.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2636 MON-178754 Hotfix collect 24.10.10
  .github/actions/parse-distrib/action.yml
  .github/docker/Dockerfile.centreon-collect-mariadb-alma8-test
  .github/scripts/collect-prepare-test-robot.sh
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/get-environment.yml
  .github/workflows/monitoring-agent.yml
  .version.centreon-collect
  CMakeLists.txt
  broker/CMakeLists.txt
  common/process/inc/com/centreon/common/process/detail/spawnp_launcher.hh
  common/process/src/process.cc
  common/process/src/spawnp_launcher.cc
  engine/inc/com/centreon/engine/configuration/whitelist.hh
  engine/src/configuration/applier/command.cc
  engine/src/configuration/whitelist.cc
  engine/src/utils.cc
  tests/broker-engine/whitelist.robot
  tests/connector_ssh/connector_ssh.robot
  tests/init-proto.sh
  tests/resources/Engine.py
Labels: skip-workflow-docker-collect-testing, skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2650 Mon 176601 dev 23 10 x poller rce and privilege escalation
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2649 Mon 176603 dev 24 04 x poller rce and privilege escalation
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/unit/lib/mockLogger.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2659 enh(docker-ci): add alma8 to the list of testing OS in centreon-colle…
  .github/docker/Dockerfile.centreon-collect-mariadb-alma8-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma8-test
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
Labels: skip-workflow-docker-collect-testing

#2646 enh(docker-ci): add alma8 to the list of testing OS in centreon-collect's robot tests (#2638)
  .github/docker/Dockerfile.centreon-collect-mysql-alma8-test
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
Labels: skip-workflow-docker-collect-testing

#2586 Mon 176600 dev 24 10 x disable bash interpolation
  .github/docker/Dockerfile.gorgone-testing-alma8
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/docker/Dockerfile.gorgone-testing-jammy
  .github/docker/Dockerfile.gorgone-testing-noble
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/robot/config/autodiscovery/configuration-autodiscovery.yaml
  gorgone/tests/robot/config/autodiscovery/db-delete-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery-2.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/host-http-body.json
  gorgone/tests/robot/config/autodiscovery/service-injection-http-body.json
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/resources/web-api-mockoon.json
  gorgone/tests/robot/tests/centreon/autodiscovery.robot
  gorgone/tests/unit/lib/mockLogger.pm
  gorgone/tests/unit/standard/misc.t
  gorgone/tests/unit/standard/showArgs.sh
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-gorgone-analysis

#2665 feat(gorgone): allow to disable shell interpretation when executing autodiscovery
  .github/docker/Dockerfile.gorgone-testing-alma8
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/docker/Dockerfile.gorgone-testing-jammy
  .github/docker/Dockerfile.gorgone-testing-noble
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/robot/config/autodiscovery/configuration-autodiscovery.yaml
  gorgone/tests/robot/config/autodiscovery/db-delete-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery-2.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/host-http-body.json
  gorgone/tests/robot/config/autodiscovery/service-injection-http-body.json
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/resources/web-api-mockoon.json
  gorgone/tests/robot/tests/centreon/autodiscovery.robot
  gorgone/tests/unit/lib/mockLogger.pm
  gorgone/tests/unit/standard/misc.t
  gorgone/tests/unit/standard/showArgs.sh
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-gorgone-analysis

#2663 Mon 179332 24 04 x poller rce and privilege escalation
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2664 feat(gorgone): allow to disable shell interpretation when executing autodiscovery command
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2660 MON-179325 Hotfix collect 24.10
  .github/docker/Dockerfile.gorgone-testing-alma8
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/docker/Dockerfile.gorgone-testing-jammy
  .github/docker/Dockerfile.gorgone-testing-noble
  .version.centreon-gorgone
  gorgone/docs/modules/centreon/autodiscovery.md
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/core/action/class.pm
  gorgone/gorgone/standard/misc.pm
  gorgone/tests/robot/config/autodiscovery/configuration-autodiscovery.yaml
  gorgone/tests/robot/config/autodiscovery/db-delete-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery-2.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/host-http-body.json
  gorgone/tests/robot/config/autodiscovery/service-injection-http-body.json
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/resources/web-api-mockoon.json
  gorgone/tests/robot/tests/centreon/autodiscovery.robot
  gorgone/tests/unit/lib/mockLogger.pm
  gorgone/tests/unit/standard/misc.t
  gorgone/tests/unit/standard/showArgs.sh
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-gorgone-analysis

#2683 refactor(engine/agent): update payload schema to allow null expiration and adjust token creation logic
  common/crypto/jwt.cc
  common/tests/jwt_test.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2695 MON-180698 Sync release 24.10 Hotfix Collect
  .version.centreon-collect
  .version.centreon-monitoring-agent
  CMakeLists.txt
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2694 enh(agent): support both old and new field names for ca and ca common name
  agent/conf/centagent.json.in
  agent/src/config.cc
  agent/test/config_test.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-monitoring-agent, skip-workflow-agent-analysis

#2698 MON-176304: revert is_encryption_ready instances column write
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/macros_encryption.robot
Labels: skip-workflow-broker-analysis

#2690 feat(gorgone-discovery): Service disco now honor vault path when constructing discovery command
  .gitleaks.toml
  .gitleaksignore
  gorgone/gorgone/class/core.pm
  gorgone/gorgone/modules/centreon/autodiscovery/class.pm
  gorgone/gorgone/modules/centreon/autodiscovery/hooks.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/discovery.pm
  gorgone/gorgone/modules/centreon/autodiscovery/services/resources.pm
  gorgone/tests/robot/config/autodiscovery/db-delete-autodiscovery.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery-2.sql
  gorgone/tests/robot/config/autodiscovery/db-insert-autodiscovery.sql
  gorgone/tests/robot/config/vault-env
  gorgone/tests/robot/config/vault.json
  gorgone/tests/robot/resources/resources.resource
  gorgone/tests/robot/resources/web-api-mockoon.json
  gorgone/tests/robot/tests/centreon/autodiscovery.robot
  perl-libs/lib/centreon/common/centreonvault.pm
  perl-libs/lib/t/common/centreonvault.t
  perl-libs/packaging/centreon-perl-libs-common.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis, skip-workflow-perl-libs-analysis
