Repository centreon/centreon-collect, pull requests merged in 2025-02, with the labels that each got.

#2031 MON-130751-mbi-avoid-service-dimension-loops
  gorgone/gorgone/modules/centreon/mbi/libs/centreon/Service.pm
Labels: skip-workflow-gorgone

#2086 chore(deps): absorb 2025-02 dependabot GitHub Actions updates
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/robot-test.yml
Labels: dependencies, gha

#2083 MON-158858_cma_performance backport 24.10 (#2010)
  .github/scripts/collect-test-robot.sh
  agent/bench/README.md
  agent/bench/centreon_conf/centreon-broker/central-module.json
  agent/bench/centreon_conf/centreon-engine/centengine.cfg
  agent/bench/centreon_conf/centreon-engine/commands.cfg
  agent/bench/centreon_conf/centreon-engine/connectors.cfg
  agent/bench/centreon_conf/centreon-engine/hostTemplates.cfg
  agent/bench/centreon_conf/centreon-engine/hosts.cfg
  agent/bench/centreon_conf/centreon-engine/otl_server.json
  agent/bench/centreon_conf/centreon-engine/resource.cfg
  agent/bench/centreon_conf/centreon-engine/serviceTemplates.cfg
  agent/bench/centreon_conf/centreon-engine/services.cfg
  agent/bench/centreon_conf/centreon-engine/timeperiods.cfg
  agent/bench/create_bench_service.py
  agent/bench/create_many_linux_agent.py
  agent/bench/doc-pictures/add-rule.png
  agent/bench/install_linux_agent.sh
  agent/bench/measure_agent_perf.ps1
  agent/bench/nsclient.ini
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/config.hh
  agent/inc/com/centreon/agent/scheduler.hh
  agent/src/bireactor.cc
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/native_check_cpu_base.cc
  agent/src/scheduler.cc
  common/engine_conf/state.proto
  common/engine_legacy_conf/state.cc
  common/engine_legacy_conf/state.hh
  common/grpc/inc/com/centreon/common/grpc/grpc_config.hh
  common/grpc/src/grpc_client.cc
  common/grpc/src/grpc_server.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_config.cc
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/src/check_result.cc
  engine/src/configuration/applier/state.cc
  engine/src/service.cc
  tests/broker-engine/cma.robot
  tests/engine/start-stop.robot
  tests/resources/Common.py
Labels: skip-workflow-Centreon collect

#1858 fix(scope): metric names not escaped graphite 24.04
  broker/graphite/src/query.cc
  broker/graphite/test/query.cc
Labels: skip-workflow-Centreon collect

#2087 Mon 158870 add grpc logs to agent otel (#2082)
  .github/scripts/windows-agent-compile.ps1
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/config.hh
  agent/inc/com/centreon/agent/log.hh
  agent/src/log.cc
  agent/src/main.cc
  agent/src/main_win.cc
  common/log_v2/log_v2.cc
Labels: skip-workflow-Centreon collect

#2090 Mon 152343 false alarms cbd restart
  broker/unified_sql/src/stream_sql.cc
  tests/bam/bam_pb.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/rrdcached.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services.robot
  tests/broker-engine/whitelist.robot
  tests/engine/forced_checks.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2037 fix(gorgone): Fix httpserver to correctly handle authentication with …
  gorgone/gorgone/modules/core/httpserver/class.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2036 fix(gorgone): Fix httpserver to correctly handle authentication with …
  gorgone/gorgone/modules/core/httpserver/class.pm
Labels: skip-workflow-gorgone

#2035 fix(gorgone): Fix httpserver to correctly handle authentication with non-ascii characters
  gorgone/gorgone/modules/core/httpserver/class.pm
Labels: skip-workflow-gorgone

#2098 Mon 159178 fix cma installer certificate public cert issue
  .github/scripts/agent_installer_test.ps1
  agent/bench/create_many_linux_agent.py
  agent/conf/centagent.json.in
  agent/conf/centagent.reg
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsddef
  agent/installer/resources/encryption_dlg.nsdinc
  agent/installer/silent.nsi
Labels: skip-workflow-centreon-collect

#2043 MON-158097 Centreon next 24.04 (Jira release #20359#)
  .github/CODEOWNERS
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/actions/package/action.yml
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bookworm
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/docker/Dockerfile.centreon-collect-ubuntu-jammy
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
  .github/workflows/set-pull-request-skip-label.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/windows-agent.yml
  .version
  CMakeLists.txt
  broker/unified_sql/src/stream_sql.cc
  gorgone/.version
  gorgone/gorgone/modules/centreon/mbi/libs/bi/BIMetric.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/HostAvailability.pm
  gorgone/gorgone/modules/centreon/mbi/libs/bi/ServiceAvailability.pm
  gorgone/gorgone/modules/centreon/mbi/libs/centstorage/Metrics.pm
  gorgone/packaging/centreon-gorgone.yaml
  tests/broker-engine/bbdo-protobuf.robot
Labels: skip-workflow-gorgone, skip-workflow-libzmq, skip-workflow-Centreon collect, skip-workflow-gorgone-analysis, skip-workflow-docker-builder

#2109 chore(ci): update actions/cache to 4.2.0 for branch dev-22.10.x
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package-legacy/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/package-collect.yml
  .github/workflows/package.yml
  .github/workflows/veracode-analysis.yml
Labels: gha

#2107 chore(ci): update actions/cache to 4.2.0 for branch dev-23.10.x
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package-legacy/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/libzmq.yml
  .github/workflows/package.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
Labels: gha, skip-workflow-libzmq

#2106 chore(ci): update actions/cache to 4.2.0 for branch dev-24.04.x
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/libzmq.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/windows-agent.yml
Labels: gha, skip-workflow-libzmq

#2105 chore(ci): update actions/cache to 4.2.0 for branch dev-24.10.x
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/windows-agent-robot-test.yml
Labels: gha, skip-workflow-libzmq

#2112 Mon 159777 dev 24 04 x false alarms when restarting cbd
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/services.robot
Labels: skip-workflow-centreon-collect

#2047 feat(docker): create centreon-poller docker image
  .github/docker/centreon-poller/alma9/Dockerfile
  .github/docker/centreon-poller/alma9/entrypoint/container.d/00-init.sh
  .github/docker/centreon-poller/alma9/entrypoint/container.d/40-engine.sh
  .github/docker/centreon-poller/alma9/entrypoint/container.d/60-register_central.sh
  .github/docker/centreon-poller/alma9/entrypoint/container.d/99-logs.sh
  .github/docker/centreon-poller/alma9/entrypoint/container.sh
  .github/docker/centreon-poller/init/centengine
  .github/docker/centreon-poller/scripts/systemctl
  .github/docker/centreon-poller/sudoersCentreon
  .github/workflows/centreon-collect.yml
  packaging/centreon-collect/scripts/centreon-engine-daemon-preinstall.sh
Labels: skip-workflow-centreon-collect, build-docker-poller

#2116 enh(release): move all .version files to the root level of file tree
  .github/CODEOWNERS
  .github/actions/release/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .version
  .version.centreon-collect
  .version.centreon-gorgone
  gorgone/.version
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis, skip-workflow-centreon-collect

#2117 enh(release): move all .version files to the root level of file tree
  .github/CODEOWNERS
  .github/actions/release/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .version
  .version.centreon-collect
  .version.centreon-gorgone
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis, skip-workflow-centreon-collect

#2111 enh(release): move all .version files to the root level of file tree
  .github/CODEOWNERS
  .github/actions/release/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .version
  .version.centreon-collect
  .version.centreon-gorgone
  .version.centreon-monitoring-agent
  gorgone/.version
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis, skip-workflow-centreon-collect

#2118 enh(release): move all .version files to the root level of file tree
  .github/CODEOWNERS
  .github/actions/release/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .version
  .version.centreon-collect
  .version.centreon-gorgone
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis, skip-workflow-centreon-collect

#2115 Mon 159778 dev 23 10 x false alarms when restarting cbd
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/services.robot
Labels: skip-workflow-centreon-collect

#2110 Mon 159779 dev 24 10 x false alarms when restarting cbd
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bookworm-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mariadb-jammy-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/workflows/robot-test.yml
  broker/unified_sql/src/stream_sql.cc
  tests/bam/bam_pb.robot
  tests/broker-engine/external-commands2.robot
  tests/broker-engine/rrd-from-db.robot
  tests/broker-engine/rrd.robot
  tests/broker-engine/rrdcached-from-db.robot
  tests/broker-engine/rrdcached.robot
  tests/broker-engine/services-increased.robot
  tests/broker-engine/services.robot
  tests/broker-engine/whitelist.robot
  tests/engine/forced_checks.robot
  tests/resources/Engine.py
Labels: skip-workflow-libzmq, skip-workflow-docker-collect-testing, skip-workflow-centreon-collect

#2131 MON-123561-restore CEIP
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-centreon-collect

#2136 fix(broker): logs concerning acknowledgements did not appear in database
  broker/neb/src/set_log_data.cc
  engine/inc/com/centreon/engine/logging/broker_sink.hh
  tests/broker-engine/acknowledgement.robot
  tests/resources/Broker.py
Labels: skip-workflow-centreon-collect

#2135 MON-160672 fix robot db issue, minor are equal for collect and agent
  .github/workflows/get-environment.yml
  .github/workflows/package-collect.yml
  CMakeLists.txt
Labels: skip-workflow-docker-collect-testing, skip-workflow-centreon-collect

#2137 fix(broker): logs concerning acknowledgements did not appear in database
  broker/neb/src/set_log_data.cc
  engine/inc/com/centreon/engine/logging/broker_sink.hh
  tests/broker-engine/acknowledgement.robot
  tests/resources/Broker.py
Labels: skip-workflow-centreon-collect

#2139 fix(broker): logs concerning acknowledgements did not appear in database
  broker/neb/src/set_log_data.cc
  engine/inc/com/centreon/engine/logging/broker_sink.hh
  tests/broker-engine/acknowledgement.robot
  tests/resources/Broker.py
Labels: skip-workflow-centreon-collect

#2138 fix(broker): logs concerning acknowledgements did not appear in database
  broker/neb/src/set_log_data.cc
  engine/inc/com/centreon/engine/logging/broker_sink.hh
  tests/broker-engine/acknowledgement.robot
  tests/resources/Broker.py
Labels: skip-workflow-centreon-collect

#2147 enh(ci): migrate runners to arc v2
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/windows-agent-robot-test.yml
Labels: skip-workflow-libzmq
