Repository centreon/centreon-collect, pull requests merged in 2025-03, with the labels that each got.

#2125 MON-160168 Centreon next 23.04 (Jira release #20400#)
  .github/CODEOWNERS
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package-legacy/action.yml
  .github/actions/package/action.yml
  .github/actions/release/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/package.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
  .github/workflows/set-pull-request-skip-label.yml
  .github/workflows/synchronize-branches.yml
  .github/workflows/veracode-analysis.yml
  .version
  .version.centreon-collect
  .version.centreon-gorgone
  gorgone/.version
  gorgone/packaging/centreon-gorgone.spectemplate
Labels: skip-workflow-gorgone, skip-workflow-libzmq, skip-workflow-gorgone-analysis, skip-workflow-docker-builder, skip-workflow-centreon-collect

#2149 enh(ci): migrate runners to arc v2 (#2147)
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/windows-agent-robot-test.yml
Labels: skip-workflow-libzmq

#2124 MON-160165 Centreon next 23.10 (Jira release #20397#)
  .github/CODEOWNERS
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package-legacy/action.yml
  .github/actions/package/action.yml
  .github/actions/release/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/docker/Dockerfile.centreon-collect-alma8
  .github/docker/Dockerfile.centreon-collect-alma9
  .github/docker/Dockerfile.centreon-collect-debian-bullseye
  .github/docker/Dockerfile.centreon-collect-mysql-alma9
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/package.yml
  .github/workflows/rebase-master.yml
  .github/workflows/rebase-version.yml
  .github/workflows/release.yml
  .github/workflows/robot-nightly.yml
  .github/workflows/robot-test.yml
  .github/workflows/set-pull-request-skip-label.yml
  .github/workflows/veracode-analysis.yml
  .version
  .version.centreon-collect
  .version.centreon-gorgone
  CMakeLists.txt
  broker/unified_sql/src/stream_sql.cc
  gorgone/.version
  gorgone/gorgone/modules/core/httpserver/class.pm
  gorgone/packaging/centreon-gorgone.spectemplate
  tests/broker-engine/services.robot
Labels: skip-workflow-gorgone, skip-workflow-libzmq, skip-workflow-gorgone-analysis, skip-workflow-docker-builder, skip-workflow-centreon-collect

#2179 enh(ci): migrate runners to arc v2 (#2147) (#2149)
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
Labels: skip-workflow-libzmq

#2178 enh(ci): migrate runners to arc v2 (#2147) (#2149)
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
Labels: skip-workflow-libzmq

#2177 enh(ci): migrate runners to arc v2 (#2147) (#2149)
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-builder.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
Labels: skip-workflow-libzmq

#2183 fix(broker): graphite and influxdb outputs missed pb_storage_lib libr…
  broker/graphite/CMakeLists.txt
  broker/influxdb/CMakeLists.txt
  tests/broker-engine/start-stop.robot
  tests/resources/Broker.py
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2174 Mon 158969 cma improve checks syntax errors handling
  agent/inc/com/centreon/agent/check_exec.hh
  agent/src/check_exec.cc
  agent/src/scheduler.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect

#2188 chore(secu): clean unused files
  agent/installer/inetc/Examples/Inetc/Example.nsi
  agent/installer/inetc/Examples/Inetc/auth_dlg.nsi
  agent/installer/inetc/Examples/Inetc/ftp_auth.nsi
  agent/installer/inetc/Examples/Inetc/head.nsi
  agent/installer/inetc/Examples/Inetc/headers.nsi
  agent/installer/inetc/Examples/Inetc/headers.php
  agent/installer/inetc/Examples/Inetc/https.nsi
  agent/installer/inetc/Examples/Inetc/inetc_local.nsi
  agent/installer/inetc/Examples/Inetc/post.nsi
  agent/installer/inetc/Examples/Inetc/post.php
  agent/installer/inetc/Examples/Inetc/post_file.nsi
  agent/installer/inetc/Examples/Inetc/post_file.php
  agent/installer/inetc/Examples/Inetc/post_form.html
  agent/installer/inetc/Examples/Inetc/put.nsi
  agent/installer/inetc/Examples/Inetc/put.php
  agent/installer/inetc/Examples/Inetc/recursive.nsi
  agent/installer/inetc/Examples/Inetc/redirect.nsi
  agent/installer/inetc/Examples/Inetc/redirect.php
  agent/installer/inetc/Examples/Inetc/timeout.nsi
  agent/installer/inetc/Examples/Inetc/tostack.nsi
  agent/installer/inetc/Examples/Inetc/translate.nsi
  agent/installer/ns_json/Examples/nsJSON/Bin/ConsoleApp.exe
  agent/installer/ns_json/Examples/nsJSON/Bin/ConsoleAppDotNet.exe
  agent/installer/ns_json/Examples/nsJSON/Bin/HttpWebRequest.php
  agent/installer/ns_json/Examples/nsJSON/ConsoleExec.nsi
  agent/installer/ns_json/Examples/nsJSON/Example.nsi
  agent/installer/ns_json/Examples/nsJSON/HttpWebRequest.nsi
  agent/installer/ns_json/Examples/nsJSON/Input/Example1.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example1_Unicode.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example1_Unicode_UTF16BE.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example1_Unicode_UTF16LE.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example1_Unicode_UTF8.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example2.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example3.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example4.json
  agent/installer/ns_json/Examples/nsJSON/Input/Example5.json
  agent/installer/ns_json/Examples/nsJSON/Input/Preferences.json
  agent/installer/ns_json/Examples/nsJSON/Input/Preferences2.json
  agent/installer/ns_json/Examples/nsJSON/MultiTree.nsi
  agent/installer/ns_json/Examples/nsJSON/Quote.nsi
  agent/installer/ns_json/Examples/nsJSON/Sort.nsi
  agent/installer/ns_json/Examples/nsJSON/Syntax.nsi
  agent/installer/ns_json/Examples/nsJSON/UnicodeNSIS.nsi
Labels: skip-workflow-centreon-collect

#2175 Mon 158938 broker logs somes rrd error messages seems not relevant
  common/engine_conf/state.proto
  common/engine_conf/state_helper.cc
  common/engine_legacy_conf/state.cc
  engine/inc/com/centreon/engine/events/loop.hh
  engine/inc/com/centreon/engine/events/sched_info.hh
  engine/inc/com/centreon/engine/events/timed_event.hh
  engine/src/configuration/applier/scheduler.cc
  engine/src/configuration/applier/state.cc
  engine/src/events/loop.cc
  engine/src/events/timed_event.cc
  tests/engine/extended_conf.robot
Labels: skip-workflow-centreon-collect

#2185 fix(release): fixed .version file for collect used for release action
  .github/actions/release/action.yml
  .version
  .version.centreon-collect
Labels: skip-workflow-gorgone, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq, skip-workflow-gorgone-analysis, skip-workflow-centreon-common, skip-workflow-lua-curl, skip-workflow-centreon-collect

#2182 chore(deps): absorb 2025-03 dependabot GitHub Actions updates
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/get-environment.yml
  .github/workflows/gorgone.yml
  .github/workflows/libzmq.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .github/workflows/veracode-analysis.yml
  .github/workflows/windows-agent-robot-test.yml
  .github/workflows/windows-agent.yml
Labels: dependencies, gha, skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#2197 Mon 161867 backport cma improve checks syntax errors handling (#2174)
  agent/inc/com/centreon/agent/check_exec.hh
  agent/src/check_exec.cc
  agent/src/scheduler.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect

#2192 Mon 161654 dev 24 10 x broker logs somes rrd error messages seems not relevant
  common/engine_conf/state.proto
  common/engine_conf/state_helper.cc
  common/engine_legacy_conf/state.cc
  engine/inc/com/centreon/engine/configuration/applier/scheduler.hh
  engine/inc/com/centreon/engine/events/loop.hh
  engine/inc/com/centreon/engine/events/sched_info.hh
  engine/inc/com/centreon/engine/events/timed_event.hh
  engine/src/configuration/applier/scheduler.cc
  engine/src/configuration/applier/state.cc
  engine/src/events/loop.cc
  engine/src/events/timed_event.cc
  tests/engine/extended_conf.robot
Labels: skip-workflow-centreon-collect

#2195 Mon 161653 dev 24 04 x broker logs somes rrd error messages seems not relevant
  engine/inc/com/centreon/engine/configuration/applier/scheduler.hh
  engine/inc/com/centreon/engine/configuration/state.hh
  engine/inc/com/centreon/engine/events/loop.hh
  engine/inc/com/centreon/engine/events/sched_info.hh
  engine/inc/com/centreon/engine/events/timed_event.hh
  engine/src/configuration/applier/scheduler.cc
  engine/src/configuration/applier/state.cc
  engine/src/configuration/state.cc
  engine/src/events/loop.cc
  engine/src/events/timed_event.cc
  tests/engine/extended_conf.robot
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2200 fix(install): centengine scripts were parametrized in old mode
  agent/bench/centreon_conf/centreon-engine/centengine.cfg
  engine/conf/centengine.cfg.in
  engine/scripts/centengine.service.in
  engine/tests/cfg_files/conf1/centengine.cfg
  tests/engine/start-stop.robot
Labels: skip-workflow-centreon-collect

#2201 Mon 156194 new service for centengine
  agent/bench/README.md
  broker/CMakeLists.txt
  broker/config/module.json.in
  engine/scripts/centengine.service.in
  packaging/centreon-collect/centreon-engine-daemon.yaml
  tests/README.md
Labels: skip-workflow-centreon-collect

#2202 MON-160240 Sync release 24.10 Collect February 2025
  .github/actions/release/action.yml
  CMakeLists.txt
  tests/broker-engine/start-stop.robot
Labels: skip-workflow-centreon-collect

#2211 enh(ci): enhancements on nightly ticket creation
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/workflows/centreon-collect.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
Labels: skip-workflow-centreon-collect

#2221 Mon 159565 fix cma installer certificate public cert issue (#2098)
  .github/scripts/agent_installer_test.ps1
  agent/bench/create_many_linux_agent.py
  agent/conf/centagent.json.in
  agent/conf/centagent.reg
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsddef
  agent/installer/resources/encryption_dlg.nsdinc
  agent/installer/silent.nsi
Labels: skip-workflow-centreon-collect

#2225 chore(ci): update tj-actions/changed-files to 46.0.1 for branch dev-24.04.x
  .github/workflows/get-environment.yml
Labels: gha

#2227 chore(ci): update tj-actions/changed-files to 46.0.1 for branch dev-23.04.x
  .github/workflows/get-environment.yml
Labels: gha

#2207 Mon 162401 cma allow connection without tls debug mode (#2134)
  .github/scripts/wsl-collect-test-robot.sh
  agent/src/main.cc
  agent/src/main_win.cc
  engine/modules/opentelemetry/src/open_telemetry.cc
  tests/broker-engine/cma.robot
  tests/resources/Agent.py
  tests/resources/Common.py
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2226 chore(ci): update tj-actions/changed-files to 46.0.1 for branch dev-23.10.x
  .github/workflows/get-environment.yml
Labels: gha

#2224 chore(ci): update tj-actions/changed-files to 46.0.1 for branch dev-24.10.x
  .github/workflows/get-environment.yml
Labels: gha

#2228 chore(ci): update tj-actions/changed-files to 46.0.1 for branch release-25.03-next
  .github/workflows/get-environment.yml
Labels: gha

#2229 chore(ci): update tj-actions/changed-files to 46.0.1 for branch release-24.10-next
  .github/workflows/get-environment.yml
Labels: gha

#2230 chore(ci): update tj-actions/changed-files to 46.0.1 for branch release-24.04-next
  .github/workflows/get-environment.yml
Labels: gha

#2231 chore(ci): update tj-actions/changed-files to 46.0.1 for branch release-23.10-next
  .github/workflows/get-environment.yml
Labels: gha

#2232 chore(ci): update tj-actions/changed-files to 46.0.1 for branch master
  .github/workflows/get-environment.yml
Labels: gha

#2233 chore(ci): update tj-actions/changed-files to 46.0.1 for branch 24.10.x
  .github/workflows/get-environment.yml
Labels: gha

#2236 chore(ci): update tj-actions/changed-files to 46.0.1 for branch 23.04.x
  .github/workflows/get-environment.yml
Labels: gha

#2234 chore(ci): update tj-actions/changed-files to 46.0.1 for branch 24.04.x
  .github/workflows/get-environment.yml
Labels: gha

#2100 Mon 155395 native eventlog check
  .github/workflows/package-collect.yml
  CMakeLists.txt
  CMakePresets.json
  agent/CMakeLists.txt
  agent/doc/agent-doc.md
  agent/doc/pictures/filter_example.png
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/config.hh
  agent/inc/com/centreon/agent/filter.hh
  agent/inc/com/centreon/agent/filter_rules.hh
  agent/native_linux/src/check_cpu.cc
  agent/native_windows/inc/com/centreon/agent/check_event_log.hh
  agent/native_windows/inc/com/centreon/agent/event_log/container.hh
  agent/native_windows/inc/com/centreon/agent/event_log/data.hh
  agent/native_windows/inc/com/centreon/agent/event_log/uniq.hh
  agent/native_windows/inc/com/centreon/agent/windows_util.hh
  agent/native_windows/src/check_cpu.cc
  agent/native_windows/src/check_event_log.cc
  agent/native_windows/src/check_uptime.cc
  agent/native_windows/src/event_log/container.cc
  agent/native_windows/src/event_log/data.cc
  agent/native_windows/src/event_log/uniq.cc
  agent/native_windows/src/windows_util.cc
  agent/precomp_inc/precomp.hh
  agent/src/bireactor.cc
  agent/src/check.cc
  agent/src/check_exec.cc
  agent/src/check_health.cc
  agent/src/config.cc
  agent/src/config_win.cc
  agent/src/drive_size.cc
  agent/src/filter.cc
  agent/src/filter_rules.cc
  agent/src/main.cc
  agent/src/main_win.cc
  agent/src/native_check_base.cc
  agent/src/native_check_cpu_base.cc
  agent/src/scheduler.cc
  agent/src/streaming_client.cc
  agent/src/streaming_server.cc
  agent/test/CMakeLists.txt
  agent/test/check_event_log_data_test.cc
  agent/test/check_event_log_data_test.hh
  agent/test/check_event_log_filter_test.cc
  agent/test/check_event_log_test.cc
  agent/test/check_event_log_uniq_test.cc
  agent/test/check_test.cc
  agent/test/check_windows_service_test.cc
  agent/test/filter_test.cc
  agent/test/scheduler_test.cc
  clib/inc/com/centreon/exceptions/msg_fmt.hh
  common/CMakeLists.txt
  common/doc/common-doc.md
  common/inc/com/centreon/common/absl_flyweight_factory.hh
  common/process/src/process.cc
  common/tests/CMakeLists.txt
  common/tests/absl_flyweight_factory_test.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
  vcpkg.json
Labels: skip-workflow-docker-collect-testing, skip-workflow-docker-packaging, skip-workflow-centreon-collect

#2216 MON-161398 generate agent pdb file and update asio usage
  .github/workflows/windows-agent.yml
  CMakeListsWindows.txt
  agent/CMakeLists.txt
Labels: skip-workflow-centreon-collect

#2171 fix(gorgone): add poller-performance to rrds database
  gorgone/gorgone/modules/centreon/statistics/class.pm
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2173 fix(gorgone): add poller-performance to rrds database
  gorgone/gorgone/modules/centreon/statistics/class.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2172 fix(gorgone): add poller-performance to rrds database
  gorgone/gorgone/modules/centreon/statistics/class.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis
