Repository centreon/centreon-collect, pull requests merged in 2025-05, with the labels that each got.

#2309 Mon-160976 gorgone fails to install plugins on recent rh like os not containing yum
  .github/docker/Dockerfile.gorgone-testing-alma8
  .github/docker/Dockerfile.gorgone-testing-alma9
  .github/docker/Dockerfile.gorgone-testing-bookworm
  gorgone/contrib/gorgone_install_plugins.pl
Labels: skip-workflow-gorgone-analysis

#2341 chore(deps): absorb 2025-05 dependabot GitHub Actions updates
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/get-environment.yml
  .github/workflows/gitleaks.yml
  .github/workflows/monitoring-agent.yml
  .github/workflows/robot-test.yml
Labels: dependencies, gha, skip-workflow-docker-gorgone-testing

#2328 MON-164494 each agent check has its own check_interval
  agent/doc/agent-doc.md
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/scheduler.hh
  agent/installer/centreon-monitoring-agent-modify.nsi
  agent/installer/centreon-monitoring-agent.nsi
  agent/native_windows/src/check_process.cc
  agent/proto/agent.proto
  agent/src/scheduler.cc
  agent/test/scheduler_test.cc
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_config.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/conf_helper.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_config.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/telegraf/conf_server.cc
  engine/tests/opentelemetry/otl_server_test.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2356 fix(packaging): Add perl(Tie::File) dependency in gorgone rpm package
  gorgone/packaging/centreon-gorgone.yaml
Labels: backport, skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2355 fix(packaging): Add perl(Tie::File) dependency in gorgone rpm package
  gorgone/packaging/centreon-gorgone.yaml
Labels: backport, skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2357 fix(packaging): Add perl(Tie::File) dependency in gorgone rpm package
  gorgone/packaging/centreon-gorgone.spectemplate
Labels: backport, skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2299 Mon 157904 migrate last bbdo2 events
  broker/CMakeLists.txt
  broker/core/inc/com/centreon/broker/instance_broadcast.hh
  broker/core/src/config/applier/state.cc
  broker/core/src/instance_broadcast.cc
  broker/core/src/io/events.cc
  broker/grpc/generate_proto.py
  broker/simu/test/simu.cc
  tests/broker/bbdo-server-client-reversed.robot
  tests/broker/bbdo-server-client.robot
  tests/resources/specific-duplication.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2358 MON-167683: fix dump::service and add PARENT_RENAME test
  engine/src/retention/dump.cc
  tests/broker-engine/parent_child_relation.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2327 Mon 147308 cma native checks windows counter
  agent/CMakeLists.txt
  agent/inc/com/centreon/agent/filter.hh
  agent/native_windows/inc/com/centreon/agent/check_counter.hh
  agent/native_windows/src/check_counter.cc
  agent/src/filter.cc
  agent/src/filter_rules.cc
  agent/src/main_win.cc
  agent/src/scheduler.cc
  agent/test/CMakeLists.txt
  agent/test/check_windows_counter.cc
  tests/broker-engine/cma.robot
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2363 Mon 146720 tags issue
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/tags.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2367 chore(secu): add perl libs analysis
  .github/workflows/perl-libs-analysis.yml
Labels: skip-workflow-gorgone, skip-workflow-perl-libs-analysis

#2331 fix(engine/clib): fixed an issue that prevented Engine to stop correc…
  clib/src/process_manager.cc
  engine/inc/com/centreon/engine/commands/connector.hh
  engine/inc/com/centreon/engine/commands/forward.hh
  engine/src/commands/connector.cc
  engine/src/utils.cc
  tests/broker-engine/services-and-bulk-stmt.robot
  tests/broker-engine/start-stop.robot
  tests/engine/start-stop.robot
  tests/resources/Broker.py
  tests/resources/Engine.py
  tests/resources/engine-scripts/check.pl
Labels: skip-workflow-centreon-collect

#2343 MON-165774 add ICON_UPDATE test (#2283)
  engine/src/configuration/applier/host.cc
  engine/src/configuration/applier/service.cc
  tests/broker-engine/services.robot
Labels: skip-workflow-centreon-collect

#2364 MON-164501 fix agent test and change some installer labels
  .github/scripts/agent_installer_test.ps1
  .github/workflows/monitoring-agent.yml
  agent/inc/com/centreon/agent/scheduler.hh
  agent/installer/dlg_helper.nsi
  agent/installer/resources/encryption_dlg.nsddef
  agent/installer/resources/encryption_dlg.nsdinc
  agent/installer/silent.nsi
  agent/precomp_inc/precomp.hh
  agent/src/config.cc
  agent/src/scheduler.cc
  agent/test/scheduler_test.cc
  engine/tests/pb_service_check.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-agent-analysis, skip-workflow-engine-analysis

#2365 MON-168435 each agent check has its own check_interval (#2328)
  agent/doc/agent-doc.md
  agent/inc/com/centreon/agent/check.hh
  agent/inc/com/centreon/agent/scheduler.hh
  agent/installer/centreon-monitoring-agent-modify.nsi
  agent/installer/centreon-monitoring-agent.nsi
  agent/native_windows/src/check_process.cc
  agent/proto/agent.proto
  agent/src/scheduler.cc
  agent/test/scheduler_test.cc
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/centreon_agent/agent_config.hh
  engine/modules/opentelemetry/inc/com/centreon/engine/modules/opentelemetry/conf_helper.hh
  engine/modules/opentelemetry/src/centreon_agent/agent_config.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_impl.cc
  engine/modules/opentelemetry/src/centreon_agent/agent_service.cc
  engine/modules/opentelemetry/src/telegraf/conf_server.cc
  engine/tests/opentelemetry/agent_reverse_client_test.cc
  engine/tests/opentelemetry/agent_to_engine_test.cc
  engine/tests/opentelemetry/otl_server_test.cc
  tests/broker-engine/cma.robot
  tests/resources/Common.py
Labels: skip-workflow-centreon-collect

#2330 fix(ci): refactor monitoring agent workflow (#2208)
  .github/actions/deliver-github-asset/action.yml
  .github/actions/delivery/action.yml
  .github/actions/package/action.yml
  .github/actions/parse-distrib/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/release/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/monitoring-agent.yml
  .github/workflows/package-collect.yml
  .github/workflows/release-trigger-builds.yml
  .github/workflows/robot-test.yml
  .github/workflows/windows-agent-robot-test.yml
  .github/workflows/windows-agent.yml
  packaging/centreon-monitoring-agent/centreon-monitoring-agent-debuginfo.yaml
  packaging/centreon-monitoring-agent/centreon-monitoring-agent-selinux.yaml
  packaging/centreon-monitoring-agent/centreon-monitoring-agent.yaml
  packaging/centreon-monitoring-agent/scripts/centreon-monitoring-agent-postinstall.sh
  packaging/centreon-monitoring-agent/scripts/centreon-monitoring-agent-postremove.sh
  packaging/centreon-monitoring-agent/scripts/centreon-monitoring-agent-preinstall.sh
  packaging/centreon-monitoring-agent/scripts/centreon-monitoring-agent-preremove.sh
  packaging/centreon-monitoring-agent/scripts/centreon-monitoring-agent-selinux-postinstall.sh
  packaging/centreon-monitoring-agent/scripts/centreon-monitoring-agent-selinux-preremove.sh
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2376 Mon 169515 tags issue backport 24.10
  broker/CMakeLists.txt
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream.cc
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/cma.robot
  tests/broker-engine/tags.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2377 MON-169516 tags issue (#2363)
  broker/unified_sql/inc/com/centreon/broker/unified_sql/stream.hh
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/tags.robot
  tests/resources/Common.py
  tests/resources/resources.resource
Labels: skip-workflow-centreon-collect

#2373 MON-162298 Sync release collect 25.03
  .gitleaks.toml
  agent/bench/nsclient.ini
Labels: skip-workflow-monitoring-agent, skip-workflow-agent-analysis

#2379 Mon 168882 engine coredump after parent host rename 24.10
  engine/src/retention/dump.cc
  tests/broker-engine/parent_child_relation.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2380 MON-168883-Engine-coredump-after-parent-host-rename-backport-24.04
  engine/src/retention/dump.cc
  tests/broker-engine/parent_child_relation.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect

#2352 MON-144571: Updated doc for SSL support
  gorgone/docs/configuration.md
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2347 MON-159135: Gorgone cannot use proxy when protocol is specified
  gorgone/gorgone/modules/centreon/anomalydetection/class.pm
  gorgone/tests/unit/class/anomalydetection.t
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2385 fix(ci): no unqlite in dockers and bench tests unstable
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bookworm-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mariadb-jammy-test
  .github/docker/Dockerfile.centreon-collect-mariadb-noble-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/collect-test-robot.sh
  tests/broker-engine/bench.robot
  tests/resources/import.resource
Labels: skip-workflow-docker-collect-testing

#2345 MON-168430 Centreon next 23.10 (Jira release #20817#)
  .github/CODEOWNERS
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/gitleaks.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .gitleaks.toml
  .version.centreon-gorgone
  gorgone/gorgone/modules/centreon/statistics/class.pm
  gorgone/packaging/centreon-gorgone.spectemplate
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2349 MON-168473 Centreon next 24.04 (Jira release #20822#)
  .github/CODEOWNERS
  .github/actions/create-jira-ticket/action.yml
  .github/actions/create-jira-ticket/nightly-ticket-template.json
  .github/actions/package/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/gitleaks.yml
  .github/workflows/gorgone.yml
  .github/workflows/lua-curl.yml
  .github/workflows/package-collect.yml
  .github/workflows/robot-test.yml
  .gitleaks.toml
  .version.centreon-gorgone
  gorgone/gorgone/modules/centreon/statistics/class.pm
  gorgone/packaging/centreon-gorgone.yaml
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2388 fix(ci): only run dispatch from specific repositories
  .github/workflows/agent-analysis.yml
  .github/workflows/bbdo-analysis.yml
  .github/workflows/broker-analysis.yml
  .github/workflows/checkmarx-analysis.yml
  .github/workflows/clib-analysis.yml
  .github/workflows/connectors-analysis.yml
  .github/workflows/docker-collect-testing.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/docker-packaging.yml
  .github/workflows/engine-analysis.yml
  .github/workflows/gorgone-analysis.yml
  .github/workflows/perl-libs-analysis.yml
Labels: skip-workflow-docker-gorgone-testing

#2393 refactor(grpc): update encryption configuration to accept string values
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
  tests/broker-engine/bench.robot
  tests/broker-engine/cma.robot
  tests/resources/Engine.py
Labels: skip-workflow-centreon-collect, skip-workflow-engine-analysis

#2397 MON-170669 use python venv and remove unqlite (#2396)
  .github/docker/Dockerfile.centreon-collect-mariadb-alma9-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bookworm-test
  .github/docker/Dockerfile.centreon-collect-mariadb-bullseye-test
  .github/docker/Dockerfile.centreon-collect-mariadb-jammy-test
  .github/docker/Dockerfile.centreon-collect-mysql-alma9-test
  .github/scripts/collect-test-robot.sh
Labels: skip-workflow-docker-collect-testing
