Repository centreon/centreon-collect, pull requests merged in 2025-09, with the labels that each got.

#2691 feat(ci): allow parallel delivery of release and hotfix
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/parse-distrib/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/docker/Dockerfile.gorgone-testing-bookworm
  .github/workflows/centreon-collect.yml
  .github/workflows/docker-gorgone-testing.yml
  .github/workflows/libzmq.yml
  .github/workflows/monitoring-agent.yml
Labels: skip-workflow-docker-gorgone-testing, skip-workflow-libzmq

#2710 MON-176304 enh(engine broker):add is_encryption_ready in Instance and instances tables
  broker/unified_sql/src/stream_sql.cc
  tests/broker-engine/macros_encryption.robot
  tests/broker/negociation.robot
Labels: skip-workflow-centreon-collect, skip-workflow-broker-analysis

#2703 enh(grpc): support additional encryption values in configuration
  engine/modules/opentelemetry/src/grpc_config.cc
  engine/tests/opentelemetry/grpc_config_test.cc
Labels: skip-workflow-centreon-collect, skip-workflow-engine-analysis

#2725 MON-182381 enh(broker): bbdo server use client bbdo version (#2697)
  bbdo/bbdo/bbdo_version.hh
  broker/core/src/bbdo/stream.cc
  tests/broker/negociation.robot
Labels: skip-workflow-centreon-collect

#2729 fix(engine): old loop syntax in centreon-engine-daemon-postinstall.sh
  packaging/centreon-collect/scripts/centreon-engine-daemon-postinstall.sh
Labels: skip-workflow-centreon-collect

#2730 fix(engine): old loop syntax in centreon-engine-daemon-postinstall.sh
  packaging/centreon-collect/scripts/centreon-engine-daemon-postinstall.sh
Labels: skip-workflow-centreon-collect

#2733 enh(ci): fetch upload-artifacts label form api instead of github context
  .github/actions/package/action.yml
  .github/workflows/centreon-collect.yml
  .github/workflows/centreon-common.yml
  .github/workflows/gorgone.yml
  .github/workflows/lua-curl.yml
  .github/workflows/monitoring-agent.yml
  .github/workflows/package-collect.yml
Labels: upload-artifacts, skip-workflow-centreon-collect, skip-workflow-monitoring-agent

#2752 MON-183648 remove some service and host status duplicates 24.04
  bbdo/neb.proto
  broker/neb/src/callbacks.cc
  broker/unified_sql/src/stream_sql.cc
  engine/inc/com/centreon/engine/host.hh
  engine/inc/com/centreon/engine/notifier.hh
  engine/inc/com/centreon/engine/service.hh
  engine/src/events/loop.cc
  engine/src/host.cc
  engine/src/service.cc
  tests/broker-engine/downtimes.robot
Labels: skip-workflow-centreon-collect

#2747 enh(broker): bbdo server use client bbdo version
  bbdo/bbdo/bbdo_version.hh
  broker/core/src/bbdo/stream.cc
  tests/broker/negociation.robot
Labels: skip-workflow-centreon-collect

#2746 MON-182818 enh(broker): bbdo server use client bbdo version release 24.10
  bbdo/bbdo/bbdo_version.hh
  broker/core/src/bbdo/stream.cc
  tests/broker/negociation.robot
Labels: skip-workflow-centreon-collect

#2744 MON-181988 enh(engine): async connector and use of raw_v2
  broker/neb/CMakeLists.txt
  common/process/inc/com/centreon/common/process/process.hh
  common/process/src/process.cc
  engine/enginerpc/precomp_inc/precomp.hh
  engine/inc/com/centreon/engine/commands/connector.hh
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/inc/com/centreon/engine/commands/result.hh
  engine/src/checks/checker.cc
  engine/src/commands/command.cc
  engine/src/commands/connector.cc
  engine/src/commands/raw.cc
  engine/src/commands/raw_v2.cc
  engine/src/commands/result.cc
  engine/src/configuration/applier/command.cc
  engine/src/configuration/applier/connector.cc
  engine/src/main.cc
  engine/src/utils.cc
  engine/tests/commands/connector.cc
  engine/tests/commands/pbsimple-command.cc
  engine/tests/external_commands/pbservice.cc
  engine/tests/external_commands/service.cc
  tests/broker-engine/whitelist.robot
  tests/engine/engine_load.robot
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-engine-analysis, skip-workflow-broker-analysis

#2768 fix(artifactory): reindex apt/yum repos on package delivery (#2767)
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/libzmq.yml
Labels: skip-workflow-libzmq

#2769 fix(artifactory): reindex apt/yum repos on package delivery (#2767)
  .github/actions/deb-delivery/action.yml
  .github/actions/delivery/action.yml
  .github/actions/promote-to-stable/action.yml
  .github/actions/rpm-delivery/action.yml
  .github/workflows/libzmq.yml
Labels: skip-workflow-libzmq

#2775 fix(packaging): fix permissions on broker and engine log directories
  packaging/centreon-collect/centreon-broker.yaml
  packaging/centreon-collect/scripts/centreon-broker-postinstall.sh
  packaging/centreon-collect/scripts/centreon-engine-daemon-postinstall.sh
Labels: skip-workflow-centreon-collect

#2781 fix(packaging): fix permissions on broker and engine log directories …
  packaging/centreon-collect/centreon-broker.yaml
  packaging/centreon-collect/scripts/centreon-broker-postinstall.sh
  packaging/centreon-collect/scripts/centreon-engine-daemon-postinstall.sh
Labels: skip-workflow-centreon-collect

#2787 fix(packaging): Revert fix permissions on broker and engine log dire…
  packaging/centreon-collect/centreon-broker.yaml
  packaging/centreon-collect/scripts/centreon-broker-postinstall.sh
  packaging/centreon-collect/scripts/centreon-engine-daemon-postinstall.sh
Labels: skip-workflow-centreon-collect

#2783 Mon 185824 engine still returns false plugins exit codes dev 24.10
  .github/workflows/windows-agent-robot-test.yml
  broker/neb/CMakeLists.txt
  common/process/inc/com/centreon/common/process/process.hh
  common/process/src/process.cc
  engine/enginerpc/precomp_inc/precomp.hh
  engine/inc/com/centreon/engine/commands/connector.hh
  engine/inc/com/centreon/engine/commands/raw_v2.hh
  engine/inc/com/centreon/engine/commands/result.hh
  engine/modules/opentelemetry/precomp_inc/precomp.hh
  engine/src/checks/checker.cc
  engine/src/commands/command.cc
  engine/src/commands/connector.cc
  engine/src/commands/raw.cc
  engine/src/commands/raw_v2.cc
  engine/src/commands/result.cc
  engine/src/configuration/applier/command.cc
  engine/src/configuration/applier/connector.cc
  engine/src/main.cc
  engine/src/utils.cc
  engine/tests/commands/connector.cc
  engine/tests/commands/pbsimple-command.cc
  engine/tests/external_commands/pbservice.cc
  engine/tests/external_commands/service.cc
  tests/broker-engine/whitelist.robot
  tests/connector_perl/conf_engine/centengine.cfg
  tests/connector_perl/conf_engine/central-module.json
  tests/connector_perl/conf_engine/commands.cfg
  tests/connector_perl/conf_engine/connectors.cfg
  tests/connector_perl/conf_engine/hostTemplates.cfg
  tests/connector_perl/conf_engine/hosts.cfg
  tests/connector_perl/conf_engine/resource.cfg
  tests/connector_perl/conf_engine/test.pl
  tests/connector_perl/conf_engine/timeperiods.cfg
  tests/connector_perl/connector_perl.robot
  tests/connector_ssh/connector_ssh.robot
  tests/engine/engine_load.robot
  tests/resources/Engine.py
  tests/resources/engine-scripts/check.pl
Labels: skip-workflow-centreon-collect, skip-workflow-monitoring-agent, skip-workflow-engine-analysis, skip-workflow-broker-analysis

#2745 cleanup(gorgone): Remove mbi contrib files that now live in centreon-mbi directly
  gorgone/contrib/mbi/centreonBIETL
  gorgone/contrib/mbi/dimensionBuilder.pl
  gorgone/contrib/mbi/eventStatisticsBuilder.pl
  gorgone/contrib/mbi/importData.pl
  gorgone/contrib/mbi/perfdataStatisticsBuilder.pl
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis

#2739 fix(gorgone-pullwss): Split GETLOG message before sending them to another host
  gorgone/gorgone/modules/core/proxy/hooks.pm
  gorgone/gorgone/modules/core/pullwss/class.pm
  gorgone/gorgone/modules/core/pullwss/hooks.pm
  gorgone/gorgone/standard/library.pm
Labels: skip-workflow-gorgone, skip-workflow-gorgone-analysis
